<header id="header" th:fragment="buHeader">
<link type="text/css" href="/eadmin/bootstrap/css/bootstrap.min.css"
	rel="stylesheet" />
<link type="text/css"
	href="/eadmin/bootstrap/css/bootstrap-responsive.min.css"
	rel="stylesheet" />
<link type="text/css" href="/eadmin/css/style.css" rel="stylesheet" />
<link type="text/css" href="/eadmin/images/icons/css/font-awesome.css"
	rel="stylesheet" />
<link type="text/css"
	href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600'
	rel='stylesheet' />
<script src="/eadmin/scripts/jquery-1.9.1.min.js"
	type="text/javascript"></script>
<script src="/eadmin/scripts/jquery-ui-1.10.1.custom.min.js"
	type="text/javascript"></script>
<script src="/eadmin/bootstrap/js/bootstrap.min.js"
	type="text/javascript"></script>
<script src="/eadmin/scripts/flot/jquery.flot.js"
	type="text/javascript"></script>
<!-- temporary script to copy a styles from one DOM element to another -->	
<!-- <script src="/eadmin/scripts/jquery.copycss.js"
	type="text/javascript"></script> -->	
	
	
<script>
 	$(document).ready(function(){
		count = 0; });
		/* $('.moduleTask').copyCSS('.module'); */
/* 	    $("#taskSubmit").click(function(){
	    	count = count + 1;
	    	console.log('count', count);
 */	        /* $(".moduleTask").clone(true).removeAttr("id").appendTo(".content"); */
/* 	    	$(".moduleTask").clone(true).appendTo(".content"); */
/* 	    }); */
		
/* 		$('#taskSubmit').click(function(){
			event.preventDefault();
			ajaxPost();
			
			function ajaxPost(){
				var formData = 'dummyInfo';
		    	// DO POST
		    	$.ajax({
					type : "POST",
					contentType : "application/json; charset=utf-8",
					url : "/addTask",
					data : JSON.stringify(formData),
					dataType : 'json',
					success : function(result) {
						alert('the message has been sent!');
						console.log("result", result);
					},
					error : function(e) {
						console.log(formData);
						console.log("ERROR: ", e);
					}
				});
			}
		});
	}); */
</script>

	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse"
					data-target=".navbar-inverse-collapse"> <i
					class="icon-reorder shaded"></i>
				</a>
				<a class="brand" href="index.html"> Judl.aw </a>

				<div class="nav-collapse collapse navbar-inverse-collapse">
					<ul class="nav nav-icons">
						<li class="active"><a href="/eadmin/chat"> <i class="icon-envelope"></i>
						</a></li>
						<li><a href="eadmin/viewProject"> <i class="icon-eye-open"></i>
						</a></li>
						<li><a href="#"> <i class="icon-bar-chart"></i>
						</a></li>
					</ul>

					<form class="navbar-search pull-left input-append" action="#">
						<input type="text" class="span3" />
						<button class="btn" type="button">
							<i class="icon-search"></i>
						</button>
					</form>

					<ul class="nav pull-right">
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown">Dropdown <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#">Item No. 1</a></li>

								<li><a href="#">Don't Click</a></li>
								<li class="divider"></li>
								<li class="nav-header">Example Header</li>
								<li><a href="#">A Separated link</a></li>
							</ul></li>

						<li><a href="#"> Support </a></li>
						<li class="nav-user dropdown"><a href="#"
							class="dropdown-toggle" data-toggle="dropdown"> <img
								src="/eadmin/images/user.png" class="nav-avatar" /> <b class="caret"></b>
						</a>
							<ul class="dropdown-menu">
								<li><a href="#">Your Profile</a></li>
								<li><a href="#">Edit Profile</a></li>
								<li><a href="#">Account Settings</a></li>
								<li class="divider"></li>
								<li><a href="/logout">Logout</a></li>
							</ul></li>
					</ul>
				</div>
				<!-- /.nav-collapse -->
			</div>
		</div>
		<!-- /navbar-inner -->
	</div>
	<!-- /navbar -->
</header>