<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="utf-8"/>
		<!-- D3.js -->
 		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"
			charset="utf-8"></script>
<!-- 		<script src="https://d3js.org/d3.v4.js"></script> -->
		<script src="https://d3js.org/queue.v1.min.js"></script>

		<!-- jQuery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<!-- Google fonts -->
		<link href='https://fonts.googleapis.com/css?family=Oswald:300,400' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700' rel='stylesheet' type='text/css'>
		
		
		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>


		<!-- Stylesheet -->
		<link type="text/css" th:href="@{/eadmin/css/style_dashboard.css}" rel="stylesheet"/>
        <link type="text/css" th:href="@{/eadmin/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
        <link type="text/css" th:href="@{/eadmin/bootstrap/css/bootstrap-responsive.min.css}" rel="stylesheet"/>

		<!-- Stylesheet -->
	<style>
		body { text-align: center; }
	</style>
	
</head>
<body>

	<div id="chart"></div>
	<script th:inline="javascript">
		/*<![CDATA[*/
queue().defer(d3.csv, "/eadmin/scripts/occupations.csv").defer(d3.csv, "/eadmin/scripts/ID.csv").defer(d3.json, "/eadmin/scripts/occupation.json").await(drawAll);
//Initiates practically everything
function drawAll(error, ageCSV, idCSV, occupations) {
			var a = /*[[${jsonArray}]]*/;
/* 			var root = d3.stratify()
		    .id(function(d) { return d.name; })
		    .parentId(function(d) { return d.parent; })
		    (a);
			console.log('a', root); */
			////////////////////////////////////////////////////////////// 
			////////////////// Create Set-up variables  ////////////////// 
			////////////////////////////////////////////////////////////// 
			var width = Math.max($("#chart").width(),350) - 20,
				height = (window.innerWidth < 768 ? width : window.innerHeight - 20);

			var mobileSize = (window.innerWidth < 768 ? true : false);

			var centerX = width/2,
				centerY = height/2;
			////////////////////////////////////////////////////////////// 
			/////////////////////// Create SVG  /////////////////////// 
			////////////////////////////////////////////////////////////// 
			
			//Create the visible canvas and context
			var canvas  = d3.select("#chart").append("canvas")
				.attr("id", "canvas")
				.attr("width", width)
				.attr("height", height);
			var context = canvas.node().getContext("2d");
				context.clearRect(0, 0, width, height);
			
			//Create a hidden canvas in which each circle will have a different color
			//We can use this to capture the clicked on circle
			var hiddenCanvas  = d3.select("#chart").append("canvas")
				.attr("id", "hiddenCanvas")
				.attr("width", width)
				.attr("height", height)
				.style("display","none");	
			var hiddenContext = hiddenCanvas.node().getContext("2d");
				hiddenContext.clearRect(0, 0, width, height);

			//Create a custom element, that will not be attached to the DOM, to which we can bind the data
			var detachedContainer = document.createElement("custom");
			var dataContainer = d3.select(detachedContainer);

			////////////////////////////////////////////////////////////// 
			/////////////////////// Create Scales  /////////////////////// 
			////////////////////////////////////////////////////////////// 

			var colorCircle = d3.scale.ordinal()
					.domain([0,1,2,3])
					.range(['#bfbfbf','#838383','#4c4c4c','#1c1c1c']);

			var diameter = Math.min(width*0.9, height*0.9);
			var pack = d3.layout.pack()
				.padding(1)
				.size([diameter, diameter])
				.value(function(d) { return d.size; })
				.sort(function(d) { return d.ID; });

			
			
			////////////////////////////////////////////////////////////// 
			////////////////// Create Circle Packing /////////////////////
			////////////////////////////////////////////////////////////// 

			var nodes = pack.nodes(occupations),
				root = occupations,
				focus = root;
				nodeCount = nodes.length;
			
			//Dataset to swtich between color of a circle (in the hidden canvas) and the node data	
			var colToCircle = {};
			
			//Create the circle packing as if it was a normal D3 thing
			var dataBinding = dataContainer.selectAll(".node")
				.data(nodes)
				.enter().append("circle")
				.attr("id", function(d,i) { return "nodeCircle_"+i; })
				.attr("class", function(d,i) { return d.parent ? d.children ? "node" : "node node--leaf" : "node node--root"; })
				.attr("r", function(d) { return d.r; })
				.attr("cx", 0)
				.attr("cy", 0)
				.attr("fill", function(d) { return d.children ? colorCircle(d.depth) : "white"; });
			
			//First zoom to get the circles to the right location
			zoomToCanvas(root);
			
			
			////////////////////////////////////////////////////////////// 
			///////////////// Create Bar Chart Data //////////////////////
			////////////////////////////////////////////////////////////// 
			
			//Turn the value into an actual numeric value
			ageCSV.forEach(function(d) { d.value = +d.value; });
		 
			//Create new dataset grouped by ID
			data = d3.nest()
				.key(function(d) { return d.ID; })
				.entries(ageCSV);
				
			//Find the max value per ID - needed for the bar scale setting per mini bar chart
			dataMax = d3.nest()
				.key(function(d) { return d.ID; })
				.rollup(function(d) { return d3.max(d, function(g) {return g.value;}); })
				.entries(ageCSV);

			//Array to keep track of which ID belongs to which index in the array
			var dataById = {};
			data.forEach(function (d, i) { 
				dataById[d.key] = i; 
			});	
			
			var IDbyName = {};
			//Small file to get the IDs of the non leaf circles
			idCSV.forEach(function (d, i) { 
				IDbyName[d.name] = d.ID; 
			});	
			
			
			////////////////////////////////////////////////////////////// 
			///////////////// Canvas draw function ///////////////////////
			////////////////////////////////////////////////////////////// 
			
			//The draw function of the canvas that gets called on each frame
			function drawCanvas(chosenContext, hidden) {

			  //Clear canvas
			  chosenContext.fillStyle = "#fff";
			  chosenContext.rect(0,0,canvas.attr("width"),canvas.attr("height"));
			  chosenContext.fill();
			  
			  //Select our dummy nodes and draw the data to canvas.
			  var elements = dataContainer.selectAll(".node");
			  elements.each(function(d) {
				  
				var node = d3.select(this);

				//If the hidden canvas was send into this function
				//and it does not yet have a color, generate a unique one
				if(hidden) {
					if(node.attr("color") === null) {
					  // If we have never drawn the node to the hidden canvas get a new color for it and put it in the dictionary.
					  node.attr("color", genColor());
					  colToCircle[node.attr("color")] = node;
					}//if
					// On the hidden canvas each rectangle gets a unique color.
					chosenContext.fillStyle = node.attr("color");
				} else {
					chosenContext.fillStyle = node.attr("fill");
				}//else
				
				//Draw each circle
				chosenContext.beginPath();
				chosenContext.arc((centerX + +node.attr("cx")), (centerY + +node.attr("cy")), node.attr("r"), 0,  2 * Math.PI, true);
				chosenContext.fill();
				/* chosenContext.closePath(); */
				
				
				//Draw the bars inside the circles (only in the visible canvas)
				//Only draw bars in leaf nodes
				if(node.ID in dataById) {
					//Only draw the bars that are in the same parent ID as the clicked on node
					if(node.ID.lastIndexOf(currentID, 0) === 0  & !hidden) {
						//if(node.ID === "1.1.1.30") console.log(currentID);
															
						//Variables for the bar title
						var drawTitle = true;
						var fontSizeTitle = Math.round(nodeR / 10);
						if (fontSizeTitle < 8) drawTitle = false;

						//Only draw the title if the font size is big enough
						if(drawTitle & showText) {	
							//First the light grey total text
							chosenContext.font = (fontSizeTitle*0.5 <= 5 ? 0 : Math.round(fontSizeTitle*0.5)) + "px " + bodyFont;
							chosenContext.fillStyle = "rgba(191,191,191," + textAlpha +")" //"#BFBFBF";
							chosenContext.textAlign = "center";
							chosenContext.textBaseline = "middle"; 
							chosenContext.fillText("Total "+commaFormat(node.size)+" (in thousands)", nodeX, nodeY + -0.75 * nodeR);
							
							//Get the text back in pieces that will fit inside the node
							var titleText = getLines(chosenContext, node.name, nodeR*2*0.7, fontSizeTitle, titleFont);
							//Loop over all the pieces and draw each line
							titleText.forEach(function(txt, iterator) { 
								chosenContext.font = fontSizeTitle + "px " + titleFont;
								chosenContext.fillStyle = "rgba(" + mainTextColor[0] + "," + mainTextColor[1] + ","+ mainTextColor[2] + "," + textAlpha +")";
								chosenContext.textAlign = "center";
								chosenContext.textBaseline = "middle"; 
								chosenContext.fillText(txt, nodeX, nodeY + (-0.65 + iterator*0.125) * nodeR);
							})//forEach
							
						}//if

						//The barscale differs per node
						var barScale = d3.scale.linear()
							.domain([0, dataMax[dataById[node.ID]].values]) //max value of bar charts in circle
							.range([0, nodeR]);
				
						//Variables for the bar chart
						var bars = data[dataById[node.ID]].values,
							totalOffset = nodeX + -nodeR*0.3, 
							eachBarHeight = ((1 - barChartHeightOffset) * 2 * nodeR * barChartHeight)/elementsPerBar,
							barHeight = eachBarHeight*0.8;
						
						//Variables for the labels on the bars: Age
						var drawLabelText = true;
						var fontSizeLabels = Math.round(nodeR / 18);
						if (fontSizeLabels < 6) drawLabelText = false;
						
						//Variables for the value labels on the end of each bar
						var drawValueText = true;
						var fontSizeValues = Math.round(nodeR / 22);
						if (fontSizeValues < 6) drawValueText = false;
						
						//Only draw the bars and all labels of each bar has a height of at least 1 pixel
						if (Math.round(barHeight) > 1) {
							//Loop over each bar
							for (var j = 0; j < bars.length; j++) {
								var bar = bars[j];
								
								bar.width = (isNaN(bar.value) ? 0 : barScale(bar.value)); 
								bar.barPiecePosition = nodeY + barChartHeightOffset*2*nodeR + j*eachBarHeight - barChartHeight*nodeR;
								
								//Draw the bar
								chosenContext.beginPath();
								chosenContext.fillStyle = colorBar(bar.age);
								chosenContext.fillRect(nodeX + -nodeR*0.3, bar.barPiecePosition, bar.width, barHeight);
								chosenContext.fill();
								
								//Only draw the age labels if the font size is big enough
								if(drawLabelText & showText) {
									chosenContext.font = fontSizeLabels + "px " + bodyFont;
									chosenContext.fillStyle = "rgba(" + mainTextColor[0] + "," + mainTextColor[1] + ","+ mainTextColor[2] + "," + textAlpha +")";
									chosenContext.textAlign = "right";
									chosenContext.textBaseline = "middle"; 
									chosenContext.fillText(bar.age, nodeX + -nodeR*0.35, bar.barPiecePosition+0.5*barHeight);
								}//if
								
								//Only draw the value labels if the font size is big enough
								if(drawValueText & showText) {
									chosenContext.font = fontSizeValues + "px " + bodyFont;
									var txt = commaFormat(bar.value);
									//Check to see if the bar is big enough to place the text inside it
									//If not, place the text outside the bar
									var textWidth = chosenContext.measureText(txt).width;
									var valuePos = (textWidth*1.1 > (bar.width - nodeR * 0.03) ? "left" : "right");
									
									//Calculate the x position of the bar value label
									bar.valueLoc = nodeX + -nodeR*0.3 + bar.width + (valuePos === "left" ? (nodeR * 0.03) : (-nodeR * 0.03));
									
									//Draw the text
									chosenContext.fillStyle = (valuePos === "left" ? "rgba(51,51,51," + textAlpha +")" : "rgba(255,255,255," + textAlpha +")"); //#333333 or white
									chosenContext.textAlign = valuePos;
									chosenContext.textBaseline = "middle"; 
									chosenContext.fillText(txt, bar.valueLoc, bar.barPiecePosition+0.5*barHeight);
								}//if
					
							}//for j
						}//if -> Math.round(barHeight) > 1
						
					}//if -> node.ID.lastIndexOf(currentID, 0) === 0 & !hidden
				}//if -> node.ID in dataById 
			  })
			}//function drawCanvas

			////////////////////////////////////////////////////////////// 
			/////////////////// Click functionality ////////////////////// 
			////////////////////////////////////////////////////////////// 
			
			// Listen for clicks on the main canvas
			document.getElementById("canvas").addEventListener("click", function(e){
			  // We actually only need to draw the hidden canvas when there is an interaction. 
			  // This sketch can draw it on each loop, but that is only for demonstration.
			  drawCanvas(hiddenContext, true);

			  //Figure out where the mouse click occurred.
			  var mouseX = e.layerX;
			  var mouseY = e.layerY;

			  // Get the corresponding pixel color on the hidden canvas and look up the node in our map.
			  // This will return that pixel's color
			  var col = hiddenContext.getImageData(mouseX, mouseY, 1, 1).data;
			  //Our map uses these rgb strings as keys to nodes.
			  var colString = "rgb(" + col[0] + "," + col[1] + ","+ col[2] + ")";
			  var node = colToCircle[colString];

			  if(node) {
				chosen = dataContainer.selectAll("#"+node.attr("id"))[0][0].__data__;
				//Zoom to the clicked on node
				if (focus !== chosen) zoomToCanvas(chosen); else zoomToCanvas(root);
			  }//if
			});

			////////////////////////////////////////////////////////////// 
			//////////////// Mousemove functionality ///////////////////// 
			////////////////////////////////////////////////////////////// 
			
			//Only run this if the user actually has a mouse
			if (!mobileSize) {
				var nodeOld = root;
				
				//Listen for mouse moves on the main canvas
				var mousemoveFunction = function(e){
					//Figure out where the mouse click occurred.
					var mouseX = e.offsetX; //e.layerX;
					var mouseY = e.offsetY; //e.layerY;
					
					// Get the corresponding pixel color on the hidden canvas and look up the node in our map.
					// This will return that pixel's color
					var col = hiddenContext.getImageData(mouseX, mouseY, 1, 1).data;
					//Our map uses these rgb strings as keys to nodes.
					var colString = "rgb(" + col[0] + "," + col[1] + ","+ col[2] + ")";
					var node = colToCircle[colString];

					//Only change the popover if the user mouses over something new
					if(node !== nodeOld) {
						//Remove all previous popovers
						$('.popoverWrapper').remove(); 
						$('.popover').each(function() {
								$('.popover').remove(); 	
						 }); 
						//Only continue when the user mouses over an actual node
						if(node) {
							//Only show a popover for the leaf nodes
							if(typeof node.ID !== "undefined") {
								//Needed for placement
								var nodeX = ((node.x - zoomInfo.centerX) * zoomInfo.scale) + centerX,
									nodeY = ((node.y - zoomInfo.centerY) * zoomInfo.scale) + centerY,
									nodeR = node.r * zoomInfo.scale;
								
								//Create the wrapper div for the popover
		/* 						var text1 = document.createTextNode(node.name);
								document.getElementById('chart').appendChild(text1);
								text1.style.top = '500px';
								text1.style.left = '500px';	 */					
								
								var div = document.createElement('div');
								div.setAttribute('class', 'popoverWrapper');
								document.getElementById('chart').appendChild(div);
								console.log('top');
								console.log(nodeY-nodeR);
								console.log('left');
								console.log(nodeX+padding*5/4);
								//Position the wrapper right above the circle
								$(".popoverWrapper").css({
									'position':'absolute',
									'top':nodeY-nodeR,
									'left':nodeX+padding*5/4,
									'data-toggle': 'popover'
								});
								//Show the tooltip
								$(".popoverWrapper").popover({
									container: '#chart',
									trigger: 'manual',
									html : true,
									animation:false,
									content: function() { 
										return "<span class='nodeTooltip'>" + node.name + "</span>"; }
									});
								$(".popoverWrapper").popover('show');
							}//if -> typeof node.ID !== "undefined"
						}//if -> node
					}//if -> node !== nodeOld
					
					nodeOld = node;
				}//function mousemoveFunction
				
				//document.getElementById("canvas").addEventListener("mousemove", mousemoveFunction);
				$("#canvas").on("mousemove", mousemoveFunction);
			
			}//if !mobileSize
			////////////////////////////////////////////////////////////// 
			///////////////////// Zoom Function //////////////////////////
			////////////////////////////////////////////////////////////// 

			//Based on the generous help by Stephan Smola
			//http://bl.ocks.org/smoli/d7e4f9199c15d71258b5
	
			var ease = d3.ease("cubic-in-out"),
				timeElapsed = 0,
				interpolator = null,
				duration = 1500, //Starting duration
				vOld = [focus.x, focus.y, focus.r * 2.05];

			//Zoom into the clicked on circle
			//Use the dataContainer to do the transition on
			//The canvas will continuously redraw whatever happens to these circles
			function zoomToCanvas(d) {
				focus = d;
				var v = [focus.x, focus.y, focus.r * 2.05],
					k = diameter / v[2]; 
					
				dataContainer.selectAll(".node")
					.transition().duration(2000)
					.attr("cx", function(d) { return (d.x - v[0]) * k; })
					.attr("cy", function(d) { return (d.y - v[1]) * k; })
					.attr("r", function(d) { return d.r * k; });

			}//function zoomToCanvas
			
			//Text fading variables
			var	showText = true, //Only show the text while you're not zooming
				textAlpha = 1, //After a zoom is finished fade in the text;
				fadeText = false,
				fadeTextDuration = 750;
			//Function that fades in the text - Otherwise the text will be jittery during the zooming	
			function interpolateFadeText(dt) {
				if(fadeText) {
					timeElapsed += dt;
					textAlpha = ease(timeElapsed / fadeTextDuration);				
					if (timeElapsed >= fadeTextDuration) {
						//Enable click & mouseover events again
						$("#canvas").css("pointer-events", "auto");
						
						fadeText = false; //Jump from loop after fade in is done
						stopTimer = true; //After the fade is done, stop with the redraws / animation
					}//if
				}//if
			}//function interpolateFadeText
			//Perform the interpolation and continuously change the zoomInfo while the "transition" occurs
			function interpolateZoom(dt) {
				if (interpolator) {
					timeElapsed += dt;
					var t = ease(timeElapsed / duration); //mini interpolator that puts 0 - duration into 0 - 1 in a cubic-in-out fashion
					
					//Set the new zoom variables
					zoomInfo.centerX = interpolator(t)[0];
					zoomInfo.centerY = interpolator(t)[1];
					zoomInfo.scale = diameter / interpolator(t)[2];
				
					//After iteration is done remove the interpolater and set the fade text back into motion
					if (timeElapsed >= duration) {
						interpolator = null;
						showText = true;
						fadeText = true;
						timeElapsed = 0;
						
						//Draw the hidden canvas again, now that everything is settled in 
						//to make sure it is in the same state as the visible canvas
						//This way the tooltip and click work correctly
						drawCanvas(hiddenContext, true);
						
						//Update the texts in the legend
						d3.select(".legendWrapper").selectAll(".legendText")
							.text(function(d) { return commaFormat(Math.round(scaleFactor * d * d / 10)*10); });
						
					}//if -> timeElapsed >= duration
				}//if -> interpolator
			}//function zoomToCanvas
			
			////////////////////////////////////////////////////////////// 
			//////////////////// Other Functions /////////////////////////
			////////////////////////////////////////////////////////////// 
			
			//Generates the next color in the sequence, going from 0,0,0 to 255,255,255.
			//From: https://bocoup.com/weblog/2d-picking-in-canvas
			var nextCol = 1;
			function genColor(){
				var ret = [];
				// via http://stackoverflow.com/a/15804183
				if(nextCol < 16777215){
				  ret.push(nextCol & 0xff); // R
				  ret.push((nextCol & 0xff00) >> 8); // G 
				  ret.push((nextCol & 0xff0000) >> 16); // B

				  nextCol += 100; // This is exagerated for this example and would ordinarily be 1.
				}
				var col = "rgb(" + ret.join(',') + ")";
				return col;
			}//function genColor

			////////////////////////////////////////////////////////////// 
			/////////////////////// Initiate ///////////////////////////// 
			////////////////////////////////////////////////////////////// 
			
/* 			//First zoom to get the circles to the right location
			zoomToCanvas(root);
			
			var dt = 0;
			d3.timer(function(elapsed) {
				interpolateZoom(elapsed - dt);
				dt = elapsed;
				drawCanvas(context);
			}); */
			
			
			//First zoom to get the circles to the right location
			zoomToCanvas(root);
			//Draw the hidden canvas at least once
			drawCanvas(hiddenContext, true);
			//Draw the legend
			var scaleFactor = 1; //dummy value
			createLegend(scaleFactor);
			//Slowly fade in so the scaleFactor is set to the correct value in the mean time :)
			d3.select(".legendWrapper").transition().duration(1000).delay(500).style("opacity", 1);
			
			//Start the drawing loop. It will jump out of the loop once stopTimer becomes true
			var stopTimer = false;
			animate();
			
			//This function runs during changes in the visual - during a zoom
			function animate() {
				var dt = 0;
				d3.timer(function(elapsed) {
					interpolateZoom(elapsed - dt);
					interpolateFadeText(elapsed - dt);
					dt = elapsed;
					drawCanvas(context);

					return stopTimer;
				});
			}//function animate

		}//drawAll
		
//////////////////////////////////////////////////////////////
////////////////////Other Functions /////////////////////////
//////////////////////////////////////////////////////////////

		//Needed in the global scope
		var searchEvent = function(occupation) { };
		
		//If there is a scroll bar then its fine
		//But if there is no scrollbar prevent one from occuring when the user opens the search box
		//Otherwise the visual will seem to move to the left for a bit and that looks rather odd
		var noScrollBar = ($(document).height() > $(window).height() ? false : true);
		if(noScrollBar) {
		//Prevent scroll bars from forming
		document.documentElement.style.overflow = 'hidden';  // firefox, chrome
		document.body.scroll = "no"; // ie only
		}//if
		
		//Generates the next color in the sequence, going from 0,0,0 to 255,255,255.
		//From: https://bocoup.com/weblog/2d-picking-in-canvas
		var nextCol = 1;
		function genColor(){
		var ret = [];
		// via http://stackoverflow.com/a/15804183
		if(nextCol < 16777215){
		ret.push(nextCol & 0xff); // R
		ret.push((nextCol & 0xff00) >> 8); // G 
		ret.push((nextCol & 0xff0000) >> 16); // B
		
		nextCol += 100; // This is exagerated for this example and would ordinarily be 1.
		}
		var col = "rgb(" + ret.join(',') + ")";
		return col;
		}//function genColor
		
		//From http://stackoverflow.com/questions/2936112/text-wrap-in-a-canvas-element
		function getLines(ctx, text, maxWidth, fontSize, titleFont) {
		var words = text.split(" ");
		var lines = [];
		var currentLine = words[0];
		
		for (var i = 1; i < words.length; i++) {
		var word = words[i];
		ctx.font = fontSize + "px " + titleFont;
		var width = ctx.measureText(currentLine + " " + word).width;
		if (width < maxWidth) {
		currentLine += " " + word;
		} else {
		lines.push(currentLine);
		currentLine = word;
		}
		}
		lines.push(currentLine);
		return lines;
		}//function getLines
		
		//////////////////////////////////////////////////////////////
		///////////// Function | The legend creation /////////////////
		//////////////////////////////////////////////////////////////
		
		function createLegend(scaleFactor) {
		var legendSizes = [10,20,30],
		commaFormat = d3.format(',');
		
		//d3.select("#legendRowWrapper").style("opacity", 0);
		
		var width = $("#legendCircles").width(),
		height = legendSizes[2]*2*1.2;
		
		var	legendCenter = -10,
		legendBottom = height,
		legendLineLength = legendSizes[2]*1.3,
		textPadding = 5
		
		//Create SVG for the legend
		var svg = d3.select("#legendCircles").append("svg")
		.attr("width", width)
		.attr("height", height)
		.append("g")
		.attr("class", "legendWrapper")
		.attr("transform", "translate(" + width / 2 + "," + 0 + ")")
		.style("opacity", 0);
		
		//Draw the circles
		svg.selectAll(".legendCircle")
		.data(legendSizes)
		.enter().append("circle")
		.attr('r', function(d) { return d; })
		.attr('class',"legendCircle")
		.attr('cx', legendCenter)
		.attr('cy', function(d) { return legendBottom-d; });
		//Draw the line connecting the top of the circle to the number
		svg.selectAll(".legendLine")
		.data(legendSizes)
		.enter().append("line")
		.attr('class',"legendLine")
		.attr('x1', legendCenter)
		.attr('y1', function(d) { return legendBottom-2*d; })
		.attr('x2', legendCenter + legendLineLength)
		.attr('y2', function(d) { return legendBottom-2*d; });	
		//Place the value next to the line
		svg.selectAll(".legendText")
		.data(legendSizes)
		.enter().append("text")
		.attr('class',"legendText")
		.attr('x', legendCenter + legendLineLength + textPadding)
		.attr('y', function(d) { return legendBottom-2*d; })
		.attr('dy', '0.3em')
		.text(function(d)  { return commaFormat(Math.round(scaleFactor * d * d / 10)*10); });
		
		}//createLegend
		/*]]>*/
	</script>
	
</body>
</html>