<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />

<!-- D3.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"
	charset="utf-8"></script>
<script src="http://d3js.org/queue.v1.min.js"></script>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>

<!-- Stylesheet -->
<style>
.nodeTooltip {
	color: #333333;
	font-family: 'Oswald', sans-serif;
	text-anchor: middle;
	font-size: 12px;
	text-align: center;
}
</style>
		<link type="text/css" th:href="@{/eadmin/bootstrap/css/style_dashboard.css}" rel='stylesheet'/>
        <link type="text/css" th:href="@{/eadmin/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
        <link type="text/css" th:href="@{/eadmin/bootstrap/css/bootstrap-responsive.min.css}" rel="stylesheet"/>
</head>
<body>

	<div id="chart"></div>

	<script>
		/*<![CDATA[*/
		queue().defer(d3.json, "/eadmin/scripts/occupation.json").defer(d3.csv, "/eadmin/scripts/ID.csv").defer(d3.csv, "/eadmin/scripts/occupations.csv").await(drawAll);
		function drawAll(error, dataset) {
			////////////////////////////////////////////////////////////// 
			////////////////// Create Set-up variables  ////////////////// 
			////////////////////////////////////////////////////////////// 
	
			var w = window.innerWidth;
			var h = window.innerHeight;
			var width = Math.max($("#chart").width(), 350) - 20;
			var height = (w < 768 ? width : h - 20);
			var height = 700;
			var mobileSize = false;
			var padding = 20,
			width = Math.max($("#chart").innerWidth(),350) - padding,
			height = (mobileSize | window.innerWidth < 768 ? width : window.innerHeight - 90);
	
			var centerX = width / 2,
				centerY = height / 2;
				////////////////////////////////////////////////////////////// 
				/////////////////////// Create SVG  /////////////////////// 
				////////////////////////////////////////////////////////////// 
	
			//Create the visible canvas and context
			var canvas = d3.select("#chart").append("canvas")
				.attr("id", "canvas")
				.attr("width", width)
				.attr("height", height);
			var context = canvas.node().getContext("2d");
			context.clearRect(0, 0, width, height);
	
			//Create a hidden canvas in which each circle will have a different color
			//We can use this to capture the clicked on circle
			var hiddenCanvas = d3.select("#chart").append("canvas")
				.attr("id", "hiddenCanvas")
				.attr("width", width)
				.attr("height", height)
				.style("display", "none");
			var hiddenContext = hiddenCanvas.node().getContext("2d");
			hiddenContext.clearRect(0, 0, width, height);
	
			//Create a custom element, that will not be attached to the DOM, to which we can bind the data
			var detachedContainer = document.createElement("custom");
			var dataContainer = d3.select(detachedContainer);
	
			////////////////////////////////////////////////////////////// 
			/////////////////////// Create Scales  /////////////////////// 
			////////////////////////////////////////////////////////////// 
	
			var colorCircle = d3.scale.ordinal()
				.domain([ 0, 1, 2, 3 ])
				.range([ '#bfbfbf', '#838383', '#4c4c4c', '#1c1c1c' ]);
	
			var diameter = Math.min(width * 0.9, height * 0.9);
			var pack = d3.layout.pack()
				.padding(1)
				.size([ diameter, diameter ])
				.value(function(d) {
					return d.size;
				})
				.sort(function(d) {
					return d.ID;
				});
			var zoomInfo = {
					centerX: centerX,
					centerY: centerY,
					scale: 1
				};
			////////////////////////////////////////////////////////////// 
				////////////////// Create Circle Packing /////////////////////
				////////////////////////////////////////////////////////////// 
	
			var nodes = pack.nodes(dataset),
				root = dataset,
				focus = dataset;
	
			//Dataset to swtich between color of a circle (in the hidden canvas) and the node data	
			var colToCircle = {};
	
			//Create the circle packing as if it was a normal D3 thing
			var dataBinding = dataContainer.selectAll(".node")
				.data(nodes)
				.enter().append("circle")
				.attr("id", function(d, i) {
					return "nodeCircle_" + i;
				})
				.attr("class", function(d, i) {
					return d.parent ? d.children ? "node" : "node node--leaf" : "node node--root";
				})
				.attr("r", function(d) {
					return d.r;
				})
				.attr("cx", 0)
				.attr("cy", 0)
				.attr("fill", function(d) {
					return d.children ? colorCircle(d.depth) : "white";
				});
				//.attr("transform", function(d) { return "translate(" + (d.x - v[0]) * k + "," + (d.y - v[1]) * k + ")"; });;
/* 			d3.selectAll(".node").on("mouseover", function(){console.log("here");}); */


			
	////////////////////////////////////////////////////////////// 
	//////////////// Mousemove functionality ///////////////////// 
	////////////////////////////////////////////////////////////// 
	
	//Only run this if the user actually has a mouse
	if (!mobileSize) {
		var nodeOld = root;
		//Listen for mouse moves on the main canvas
		var mousemoveFunction = function(e){
			//Figure out where the mouse click occurred.
			var mouseX = e.offsetX; //e.layerX;
			var mouseY = e.offsetY; //e.layerY;
			
			// Get the corresponding pixel color on the hidden canvas and look up the node in our map.
			// This will return that pixel's color
			var col = hiddenContext.getImageData(mouseX, mouseY, 1, 1).data;
			//Our map uses these rgb strings as keys to nodes.
			var colString = "rgb(" + col[0] + "," + col[1] + ","+ col[2] + ")";
			var node = colToCircle[colString];

			//Only change the popover if the user mouses over something new
			if(node !== nodeOld) {
				//Remove all previous popovers
				$('.popoverWrapper').remove(); 
				$('.popover').each(function() {
						$('.popover').remove(); 	
				 }); 
				//Only continue when the user mouses over an actual node
				if(node) {
					//Only show a popover for the leaf nodes
		 			if(typeof node.attr("ID") !== "undefined") {
						//Needed for placement
						var nodeX = ((node.attr('cx') - zoomInfo.centerX) * zoomInfo.scale) + centerX,
							nodeY = ((node.attr('cy') - zoomInfo.centerY) * zoomInfo.scale) + centerY,
							nodeR = node.attr('r') * zoomInfo.scale;
							console.log('top');
							console.log(nodeY-nodeR);
							console.log('left');
							console.log(nodeX+padding*5/4);
						//Create the wrapper div for the popover
						var div = document.createElement('div');
						div.setAttribute('class', 'popoverWrapper');
						document.getElementById('chart').appendChild(div);

						//Position the wrapper right above the circle
						$(".popoverWrapper").css({
							'position':'sticky',
							'top':nodeY-nodeR,
							'left':nodeX+padding*5/4
						});
						//Show the tooltip
						$(".popoverWrapper").popover({
							placement: 'top',
							trigger: 'manual',
							html : true,
							animation:false,
							content: function() { 
								return "<span class='nodeTooltip'>" + node.attr("name") + "</span>"; }
							});
						$(".popoverWrapper").popover('show');
					}//if -> typeof node.ID !== "undefined"
				}//if -> node
			}//if -> node !== nodeOld
			
			nodeOld = node;
		}//function mousemoveFunction
		
		document.getElementById("canvas").addEventListener("mousemove", mousemoveFunction);
// 		$("#canvas").on("mousemove", mousemoveFunction);
	
	}//if !mobileSize
			
/* 			document.getElementById("canvas").addEventListener("mouseover", function(e) {
				//Figure out where the mouse click occurred.
				var mouseX = e.layerX;
				var mouseY = e.layerY;
	
				// Get the corresponding pixel color on the hidden canvas and look up the node in our map.
				// This will return that pixel's color
				var col = hiddenContext.getImageData(mouseX, mouseY, 1, 1).data;
				//Our map uses these rgb strings as keys to nodes.
				var colString = "rgb(" + col[0] + "," + col[1] + "," + col[2] + ")";
				var node = colToCircle[colString];
	
				if (node) {
					console.log('here')
					chosen = dataContainer.selectAll("#" + node.attr("id"))[0][0].__data__;
				}
			}); */
			//First zoom to get the circles to the right location
			zoomToCanvas(root);
	
			////////////////////////////////////////////////////////////// 
			///////////////// Canvas draw function ///////////////////////
			////////////////////////////////////////////////////////////// 
	
			//The draw function of the canvas that gets called on each frame
			function drawCanvas(chosenContext, hidden) {
	
				//Clear canvas
				chosenContext.fillStyle = "#fff";
				chosenContext.rect(0, 0, canvas.attr("width"), canvas.attr("height"));
				chosenContext.fill();
	
				//Select our dummy nodes and draw the data to canvas.
				var elements = dataContainer.selectAll(".node");
				elements.each(function(d) {
	
					var node = d3.select(this);
	
					//If the hidden canvas was send into this function
					//and it does not yet have a color, generate a unique one
					if (hidden) {
						if (node.attr("color") === null) {
							// If we have never drawn the node to the hidden canvas get a new color for it and put it in the dictionary.
							node.attr("color", genColor());
							colToCircle[node.attr("color")] = node;
						} //if
						// On the hidden canvas each rectangle gets a unique color.
						chosenContext.fillStyle = node.attr("color");
					} else {
						chosenContext.fillStyle = node.attr("fill");
					} //else
					//Draw each circle
					node.attr('name', d.name);
					
					var nodeX = ((node.x - zoomInfo.centerX) * zoomInfo.scale) + centerX,
					nodeY = ((node.y - zoomInfo.centerY) * zoomInfo.scale) + centerY,
					nodeR = node.r * zoomInfo.scale;
/*   					node.attr('cx', node.attr("cx"));
					node.attr('cy', node.attr("cy"));
 */ 					chosenContext.beginPath();
 					chosenContext.arc((centerX + +node.attr("cx")), (centerY + +node.attr("cy")), node.attr("r"), 0, 2 * Math.PI, true);
/* 					chosenContext.arc(nodeX, nodeY, nodeR, 0,  2 * Math.PI, true); */
					chosenContext.fill();
					chosenContext.closePath();
				})
			} //function drawCanvas
	
			////////////////////////////////////////////////////////////// 
			/////////////////// Click functionality ////////////////////// 
			////////////////////////////////////////////////////////////// 
	
			// Listen for clicks on the main canvas
			document.getElementById("canvas").addEventListener("click", function(e) {
				// We actually only need to draw the hidden canvas when there is an interaction. 
				// This sketch can draw it on each loop, but that is only for demonstration.
				drawCanvas(hiddenContext, true);
	
				//Figure out where the mouse click occurred.
				var mouseX = e.layerX;
				var mouseY = e.layerY;
	
				// Get the corresponding pixel color on the hidden canvas and look up the node in our map.
				// This will return that pixel's color
				var col = hiddenContext.getImageData(mouseX, mouseY, 1, 1).data;
				//Our map uses these rgb strings as keys to nodes.
				var colString = "rgb(" + col[0] + "," + col[1] + "," + col[2] + ")";
				var node = colToCircle[colString];
	
				if (node) {
					chosen = dataContainer.selectAll("#" + node.attr("id"))[0][0].__data__;
					//Zoom to the clicked on node
					if (focus !== chosen) zoomToCanvas(chosen); else zoomToCanvas(root);
				} //if
			});
	
			////////////////////////////////////////////////////////////// 
			///////////////////// Zoom Function //////////////////////////
			////////////////////////////////////////////////////////////// 
	
			//Zoom into the clicked on circle
			//Use the dataContainer to do the transition on
			//The canvas will continuously redraw whatever happens to these circles
			function zoomToCanvas(d) {
				focus = d;
				var v = [ focus.x, focus.y, focus.r * 2.05 ],
					k = diameter / v[2];
	
				dataContainer.selectAll(".node")
					.transition().duration(2000)
					.attr("cx", function(d) {
						return (d.x - v[0]) * k;
					})
					.attr("cy", function(d) {
						return (d.y - v[1]) * k;
					})
					.attr("r", function(d) {
						return d.r * k;
					});
	
			} //function zoomToCanvas
	
			////////////////////////////////////////////////////////////// 
			//////////////////// Other Functions /////////////////////////
			////////////////////////////////////////////////////////////// 
	
			//Generates the next color in the sequence, going from 0,0,0 to 255,255,255.
			//From: https://bocoup.com/weblog/2d-picking-in-canvas
			var nextCol = 1;
			function genColor() {
				var ret = [];
				// via http://stackoverflow.com/a/15804183
				if (nextCol < 16777215) {
					ret.push(nextCol & 0xff); // R
					ret.push((nextCol & 0xff00) >> 8); // G 
					ret.push((nextCol & 0xff0000) >> 16); // B
	
					nextCol += 100; // This is exagerated for this example and would ordinarily be 1.
				}
				var col = "rgb(" + ret.join(',') + ")";
				return col;
			} //function genColor
	
	
			////////////////////////////////////////////////////////////// 
			/////////////////////// Initiate ///////////////////////////// 
			////////////////////////////////////////////////////////////// 
	
			//d3.timer(function() { drawCanvas(context) });
			//Draw the legend
			var scaleFactor = 1; //dummy value
			createLegend(scaleFactor);
			function animate() {
				drawCanvas(context);
				window.requestAnimationFrame(animate);
			}
			window.requestAnimationFrame(animate);
	
		} //drawAll
		
			//////////////////////////////////////////////////////////////
			///////////// Function | The legend creation /////////////////
			//////////////////////////////////////////////////////////////
			
			function createLegend(scaleFactor) {
			var legendSizes = [10,20,30],
				commaFormat = d3.format(',');
				
			//d3.select("#legendRowWrapper").style("opacity", 0);
			
			var width = $("#legendCircles").width(),
				height = legendSizes[2]*2*1.2;
			
			var	legendCenter = -10,
				legendBottom = height,
				legendLineLength = legendSizes[2]*1.3,
				textPadding = 5
				
			//Create SVG for the legend
			var svg = d3.select("#legendCircles").append("svg")
				.attr("width", width)
				.attr("height", height)
			  .append("g")
				.attr("class", "legendWrapper")
				.attr("transform", "translate(" + width / 2 + "," + 0 + ")")
				.style("opacity", 0);
			
			//Draw the circles
			svg.selectAll(".legendCircle")
				.data(legendSizes)
				.enter().append("circle")
				.attr('r', function(d) { return d; })
				.attr('class',"legendCircle")
				.attr('cx', legendCenter)
				.attr('cy', function(d) { return legendBottom-d; });
			}//createLegend		
		/*]]>*/
	</script>
<script th:src="@{/eadmin/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>	
</body>
</html>