<html>
<head>
<title>CLegalServices</title>
<style>
table, th, td {
	border: 1px solid black;
	border-spacing: 0px;
}

th, td {
	padding: 10px;
}
</style>
</head>
<body>
	<form action="/listTask" method="POST">
		<h3 align="right">
			<input type="submit" value="create Task" />
		</h3>
	</form>
	<table>
		<thead>

			<h2>List of Avaliable Project</h2>
			<tr>
				<th>Project Name</th>
				<th>Client ID</th>
				<th>Project Duration</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="projectMaster : ${projectMasterList}">
				<td th:text="${projectMaster.projectName}"></td>
				<td th:text="${projectMaster.clientID}"></td>
				<td th:text="${projectMaster.projectDuration}"></td>
			</tr>
		</tbody>
	</table>
	
	<h3><a href="/listTask"> Create Task</a> </h3>

	<h2>Create Project</h2>

	<form action="/createProject" method="POST">
		<table>
			<tbody>
				<tr>

					<td>ProjectID</td>
					<td><input type="text" id="projectID" name="projectID" /></td>
				</tr>
				<tr>
					<td>Project Name</td>
					<td><input type="text" id="projectName" name="projectName" /></td>
				</tr>
				<tr>
					<td>Project Duration</td>
					<td><input type="text" id="projectDuration" name="projectDuration" /></td>
				</tr>
				<tr>
					<td>Client ID</td>
					<td><input type="text" id="clientID" name="clientID" /></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" /></td>
				</tr>

			</tbody>
		</table>
	</form>


</body>
</html>