<header id="headerDashboard" th:fragment="copy">
	<!-- scripts for websockets -->
	<script type="text/javascript" th:src="@{/eadmin/scripts/sockjs.min.js}"></script>
	<script type="text/javascript" th:src="@{/eadmin/scripts/stomp.min.js}"></script>
    <script src="/js/jquery.min.js"></script>
	


<!-- <link rel="stylesheet"
			  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/css/bootstrap-material-design.min.css"/> -->
		<!-- <link rel="stylesheet"
			  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/css/ripples.min.css"/> -->

		<link rel="stylesheet" href="/css/bootstrap-material-datetimepicker.css" />
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

		
        
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/js/material.min.js"></script> -->
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/js/ripples.min.js"></script> -->
		<!-- <script type="text/javascript" src="https://rawgit.com/FezVrasta/bootstrap-material-design/master/dist/js/material.min.js"></script> -->
		<script type="text/javascript" src="https://momentjs.com/downloads/moment-with-locales.min.js"></script>
		<script type="text/javascript" src="/js/bootstrap-material-datetimepicker.js"></script>

		<div class="col-md-1 sidemenu" id="newone">
            <div class="col-md-12 paddtop2 font25">
                <div class="bar_div" onclick="myFunction(this); openNav();">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>
               
            </div>
            <a href="#">
                <div class="col-md-12 paddtop2">
                    <i class="fa fa-th-large hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Dashboard"><span>Dashboard</span></i>
                </div>
            </a>
            <a href="#">
                <div class="col-md-12 paddtop2">
                    <i class="glyphicon glyphicon-trash hover_blue" data-toggle="tooltip" data-placement="right" title="Deleted Task"><span>DeletedTask</span></i>
                </div>
            </a>
            <a href="#">
                <div class="col-md-12 paddtop2">
                    <i class="fa fa-file-text-o hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Invoice"><span>Invoice</span></i>
                </div>
            </a>
            
            <a th:href="@{'/eadmin/chat/'}">
                <div class="col-md-12 paddtop2">
                    <i class="fa fa-commenting-o hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Chat"><span>Chat</span></i>
                </div>
            </a>
            <a href="/calendar">
                <div class="col-md-12 paddtop2">
                    <i class="fa fa-calendar hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Calander"><span>Calander</span></i>
                </div>
            </a>
            <a href="#" onclick="openTimerFunction()">
                <div class="col-md-12 paddtop2">
                    <i class="fa fa-clock-o  hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Timer"><span>Timer</span></i>
                </div>
            </a>
            <a href="/eadmin/profilePage">
                <div class="col-md-12 paddtop2">
                    <i class="fa fa-cog hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Settings"><span>Settings</span></i>
                </div>
            </a>
            <a href="#">
                <div class="col-md-12 paddtop2">
                    <i class="fa fa-credit-card  hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Billing"><span>Billing</span></i>
                </div>
            </a>
            <a href="/logout">
                <div class="col-md-12 paddtop2">
                    <i class="fa fa-sign-out  hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="LogOut"><span>LogOut</span></i>
                </div>
            </a>
            <a href="/mailbox">
                <div class="col-md-12 plus_last_div paddtop2">
                    <i class="fa fa-envelope hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Mailbox"><span class="plus_last_span">Mailbox</span></i>
                </div>
            </a>
            <a href="/createProject" style="position:absolute; bottom:0; left:45px;">
                <div class="col-md-12 plus_last_div paddtop2">
                    <i class="fa fa-plus plus_last hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="New Project"><span class="plus_last_span">New Project</span></i>
                </div>
            </a>
            <a href="chart.html">
                <div class="col-md-12 plus_last_div paddtop2">
                    <i class="fa fa-bar-chart plus_last hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Charts"><span class="plus_last_span">Charts</span></i>
                </div>
            </a>

        </div>
	<script type="text/javascript">
		$("#dropdown").on("click", function(e){
	  e.preventDefault();
	  
	  if($(this).hasClass("open")) {
	    $(this).removeClass("open");
	    $(this).children("ul").slideUp("fast");
	  } else {
	    $(this).addClass("open");
	    $(this).children("ul").slideDown("fast");
	  }
	});
	</script>
	<script>
	    $(document).ready(function () {
	
	        $('#noti_Counter')
	            .css({ opacity: 0 })
	            .text('4')              
	            .css({ top: '-10px' })
	            .animate({ top: '-2px', opacity: 1 }, 500);
	
	        $('#noti_Button').click(function () {
	
	            $('#notifications').fadeToggle('fast', 'linear', function () {
	            });
	
	            $('#noti_Counter').fadeOut('slow');                
	
	            return false;
	        });
	
	        $(document).click(function () {
	            $('#notifications').hide();
	
	        });
	
	        $('#notifications').click(function () {
	            return false;       
	        });
	    });
	</script>
	<script>
	    $(document).ready(function () {
	
	        $('#msg_Counter')
	            .css({ opacity: 0 })
	            .text('200')              
	            .css({ top: '-10px' })
	            .animate({ top: '-2px', opacity: 1 }, 500);
	
	        $('#msg_Button').click(function () {
	
	            $('#messages').fadeToggle('fast', 'linear', function () {
	
	            });
	
	            $('#msg_Counter').fadeOut('slow');            
	
	            return false;
	        });
	
	        $(document).click(function () {
	            $('#messages').hide();
	        });
	
	        $('#massages').click(function () {
	            return false;    
	        });
	    });
	</script>
	<script>
	function openNav() {
	    /*$("#newone").css({"width":"300px","position":"relative","z-index":"1000"});*/
	    $("#newone").toggleClass("open");
	    if ($('#newone').hasClass('open')){
	        $('i').tooltip("disable");  
	    } else {
	        $('i').tooltip("enable");
	      }
	    //$(".main_container_dashboard").find(".open").find('i').tooltip("disable");
	
	}
	
	function closeNav() {
	    document.getElementById("mySidenav").style.width = "0";
	}
	</script>
	<script>
	$(document).ready(function(){
	    $('[data-toggle="tooltip"]').tooltip();   
	});
	</script>
	<script>
	function myFunction(x) {
	    x.classList.toggle("change");
	}
	</script>
	<script type="text/javascript">
			$(document).ready(function()
			{
				$('.date').bootstrapMaterialDatePicker
				({
					time: false,
					clearButton: true,
					format: 'MM/DD/YYYY'
				});
	
				//$.material.init()
			});
	</script>
</header>	