<!DOCTYPE html>
<html lang="en"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Judl.aw</title>
	<meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
		
	<!--Bootstrap -->
	<link rel="stylesheet" href="css/bootstrap/bootstrap.min.css"/>
	<!-- Optional theme -->
	<link rel="stylesheet" href="css/bootstrap/bootstrap-theme.min.css"/>
	<!-- Custom css -->
	<link rel="stylesheet" href="css/style.css"/>
	<!-- Manually modified css -->
	<link rel="stylesheet" href="css/inspector-stylesheet.css"/>
	<!-- Font Awesome -->
	<link rel="stylesheet" href="css/font-awesome.min.css"/>
	<link rel="stylesheet" href="css/ionicons.min.css"/>
	<!-- Flexslider -->
	<link rel="stylesheet" href="css/flexslider.css"/>
	<!-- Owl -->
	<link rel="stylesheet" href="css/owl.carousel.css"/>
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="css/magnific-popup.css"/>
</head>
<body>
<header id="header" th:fragment="copy">
	<div class="top-nav">
		<!--  Header Logo  -->
		<div id="logo">
			<a class="navbar-brand" href="/index.html">
				<img src="img/logo.png" class="normal" alt="logo"></img>
				<img src="img/logo@2x.png" class="retina" alt="logo"></img>
			</a>
		</div>
		<!--  END Header Logo  -->
		<!-- 		<div class="secondary-menu">
					<form class="search-form" action="/search" method="GET">
						<div class="form-input">
							<input type="text" id="autocomplete-input"
										placeholder="City Name" class="autocomplete" name="franceCity"/></input>
							<input type="text" id="autocomplete-inputDomainName"
										placeholder="Domain Name" class="autocomplete" name="franceDomain"/></input>
							replacing the select domain option by an autocomplete much like the autocomplete above			
							<select name="domainSelect" id="domainSelect">
							<option value="0">Select domain</option>
							<option th:each="domain : ${dataDominList}" th:value="${domain}"
											th:text="${domain}"></option>
						</select>
						<span class="form-button">
							<button class="btn-alt small active margin-null" type="submit">Search</button>
						</span>
					</div>
				</form>
			</div> -->
		<nav class="navbar navbar-default">
			<!--  Classic menu, responsive menu classic  -->
			<div id="menu-classic">
				<div class="menu-holder">
					<ul>
						<li class="submenu">
							<a href="/index.html" class="active-item">Home</a>
						</li>
						<li>
							<a href="/about.html">About</a>
						</li>
						<li>
							<a href="/services.html">Services</a>
						</li>
						<li class="submenu">
							<a href="/blog-sidebar.html">Blog</a>
						</li>
						<li>
							<a href="/contact.html">Contact</a>
						</li>
					</ul>
				</div>
			</div>
				<!--  END Classic menu, responsive menu classic  -->
				<!--  Button for Responsive Menu Classic  -->
				<div id="menu-responsive-classic">
					<div class="menu-button">
						<span class="bar bar-1"></span>
						<span class="bar bar-2"></span>
						<span class="bar bar-3"></span>
					</div>
				</div>
				<!--  END Button for Responsive Menu Classic  -->

		</nav>
		<div class="language">
			<ul class="right-menu">
				<li class="mail"><i class="fa fa-user" aria-hidden="true"></i><a href="/login">Sign In</a></li>
					<li class="lang">
						<span class="current">
							<a href="/#">En</a>
						</span>
						<ul>
							<li>
								<a href="/#">Fr</a>
							</li>
						</ul>
					</li>
			</ul>
		</div>
</div>
</header>

<!--  <div th:insert="header :: copy"></div> --> 
<!-- 	<div th:insert="headerAutocomplete :: copy"></div> -->
    <!--  loader  -->
    <!--  Header & Menu  -->
    <!--  Main Wrap  -->
        <div id="main-wrap">
            <!--  Page Content  -->
            <div id="page-content" class="header-static">
                <!--  Page Header  -->
<!--                 <div id="page-header" class="secondary-background">
                    <div class="container">
                        <div class="row no-margin">
                            <div class="text">
                                <h1 class="white">Contact.</h1>
                                <ul class="breadcrumb white">
                                    <li><a href="#">Home</a></li>
                                    <li>Contact</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!--  END Page Header  -->
                <!-- home-wrap begins -->
                <div id="home-wrap" class="content-section fullpage-wrap">
                    <!--  Contact section  -->
                    <div class="container">
                        <div class="row no-margin padding-lg">
                            <div class="col-md-12 padding-leftright-null">
<!--                                 <div class="text text-left padding-topbottom-null">
                                    <h2>Get in Touch.</h2>
                                </div>
 -->                        </div>
                            <div class="row no-margin padding-onlytop-md">
                            </div>
                        </div>
                        
                        <!--  Accordion and Tabs  -->
                        <div class="row padding-sm bg-image">
                         <div class="container form-center" th:switch="${userInformation.signinError}">
                                <!--  Tab  -->
                                <!-- Nav tabs -->
                           <ul class="nav nav-tabs center-tab" role="tablist" th:case="'true'">
                            <li role="presentation"><a href="#tab-one" aria-controls="tab-one" role="tab" data-toggle="tab">Sign In</a></li>
                            <li role="presentation" class="active"><a href="#tab-two" aria-controls="tab-two" role="tab" data-toggle="tab">Sign Up</a></li>
                           </ul>
                           
                                                           
                           <ul class="nav nav-tabs center-tab" role="tablist" th:case="*">
                            <li role="presentation" class="active"><a href="#tab-one" aria-controls="tab-one" role="tab" data-toggle="tab">Sign In</a></li>
                            <li role="presentation"><a href="#tab-two" aria-controls="tab-two" role="tab" data-toggle="tab">Sign Up</a></li>
                           </ul>
                           
                                <!--  Nav Tabs  -->
                                <!-- Tab panes -->
                            <div class="tab-content">
	                             <div role="tabpanel" class="tab-pane active" id="tab-one" th:unless='${userInformation.signinError}'>
	                                    <!--  Contact Form  -->
				                        <div class="form-main">
							                  <div class="padding-leftright-null ">
							                   <div class="text padding-md-top-null">
							                    <div class="box-form">
							                     <form id="contact-form" action="/login" role="form" method="POST">
							                      <div class="row no-margin">
							                       <div class="col-md-12 padding-leftright-null">
							                        <label for="name">User Name<sup>*</sup></label>
							                        <input class="form-field" name="username" id="username" type="text" placeholder="Your User Name"/>
							                       </div>
							                       <div class="col-md-12 padding-leftright-null">
							                        <label for="mail">Password<sup>*</sup></label>
							                        <input class="form-field" name="password" id="password" type="password" placeholder="Your Password"/>
							                       </div>
							                      </div>
							                      <div class="col-md-12 padding-leftright-null"><p class="error" th:if="${error}" th:text="${error}"></p></div>
							                      <div class="row no-margin">
							                       <div class="col-md-12 padding-leftright-null">
							                       <label for="messageForm"><input type="checkbox"/> Remember Me</label>
							                        <div class="submit-area padding-onlytop-sm">
							                        <input type="submit" id="submit-contact" class="btn-alt active shadow" value="Sign In"/>
							                         <div id="msg" class="message"></div>
							                        </div>
							                       </div>
							                      </div>
							                     </form>
							                     </div>
							                    </div>
							                             <!--  END Contact Form  -->
							                   </div>
				                           			<!--  END Tab Panel 1  -->
				                        	</div>
	                        	</div>
	                        	
	                             <div role="tabpanel" id="tab-one" th:if='${userInformation.signinError}' th:attr="class=tab-pane">
	                                    <!--  Contact Form  -->
				                        <div class="form-main">
							                  <div class="padding-leftright-null ">
							                   <div class="text padding-md-top-null">
							                    <div class="box-form">
							                     <form id="contact-form" action="/login" role="form" method="POST">
							                      <div class="row no-margin">
							                       <div class="col-md-12 padding-leftright-null">
							                        <label for="name">User Name<sup>*</sup></label>
							                        <input class="form-field" name="username" id="username" type="text" placeholder="Your User Name"/>
							                       </div>
							                       <div class="col-md-12 padding-leftright-null">
							                        <label for="mail">Password<sup>*</sup></label>
							                        <input class="form-field" name="password" id="password" type="password" placeholder="Your Password"/>
							                       </div>
							                      </div>
							                      <div class="col-md-12 padding-leftright-null"><p class="error" th:if="${error}" th:text="${error}"></p></div>
							                      <div class="row no-margin">
							                       <div class="col-md-12 padding-leftright-null">
							                       <label for="messageForm"><input type="checkbox"/> Remember Me</label>
							                        <div class="submit-area padding-onlytop-sm">
							                        <input type="submit" id="submit-contact" class="btn-alt active shadow" value="Sign In"/>
							                         <div id="msg" class="message"></div>
							                        </div>
							                       </div>
							                      </div>
							                     </form>
							                     </div>
							                    </div>
							                             <!--  END Contact Form  -->
							                   </div>
				                           			<!--  END Tab Panel 1  -->
				                        	</div>
	                        	</div>	                        	
	                        	
                            <div role="tabpanel" class="tab-pane" id="tab-two" th:unless='${userInformation.signinError}'>  
                             <!--  Contact Form  -->
			                 <div class="padding-leftright-null">
			                  <div class="text padding-md-top-null">
			                    <div class="box-form">
			                      <form id="contact-form" action="/signup" th:object="${userInformation}" role="form" method="POST">
			                       <div class="row no-margin">
			                         <div class="col-md-12 padding-leftright-null">
			                           <label for="name">First Name<sup>*</sup></label>
			                           <input class="form-field" name="firstname" id="firstname" th:field="*{firstname}" type="text" placeholder="Your First Name"/>
			                           <p class="alert alert-danger" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></p>
			                          </div>
<!-- 							        <div th:if="${#fields.hasErrors('firstname')}"
							          th:errors="*{firstname}"
							          class="validation-message alert alert-danger" role="alert">
							        </div> -->
			                         <div class="col-md-12 padding-leftright-null">
			                           <label for="name">Last Name<sup>*</sup></label>
			                           <input class="form-field" name="lastname" id="lastname" th:field="*{lastname}" type="text" placeholder="Your Last Name"/>
			                           <p class="alert alert-danger" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></p>
			                          </div>
			                          
			                          	
<!-- 									<div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
									    <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>    
									</div> -->
			                          <div class="col-md-12 padding-leftright-null">
			                            <label for="name">User Name<sup>*</sup></label>
			                            <input class="form-field" name="username" id="username" th:field="*{username}" type="text" placeholder="Your User Name"/>
			                            <p class="alert alert-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
			                           </div>
			                           <div class="col-md-12 padding-leftright-null">
			                            <label for="mail">Password<sup>*</sup></label>
			                            <input class="form-field" name="password" id="password" th:field="*{password}" type="password" placeholder="Your Password"/>
			                            <p class="alert alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>			                            
			                           </div>
			                           <div class="col-md-12 padding-leftright-null">
			                            <label for="mail">Email<sup>*</sup></label>
			                            <input class="form-field" name="email" id="email" th:field="*{email}" type="text" placeholder="Your Email"/>
			                            <p class="alert alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>			                            
			                           </div>			                                                
			                          </div>
			                           <div class="row no-margin">
			                           <div class="col-md-12 padding-leftright-null">
			                            <label for="messageForm"><input name="isLawyer" id="isLawyer" th:field="*{isLawyer}" type="checkbox"/> I am a lawyer</label>
			                            <div class="submit-area padding-onlytop-sm">
			                            <div class="col-md-12 padding-leftright-null"><p class="error" th:if="${signupError}" th:text="${signupError}"></p></div>
			                             <input type="submit" id="submit-contact" name="action" class="btn-alt active shadow" value="Sign Up"/>
			                              <div id="msg" class="message"></div>
			                                                    </div>
			                                                </div>
			                                            </div>
			                                        </form>
			                                    </div>
			                                </div>
			                             <!--  END Contact Form  -->
                               		</div>
                        		<!-- END Tab panel -->
                                </div>
                                
                                
                            <div role="tabpanel" id="tab-two" th:if='${userInformation.signinError}' class="tab-pane active">  
                             <!--  Contact Form  -->
			                 <div class="padding-leftright-null">
			                  <div class="text padding-md-top-null">
			                    <div class="box-form">
			                      <form id="contact-form" action="/signup" th:object="${userInformation}" role="form" method="POST">
			                       <div class="row no-margin">
			                         <div class="col-md-12 padding-leftright-null">
			                           <label for="name">First Name<sup>*</sup></label>
			                           <input class="form-field" name="firstname" id="firstname" th:field="*{firstname}" type="text" placeholder="Your First Name"/>
			                           <p class="alert alert-danger" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></p>
			                          </div>
<!-- 							        <div th:if="${#fields.hasErrors('firstname')}"
							          th:errors="*{firstname}"
							          class="validation-message alert alert-danger" role="alert">
							        </div> -->
			                         <div class="col-md-12 padding-leftright-null">
			                           <label for="name">Last Name<sup>*</sup></label>
			                           <input class="form-field" name="lastname" id="lastname" th:field="*{lastname}" type="text" placeholder="Your Last Name"/>
			                           <p class="alert alert-danger" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></p>
			                          </div>
			                          
			                          	
<!-- 									<div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
									    <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>    
									</div> -->
			                          <div class="col-md-12 padding-leftright-null">
			                            <label for="name">User Name<sup>*</sup></label>
			                            <input class="form-field" name="username" id="username" th:field="*{username}" type="text" placeholder="Your User Name"/>
			                            <p class="alert alert-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
			                           </div>
			                           <div class="col-md-12 padding-leftright-null">
			                            <label for="mail">Password<sup>*</sup></label>
			                            <input class="form-field" name="password" id="password" th:field="*{password}" type="password" placeholder="Your Password"/>
			                            <p class="alert alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>			                            
			                           </div>
			                           <div class="col-md-12 padding-leftright-null">
			                            <label for="mail">Email<sup>*</sup></label>
			                            <input class="form-field" name="email" id="email" th:field="*{email}" type="text" placeholder="Your Email"/>
			                            <p class="alert alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>			                            
			                           </div>			                                                
			                          </div>
			                           <div class="row no-margin">
			                           <div class="col-md-12 padding-leftright-null">
			                            <label for="messageForm"><input name="isLawyer" id="isLawyer" th:field="*{isLawyer}" type="checkbox"/> I am a lawyer</label>
			                            <div class="submit-area padding-onlytop-sm">
			                            <div class="col-md-12 padding-leftright-null"><p class="error" th:if="${signupError}" th:text="${signupError}"></p></div>
			                             <input type="submit" id="submit-contact" name="action" class="btn-alt active shadow" value="Sign Up"/>
			                              <div id="msg" class="message"></div>
			                                                    </div>
			                                                </div>
			                                            </div>
			                                        </form>
			                                    </div>
			                                </div>
			                             <!--  END Contact Form  -->
                               		</div>
                        		<!-- END Tab panel -->
                                </div>                                
                                
                                
                                <!-- Tab panes -->
                                <!--  Tab  -->
                            </div>
                        </div>
                        <!--  END Accordion and Tabs  -->
                    </div>
                </div>
                <!-- home-wrap ends -->
            </div>
            <!--  END Page Content -->
        </div>
        <!--  Main Wrap  -->
        <!--  Footer  -->
<!-- 		<div th:insert="footer :: copy"></div> -->

		<!--  Footer  -->
        <footer id="footer" th:fragment="copy">
            <div class="container">
                <div class="row no-margin">
                    <div class="col-md-3 text">
                        <div class="logo">
                            <img src="img/logo_white_judlaw.png" class="normal" alt="logo" />
                            <img src="img/logo_white@2x.png" class="retina" alt="logo" />
                        </div>
                        <p>Your legal marketplace </p>
                        <div>
                            <ul class="social">
                                <li>Find us on</li>
                                <li><a href="/"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                <li><a href="/"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 text small">
                        <h4 class="heading white margin-bottom-small weight-300">Head Office</h4>
                        <p>Centerpriser SAS <br/>
                            29 Chemin du Vieux Chêne, 38240 Meylan<br/>
                            Mon. - Fri., 9 a.m. - 6.00 p.m.</p>
                    </div>
                    <div class="col-md-2 text small">
                        <h4 class="heading white margin-bottom-small weight-300">Important link</h4>
                        <ul class="info">
                            <li><a href="/">Home</a></li>
                            <li><a href="/about.html">About Us</a></li>
                            <li><a href="/services.html">Services</a></li>
<!--                             <li><a href="/">FAQ</a></li> -->
                            <li><a href="/contact.html">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 text">
                        <h4 class="heading white margin-bottom-small weight-300">News Subscribtion</h4>
                        <p>Subscribe to our newsletter to get all our news in your inbox.</p>
                        <div id="newsletter-form">
                            <form class="search-form">
                                <div class="form-input">
                                    <input type="text" placeholder="Your email ID"/>
                                    <span class="form-button">
                                        <button type="button">Sign Up</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div id="copy">
            <div class="container">
                <div class="row no-margin">
                    <div class="col-md-6 text">
                        <p>©2017 <a href="/#">PuredesignThemes</a>. All rights reserved. </p>
                    </div>
                    <div class="col-md-6 text text-right">
                        <ul>
                            <li><a href="/#">Privacy Policy</a></li>
                            <li><a href="/#">Cookie Policy</a></li>
                            <li><a href="/#">Term and Condition</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--  END Footer. Class fixed for fixed footer  -->


<script src="js/jquery.min.js"></script>
<!-- All js library -->
<script src="js/bootstrap/bootstrap.min.js"></script>
<script src="js/jquery.flexslider-min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/isotope.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/jquery.scrollTo.min.js"></script>
<script src="js/smooth.scroll.min.js"></script>
<script src="js/jquery.appear.js"></script>
<script src="js/jquery.countTo.js"></script>
<script src="js/jquery.scrolly.js"></script>
<script src="js/plugins-scroll.js"></script>
<script src="js/imagesloaded.min.js"></script>
<script src="js/pace.min.js"></script>
<script src="js/main.js"></script>
<script src="js/jquery.autocomplete.js"></script>
</body>
</html>