<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Edmin</title>
<link type="text/css" href="/eadmin/bootstrap/css/bootstrap.min.css"
	rel="stylesheet" />
<link type="text/css"
	href="/eadmin/bootstrap/css/bootstrap-responsive.min.css"
	rel="stylesheet" />
<link type="text/css" href="/eadmin/css/style.css" rel="stylesheet" />
<link type="text/css" href="/eadmin/images/icons/css/font-awesome.css"
	rel="stylesheet" />
<link type="text/css"
	href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600'
	rel='stylesheet' />
</head>
<body>

	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse"
					data-target=".navbar-inverse-collapse"> <i
					class="icon-reorder shaded"></i>
				</a> <a class="brand" href="index.html"> Eadmin </a>

				<div class="nav-collapse collapse navbar-inverse-collapse">
					<ul class="nav nav-icons">
						<li class="active"><a href="#"> <i class="icon-envelope"></i>
						</a></li>
						<li><a href="#"> <i class="icon-eye-open"></i>
						</a></li>
						<li><a href="#"> <i class="icon-bar-chart"></i>
						</a></li>
					</ul>

					<form class="navbar-search pull-left input-append" action="#">
						<input type="text" class="span3" />
						<button class="btn" type="button">
							<i class="icon-search"></i>
						</button>
					</form>

					<ul class="nav pull-right">
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown">Dropdown <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#">Item No. 1</a></li>

								<li><a href="#">Don't Click</a></li>
								<li class="divider"></li>
								<li class="nav-header">Example Header</li>
								<li><a href="#">A Separated link</a></li>
							</ul></li>

						<li><a href="#"> Support </a></li>
						<li class="nav-user dropdown"><a href="#"
							class="dropdown-toggle" data-toggle="dropdown"> <img
								src="/eadmin/images/user.png" class="nav-avatar" /> <b class="caret"></b>
						</a>
							<ul class="dropdown-menu">
								<li><a href="#">Your Profile</a></li>
								<li><a href="#">Edit Profile</a></li>
								<li><a href="#">Account Settings</a></li>
								<li class="divider"></li>
								<li><a href="/logout">Logout</a></li>
							</ul></li>
					</ul>
				</div>
				<!-- /.nav-collapse -->
			</div>
		</div>
		<!-- /navbar-inner -->
	</div>
	<!-- /navbar -->



	<div class="wrapper">
		<div class="container">
			<div class="row">
				<div class="span3">
					<div class="sidebar">

						<ul class="widget widget-menu unstyled">
							<li class="menu-header">Functional</li>
							<li><a href="/lawyerDashboard"><i
									class="menu-icon icon-dashboard"></i>Dashboard </a></li>
							<li><a href="activity.html"><i
									class="menu-icon icon-bullhorn"></i>News Feed </a></li>
							<li><a href="message.html"><i
									class="menu-icon icon-inbox"></i>Inbox <b
									class="label green pull-right"> 11</b> </a></li>
							<li><a href="task.html"><i class="menu-icon icon-tasks"></i>Tasks
									<b class="label orange pull-right"> 19</b> </a></li>
						</ul>
						<!--/.widget-nav-->

						<ul class="widget widget-menu unstyled">
							<li class="menu-header">Task Management</li>
							<li><a href="/manageProject"><i
									class="menu-icon icon-bold"></i> Create/Update Project </a></li>
							<li><a class="active" href="/manageTask"><i
									class="menu-icon icon-bold"></i> Create/Update Task </a></li>
							<li><a href="ui-typography.html"><i
									class="menu-icon icon-book"></i>View Task </a></li>
						</ul>
						<!--/.widget-nav-->
						<ul class="widget widget-menu unstyled">
							<li><a href="#"><i class="menu-icon icon-signout"></i>Logout
							</a></li>
						</ul>

					</div>
					<!--/.sidebar-->
				</div>
				<!--/.span3-->


				<div class="span9">
					<div class="content">

						<div class="module">
							<div class="module-body">
								
								<div class="alert alert-error" th:if="${error}">
								<button type="button" class="close" data-dismiss="alert">×</button>
								<p class="error" th:if="${error}" th:text="${error}"></p>
								</div>
								
								<div class="alert alert-success" th:if="${message}">
								<button type="button" class="close" data-dismiss="alert">×</button>
									<p class="message" th:if="${message}" th:text="${message}">	</p>
								</div>
								
							</div>
						</div>
						
						<div class="module-body table">
									<table cellpadding="0" cellspacing="0" border="0"
										class="datatable-1 table table-bordered table-striped	 display"
										width="100%">
										<thead>
											<tr>
												<th>Task Name</th>
												<th>Duration(In Days)</th>
												<th>Created On</th>
												<th>Created By</th>
												<th>View File </th>
												<th>Operations</th>
												
											</tr>
										</thead>
										<tbody>
											<tr class="odd gradeX" th:each="taskMaster : ${taskMasterList}">
												<td th:text="${taskMaster.id}" name="id" hidden="true"></td>
												<td th:text="${taskMaster.tName}" ></td>
												<td class="center" th:text="${taskMaster.tDuration}"></td>
												<td class="center" th:text="${taskMaster.createdDate}"></td>
												<td th:text="${taskMaster.createdBy}"></td>
												<td class="center">
														<a th:href="@{'/eadmin/viewFileById/'+ ${taskMaster.fileName}}"><i class="menu-icon icon-file"></i> View File </a>
														<!-- <a th:href=""><i class="menu-icon icon-remove"></i> Delete </a> -->
												</td>
												<td class="center">
												<a th:href="@{'/eadmin/manageTask/'+ ${taskMaster.id}}"> <i class="menu-icon icon-edit"></i> Edit </a>
														<a th:href="@{'/eadmin/deleteTask/'+ ${taskMaster.id}}"> <i class="menu-icon icon-remove"></i> Delete </a>
												</td>
											</tr>
										</tbody>
									</table>
								</div>

						<div class="module">
							<div class="module-head">
								<h3>Task Add/Update Form</h3>
							</div>
							<div class="module-body">
								<br />
								<form class="form-horizontal row-fluid" action="/manageTask" enctype="multipart/form-data" method="POST" th:object="${taskMaster}">
									<div class="control-group">
										 <label
											class="control-label" for="basicinput">Task Name</label>
										<div class="controls">
											<input type="text" id="tName" name="tName"
												th:field="*{tName}" placeholder="Type your Task Name"
												class="span8"  /> <span class="help-inline">Unique Task Name.</span>
										</div>
									</div>


									<div class="control-group">
										<label class="control-label" for="basicinput">Task Duration</label>
										<div class="controls">
											<input type="number" id="tDuration" name="tDuration"
												th:field="*{tDuration}" class="span8" /><span class="help-inline">Task Duration in Days.</span>
										</div>
									</div>		
									
									<div class="control-group">
										<label class="control-label" for="basicinput">Document Upload</label>
										<div class="controls">
											<input type="file" id="file" name="file"
												th:field="*{file}" class="span8" /><span class="help-inline">Upload Supporting Document.</span>
										</div>
									</div>								

									<div class="control-group">
										<div class="controls">
											<button type="submit" class="btn">Submit</button>
										</div>
									</div>
								</form>

							</div>
						</div>
					</div>
					<!--/.content-->
				</div>
				<!--/.span9-->
			</div>
		</div>
		<!--/.container-->
	</div>
	<!--/.wrapper-->

	<div class="footer">
		<div class="container">
			<b class="copyright">&copy; 2017 Clegal - clegal.com</b> All rights
			reserved.
		</div>
	</div>

	<script src="/eadmin/scripts/jquery-1.9.1.min.js"
		type="text/javascript"></script>
	<script src="/eadmin/scripts/jquery-ui-1.10.1.custom.min.js"
		type="text/javascript"></script>
	<script src="/eadmin/bootstrap/js/bootstrap.min.js"
		type="text/javascript"></script>
	<script src="/eadmin/scripts/flot/jquery.flot.js"
		type="text/javascript"></script>
</body>
</html>