<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<title></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
<div th:insert="eadmin/dashboardHeader:: copy"></div>
<div class="main_container_dashboard">
	<div class="col-md-11 col-md-offset-1">
		<div class="module projectCreateForm">
			<div class="module-head">
				<h3 class="headingFormh3">Project Creation Form</h3>
			</div>
			<div class="module-body">
				<br />
				<!-- <form class="form-horizontal row-fluid" action="/saveProject" method="POST" th:object="${projectMaster}"> -->
				<form class="form-horizontal row-fluid" action="/saveProject" method="POST" th:object="${projectCreationForm}" id="createProjectForm" enctype="multipart/form-data">
					<div class="formProjectCreation">
					<div class="control-group col-md-6">
						 <label
							 class="control-label" for="basicinput">Project Name</label>
						<div class="controls">
							<input type="text" id="projectName" th:field="*{projectMaster.projectName}" placeholder="Type Project Name" class="span8"  /> <span class="help-inline"></span>
							<p class="alert alert-danger" th:if="${#fields.hasErrors('projectMaster.projectName')}" th:errors="*{projectMaster.projectName}"></p>
						</div>
					</div>

					<!-- Remove the field of project duration at the moment, might not be necessary -->
<!-- 					<div class="control-group col-md-6">
						<label class="control-label" for="basicinput">Project Duration</label>
						<div class="controls">
							<input type="number" id="projectDuration" name="projectDuration"
								th:field="*{projectMaster.projectDuration}" class="span8" /><span class="help-inline"> Type Project Duration in Days.</span>
						</div>
					</div> -->	
					
					<div class="control-group col-md-6">
						<label class="control-label" for="basicinput">Project Start Date</label>
						<div class="controls">
							<!-- <input type="text"  class="form-control floating-label" placeholder="Date"> -->
							<input type="text" th:field="*{projectMaster.projectStartDate}" 
							 class="span8 date" placeholder="mm/dd/yyyy"/><span class="help-inline"></span>
							<p class="alert alert-danger" th:if="${#fields.hasErrors('projectMaster.projectStartDate')}" th:errors="*{projectMaster.projectStartDate}"></p>							 
						</div>
					</div>
					
					<div class="control-group col-md-6">
						<label class="control-label" for="basicinput">Project End Date</label>
						<div class="controls">
							<input type="text" th:field="*{projectMaster.projectEndDate}"
							 class="span8 date"  placeholder="mm/dd/yyyy"/><span class="help-inline"></span>
							<p class="alert alert-danger" th:if="${#fields.hasErrors('projectMaster.projectEndDate')}" th:errors="*{projectMaster.projectEndDate}"></p>							 
						</div>
					</div>	

					<div class="control-group col-md-6">
						 <label
							 class="control-label" for="basicinput">Client ID</label>
						<div class="controls">
							<input type="text" id="projectName" th:field="*{projectMaster.endUserID}" placeholder="Type client ID" class="span8"  /> <span class="help-inline"></span>
							<p class="alert alert-danger" th:if="${#fields.hasErrors('projectMaster.endUserID')}" th:errors="*{projectMaster.endUserID}"></p>							
						</div>
					</div>
					
					<div class="control-group col-md-6">
						<label class="control-label" for="basicinput">Project Description</label>
						<div class="controls">
							<textarea id="projectDescription" th:field="*{projectMaster.projectDescription}" placeholder="Type Project Description" class="span8"></textarea> <!-- <span class="help-inline"></span> -->
						</div>
					</div>
										
					<div class="control-group col-md-6">
						<label class="control-label" for="basicinput">Currency</label>
						<div class="controls">
						<select th:field="*{{projectMaster.currency}}">
						    <option th:each="state : ${T(com.clegal.model.ProjectMaster.Currency).values()}"
						            th:value="${{state}}" th:selected="${state == T(com.clegal.model.ProjectMaster.Currency)}"
						            th:text="${state.displayName}">
						    </option>
						</select><span class="help-inline"></span>
						</div>
					</div>						
										
					</div>									
													
			<div class="moduleTask formTask">
				<div class="module-head">
					<h3 class="headingFormh3"></h3>
				</div>
				<div class="module-body taskFormBg" th:each="task, stat : *{taskMasterList}">
					<h3 th:text="'Task Number '+${stat.index + 1}" class="headingFormh3">Task Form</h3>
					<br/>
						<div class="control-group col-md-6">
							 <label
								class="control-label" for="basicinput">Task Name</label>
							<div class="controls">
								<!-- <input type="text" id="date" class="form-control floating-label" placeholder="Date"> -->
								<input type="text" th:field="*{taskMasterList[__${stat.index}__].tName}" name="tName"
									placeholder="Type Task Name" th:attr="id=tName__${stat.index}__"
									class="span8"  />
									 <span class="help-inline">*</span>
									 <p class="alert alert-danger" th:if="${#fields.hasErrors('taskMasterList[__${stat.index}__].tName')}" th:errors="*{taskMasterList[__${stat.index}__].tName}"></p>								 
							</div>
						</div>

<!-- 						<div class="control-group col-md-6">
							<label class="control-label" for="basicinput">Task Duration</label>
							<div class="controls">
								<input type="number" th:field="*{taskMasterList[__${stat.index}__].tDuration}" name="tDuration"
								 class="span8" /><span class="help-inline">*Task Duration in Days.</span>
							</div>
						</div> -->
						
						<div class="control-group col-md-6">
							<label class="control-label" for="basicinput">*Start Date</label>
							<div class="controls">
								<input type="text" 
								 class="span8 date" th:field="*{taskMasterList[__${stat.index}__].taskStartDate}" placeholder="mm/dd/yyyy" /><span class="help-inline">*</span>
							</div>
						</div>
						
						<div class="control-group col-md-6">
							<label class="control-label" for="basicinput">End Date</label>
							<div class="controls">
								<input type="text" 
								 class="span8 date" th:field="*{taskMasterList[__${stat.index}__].taskEndDate}" placeholder="mm/dd/yyyy" /><span class="help-inline"></span>
							</div>
						</div>																								
						
						
						<div class="control-group col-md-6">
							<label class="control-label" for="basicinput">Task Description</label>
							<div class="controls">
								<textarea id="taskDescription" th:field="*{taskMasterList[__${stat.index}__].tDescription}" placeholder="Type Task Description" class="span8"></textarea> <!-- <span class="help-inline"></span> -->
							</div>
						</div>
						
						<div class="control-group col-md-6">
							<label class="control-label" for="basicinput">Task Status</label>
							<div class="controls">
								<select>
									<option value="">Started</option>
									<option value="">Midway</option>
									<option value="">Completed</option>
								</select><span class="help-inline"></span>
								<!-- bootstrap slider to be added here -->
<!-- 								<input id="ex17a" type="text"/> -->								
							</div>
						</div>
						
						<div class="control-group col-md-6">
							<label class="control-label" for="basicinput">Task Price</label>
							<div class="controls">
								<input type="number" min="0" step="0.01" th:field="*{taskMasterList[__${stat.index}__].taskPrice}"
								 class="span8" placeholder=""/><span class="help-inline"></span>
							</div>
						</div>						
																																
						<div class="control-group col-md-6">
							<label class="control-label" for="basicinput">Document Upload</label>
							<div class="controls">
								<input type="file" th:field="*{taskMasterList[__${stat.index}__].files}" name="file"
								 class="span8" multiple/><span class="help-inline"> Upload Supporting Document.</span>
							</div>
							<div th:if="*{taskMasterList[__${stat.index}__].downloadFileURIs}">Download Files
								<div th:each=" link, linkIndex : *{taskMasterList[__${stat.index}__].uploadFileIDS}">
									<a th:href="@{|/downloadFile?fileName=${link}|}" th:text="*{taskMasterList[__${stat.index}__].downloadFileURIs[__${linkIndex.index}__]}">download</a>								
								</div>
							</div>
						</div>							
					</div>
				</div>
				<!-- end of module "moduleTask" -->
					<!-- <input type="text" hidden="true" th:id="projectCreationForm" th:value="${projectCreationForm}"/> -->
				<!-- <a class="addNewTask" id="taskSubmit" th:href="@{|/addTask/${stat.index|}">Add New Task</a> -->
				<div class="subButton">
				<div class="control-group col-md-6">
					<div class="controls">
						<button type="submit" name="action" value="addTask" class="formAddTask"><i class="fa fa-plus"> Add New Task</i></button>
					</div>
				</div>
				<div class="control-group col-md-6">
					<div class="controls">
						<button type="submit" name="action" value="submit" class="formSubmit">Submit</button>
					</div>
				</div>
				</div>																
			</form>
			</div>
		<!-- div module close -->
		</div>
	</div>
</div>
<!--  Footer  -->
        <footer id="footer" th:fragment="copy">
            <div class="container">
                <div class="row no-margin">
                    <div class="col-md-3 text">
                        <div class="logo">
                            <img src="/img/logo_white_judlaw.png" class="normal" alt="logo" />
                            <img src="/img/logo_white_judlaw.png" class="retina" alt="logo" />
                        </div>
                        <p>Your legal marketplace </p>
                        <div>
                            <ul class="social">
                                <li>Find us on</li>
                                <li><a href="/"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                <li><a href="/"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 text small">
                        <h4 class="heading white margin-bottom-small weight-300">Head Office</h4>
                        <p>Centerpriser SAS <br/>
                            29 Chemin du Vieux Chêne, 38240 Meylan<br/>
                            Mon. - Fri., 9 a.m. - 6.00 p.m.</p>
                    </div>
                    <div class="col-md-2 text small">
                        <h4 class="heading white margin-bottom-small weight-300">Important link</h4>
                        <ul class="info">
                            <li><a href="/">Home</a></li>
                            <li><a href="/about.html">About Us</a></li>
                            <li><a href="/services.html">Services</a></li>
<!--                             <li><a href="/">FAQ</a></li> -->
                            <li><a href="/contact.html">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 text">
                        <h4 class="heading white margin-bottom-small weight-300">News Subscribtion</h4>
                        <p>Subscribe to our newsletter to get all our news in your inbox.</p>
                        <div id="newsletter-form">
                            <form class="search-form">
                                <div class="form-input">
                                    <input type="text" placeholder="Your email ID"/>
                                    <span class="form-button">
                                        <button type="button">Sign Up</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div id="copy">
            <div class="container">
                <div class="row no-margin">
                    <div class="col-md-6 text">
                        <p>©2017 <a href="/#">PuredesignThemes</a>. All rights reserved. </p>
                    </div>
                    <div class="col-md-6 text text-right">
                        <ul>
                            <li><a href="/#">Privacy Policy</a></li>
                            <li><a href="/#">Cookie Policy</a></li>
                            <li><a href="/#">Term and Condition</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--  END Footer. Class fixed for fixed footer  -->
        <script>
        $(document).ready(function($) {
        	$("#ex17a").slider({
        		min: 0,
        		max: 10,
        		value: 0,
        		tooltip_position:'bottom'
        	});
        });
        </script>
</body>
</html>