<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- <title>Edmin</title> -->
</head>
<body>

<div th:insert="/bu/buHeader :: buHeader"></div>
	<div class="wrapper">
		<div class="container">
			<div class="row">
				<div class="span3">
					<div class="sidebar">

						<ul class="widget widget-menu unstyled">
							<li class="menu-header">Functional</li>
							<li><a href="/lawyerDashboard"><i
									class="menu-icon icon-dashboard"></i>Dashboard </a></li>
							<li><a href="activity.html"><i
									class="menu-icon icon-bullhorn"></i>News Feed </a></li>
							<li><a href="message.html"><i
									class="menu-icon icon-inbox"></i>Inbox <b
									class="label green pull-right"> 11</b> </a></li>
							<li><a href="task.html"><i class="menu-icon icon-tasks"></i>Tasks
									<b class="label orange pull-right"> 19</b> </a></li>
						</ul>
						<!--/.widget-nav-->

						<ul class="widget widget-menu unstyled">
							<li class="menu-header">Project Management</li>
							<li><a class="active" href="/manageProjectLandingPage"><i
									class="menu-icon icon-bold"></i> Create Project </a></li>
<!-- 							<li><a href="/manageTask"><i class="menu-icon icon-bold"></i>
									Create/Update Task </a></li> -->
							<li><a href="/eadmin/viewProject"><i
									class="menu-icon icon-book"></i>View/Update Projects </a></li>
									
							<li><a href="/eadmin/chat"><i
									class="menu-icon icon-envelope"></i>Messages </a></li>
									
							<li><a href="/eadmin/chat"><i
									class="menu-icon icon-envelope"></i>Billing </a></li>						
						</ul>
						<!--/.widget-nav-->
						<ul class="widget widget-menu unstyled">
							<li><a href="/logout"><i class="menu-icon icon-signout"></i>Logout
							</a></li>
						</ul>

					</div>
					<!--/.sidebar-->
				</div>
				<!--/.span3-->


				<div class="span9">
					<div class="content">

						<div class="module">
							<div class="module-body">
								
								<div class="alert alert-error" th:if="${error}">
								<button type="button" class="close" data-dismiss="alert">X</button>
								<p class="error" th:if="${error}" th:text="${error}"></p>
								</div>
								
								<div class="alert alert-success" th:if="${message}">
								<button type="button" class="close" data-dismiss="alert">X</button>
									<p class="message" th:if="${message}" th:text="${message}">	</p>
								</div>
								
<!-- 								<div class="module-body table">
									<table cellpadding="0" cellspacing="0" border="0"
										class="datatable-1 table table-bordered table-striped	 display"
										width="100%">
										<thead>
											<tr>
												<th>Project Name</th>
												<th>Duration(In Days)</th>
												<th>Lawyer ID</th>
												<th>Created On</th>
												<th>Operations</th>
												
											</tr>
										</thead>
										<tbody>
											<tr class="odd gradeX" th:each="projectMaster : ${projectMasterList}">
												<td th:text="${projectMaster.id}" name="id" hidden="true"></td>
												<td th:text="${projectMaster.projectName}" ></td>
												<td class="center" th:text="${projectMaster.projectDuration}"></td>
												<td th:text="${projectMaster.buMemberID}"></td>
												<td class="center" th:text="${projectMaster.createdDate}"></td>
												<td class="center">
														<a th:href="@{'/eadmin/manageProject/'+ ${projectMaster.id}}"> <i class="menu-icon icon-edit"></i> Edit </a>
														<a th:href="@{'/eadmin/deleteProject/'+ ${projectMaster.id}}"> <i class="menu-icon icon-remove"></i> Delete </a>
												</td>
											</tr>
										</tbody>
									</table>
								</div> -->
								
							</div>
						</div>

						<div class="module">
							<div class="module-head">
								<h3>Project Manage Form</h3>
							</div>
							<div class="module-body">
								<br />
								<!-- <form class="form-horizontal row-fluid" action="/saveProject" method="POST" th:object="${projectMaster}"> -->
								<form class="form-horizontal row-fluid" action="/saveProject" method="POST" th:object="${projectCreationForm}" id="createProjectForm" enctype="multipart/form-data">
									<div class="control-group">
										 <label
											 class="control-label" for="basicinput">Project Name</label>
										<div class="controls">
											<input type="text" id="projectName" th:field="*{projectMaster.projectName}" placeholder="Type your ProjectName" class="span8"  /> <span class="help-inline">Unique Project Name.</span>
										</div>
									</div>

									<div class="control-group">
										<label class="control-label" for="basicinput">Project Duration</label>
										<div class="controls">
											<input type="number" id="projectDuration" name="projectDuration"
												th:field="*{projectMaster.projectDuration}" class="span8" /><span class="help-inline">Type Project Duration in Days.</span>
										</div>
									</div>									

									<div class="control-group">
										<div class="controls">
											<button type="submit" name="action" value="submit" class="btn">Submit</button>
										</div>
									</div>
								<!-- </form> -->
<!-- 							</div>
						</div> -->
						
						
							<div class="moduleTask">
								<div class="module-head">
									<h3>Task Add/Update Form</h3>
								</div>
								<div class="module-body" th:each="task, stat : *{taskMasterList}">
									<br />
									
	<!-- 								<table>	
									 <tr th:each="task, stat : ${taskMasterWrapper.taskMasterList}">
								     <td>
								     <div class="control-group">
											<label class="control-label" for="basicinput">Task Duration</label>
											<div class="controls">
												<input type="number" id="${task.tDuration}" name="tDuration"
												 class="span8" /><span class="help-inline">Task Duration in Days.</span>
											</div>
										</div>
								     </td>
								     
								     </tr>
								     </table> -->
								     
									<!-- <form class="form-horizontal row-fluid" id="form2" action="/manageTask" enctype="multipart/form-data" method="POST" th:object="${taskMaster}"> -->
									<!-- <form class="form-horizontal row-fluid"  enctype="multipart/form-data" th:object="${taskMaster}"> -->
	 									<div class="control-group">
											 <label
												class="control-label" for="basicinput">Task Name</label>
											<div class="controls">
												<input type="text" th:field="*{taskMasterList[__${stat.index}__].tName}" name="tName"
													placeholder="Type your Task Name" th:attr="id=tName__${stat.index}__"
													class="span8"  />
													 <span class="help-inline">Unique Task Name.</span>
											</div>
										</div>
	
	
										<div class="control-group">
											<label class="control-label" for="basicinput">Task Duration</label>
											<div class="controls">
												<input type="number" th:field="*{taskMasterList[__${stat.index}__].tDuration}" name="tDuration"
												 class="span8" /><span class="help-inline">Task Duration in Days.</span>
											</div>
										</div>		
										
										<div class="control-group">
											<label class="control-label" for="basicinput">Document Upload</label>
											<div class="controls">
												<input type="file" th:field="*{taskMasterList[__${stat.index}__].file}" name="file"
												 class="span8" /><span class="help-inline">Upload Supporting Document.</span>
											</div>
										</div>							
	

									</div>
								</div>
								<!-- end of module "moduleTask" -->
 								<!-- <input type="text" hidden="true" th:id="projectCreationForm" th:value="${projectCreationForm}"/> -->
								<!-- <a class="addNewTask" id="taskSubmit" th:href="@{|/addTask/${stat.index|}">Add New Task</a> -->
								<div class="control-group">
									<div class="controls">
										<button type="submit" name="action" value="addTask" class="btn">Add New Task</button>
									</div>
								</div>								
								<!-- <a class="addNewTask" id="taskSubmit" th:href="@{/addTask}">Add New Task</a> -->
							</form>
								 <!-- <button class="btn1">Add New Task</button> -->
							</div>
						</div>
					</div>
					<!--/.content-->
						<div class="control-group">
							<div class="controls">
								<script th:inline="javascript">
								/*<![CDATA[*/
											function ajaxPost(){
										    	// DO POST
										    	var a = /*[[${projectCreationForm}]]*/;
										    	var taskName = $('#tName'+count).val();
										    	var taskDuration = $('#tDuration'+count).val();
										    	var file = $('#createProjectForm')[0];
										    	var fileUp = new FormData(file);
										    	count = count + 1;
										    	$.ajax({
													type : "POST",
													/* contentType : "application/json; charset=utf-8", */
													url : "/addTask?taskName="+taskName+"&taskDuration="+taskDuration,
													data: fileUp,
													/* information specific to file upload */
													enctype: 'multipart/form-data',	
											        processData: false, //prevent jQuery from automatically transforming the data into a query string
											        contentType: false,
											        cache: false,
											        timeout: 600000,
													/* data : JSON.stringify(a), */
													/*dataType : 'json', */
													success : function(result) {
														console.log("result", result);
/* 														var taskName = '<div class="control-group"> <label class="control-label" for="basicinput">Task Name</label> <div class="controls"> <input type="text" th:field="*{taskMasterList[__${stat.index}__].tName}" name="tName" placeholder="Type your Task Name" id="tName'+count+'" class="span8" /> <span class="help-inline">Unique Task Name.</span> </div> </div>';
														var taskDuration = '<div class="control-groupTaskDuration"> <label class="control-label" for="basicinput">Task Duration</label> <div class="controls"> <input type="number" name = tDuration id = "tDuration'+count+'" class="span8" /><span class="help-inline">Task Duration in Days.</span> </div> </div>	'
														var fileUpload = '<div class="control-groupFile"> <label class="control-label" for="basicinput">Document Upload</label> <div class="controls"> <input type="file" th:attr="id=file__${stat.index}__" name="file" id = "file"'+count+'class="span8" /><span class="help-inline">Upload Supporting Document.</span> </div> </div>	'
 */														/* $(".content").append(taskName).append(taskDuration).append(fileUpload); */
														var dynamicElement =  '<div class="moduleTask">'+
																				+	'<div class="module-head">'+
																						'<h3>Task Add/Update Form</h3>'+
																					'</div>'+
																					'<div class="module-body" th:each="task, stat : *{taskMasterList}">'+
																						'<br />'+
														 									'<div class="control-group">'+
																								 '<label '+
																									'class="control-label" for="basicinput">Task Name</label>'+
																								'<div class="controls">'+
																									'<input type="text" th:field="*{taskMasterList[__${'+count+'}__].tName}" name="tName" '+
																										'placeholder="Type your Task Name" id="tName'+count+'"'+
																										'class="tName"  />'+
																										 '<span class="help-inline">Unique Task Name.</span>'+
																								'</div>'+
																							'</div>'+
																							'<div class="control-group">'+
																								'<label class="control-label" for="basicinput">Task Duration</label>'+
																								'<div class="controls">'+
																									'<input type="number" id="tDuration'+count+'"'+' name="tDuration" '+
																									 'class="span8" /><span class="help-inline">Task Duration in Days.</span>'+
																								'</div>'+
																							'</div>'+		
																							
																							'<div class="control-group">'+
																								'<label class="control-label" for="basicinput">Document Upload</label>'+
																								'<div class="controls">'+
																									'<input type="file" id="file'+count+'"'+' name="file" '+
																									 'class="span8" /><span class="help-inline">Upload Supporting Document.</span>'+
																								'</div>'+
																							'</div>'+							
																						'</div>'+
																					'</div>'+
																				'</div>'
														/* $(".tName").clone(true).prop('id', 'tName'+count+1).appendTo(".content"); */
/* 														$(".control-groupTaskDuration").clone(true).prop('id', 'tDuration'+count).appendTo(".content");
														$(".control-groupFile").clone(true).prop('id', 'file'+count).appendTo(".content");
 */														/* $(".content").append(taskName).append(taskDuration).append(fileUpload); */
													$(".content").append(dynamicElement);
													},
													error : function(e) {
														console.log("ERROR: ", e);
													}
												});
											}
								/*]]>*/
								</script>
							</div>
						</div>
				</div>
				<!--/.span9-->
			</div>
		</div>
		<!--/.container-->
	</div>
	<!--/.wrapper-->

	<div class="footer">
		<div class="container">
			<b class="copyright">&copy; 2017 Clegal - clegal.com</b> All rights
			reserved.
		</div>
   </div>
</body>
</html>