<header id="headerNotification" th:fragment="copy">
            <div class="col-md-12 upper_header">
                <div class="col-md-3 small_res1">
                    <a href="index.html"><img src="/img/logo.png" class="small_res2" width="100%" alt="logo"></img></a>
                </div>
                <div class="col-md-5">
                    <input type="search" class="col-md-12 search_box" name="search" placeholder="Search..">
                </div>
                <div class="col-md-2 text-right">
			   <ul class="noti">

                        <li id="msg_Container">
                            <div id="msg_Counter" style="margin: -8px 0 0 15px;">2</div>
                            <!--SHOW NOTIFICATIONS COUNT.-->
                            <!--A CIRCLE LIKE BUTTON TO DISPLAY NOTIFICATION DROPDOWN.-->
                            <div id="msg_Button" class="fa fa-commenting-o hover_blue_big" title="Messages" style="font-size:18px !important"></div>

                            <!--THE NOTIFICAIONS DROPDOWN BOX.-->
                            <div id="messages">
                                <h3>Messages</h3>
                                <div style="height:250px;">
                                    <div class="noti_box">Hello, This is demo text.</div>
                                    <div class="noti_box">Hello, you have new message please check it out.</div>
                                </div>
                                <div class="seeAll"><a href="#">See All</a></div>
                            </div>
                        </li>

                    </ul>

                    <ul class="noti">

                        <li id="noti_Container">
                            <div id="noti_Counter"  style="margin: -8px 0 0 15px;">4</div>
                            <!--SHOW NOTIFICATIONS COUNT.-->
                            <!--A CIRCLE LIKE BUTTON TO DISPLAY NOTIFICATION DROPDOWN.-->
                            <div id="noti_Button" class="fa fa-bell hover_blue_big" title="Notifications"  style="font-size:18px !important"></div>

                            <!--THE NOTIFICAIONS DROPDOWN BOX.-->
                            <div id="notifications">
                                <h3>Notifications</h3>
                                <div style="height:250px;">
                                    <div class="noti_box">Hello, This is demo text.</div>
                                    <div class="noti_box">Hello, you have new notification please check it out.</div>
                                    <div class="noti_box">You have new notification.</div>
                                    <div class="noti_box">You have new request. Click and check update.</div>
                                </div>
                                <div class="seeAll"><a href="#">See All</a></div>
                            </div>
                        </li>

                    </ul>
					</div>
					
                <div class="col-md-2 text-right">
                    <div id="dropdown" class="ddmenu">
                        <span th:text="${userName}">Ankuj Arora</span><!--<i class="down"></i>-->
                        <!--<ul>
                            <li><a href="/eadmin/profilePage">My Profile</a></li>
                            <li><a href="/eadmin/profilePage">Support</a></li>
                            <li><a href="/eadmin/profilePage">Log Out</a></li>
                        </ul>-->
                    </div>
                </div>
            </div>
		<script type="text/javascript">
		$("#dropdown").on("click", function(e){
	  e.preventDefault();
	  
	  if($(this).hasClass("open")) {
	    $(this).removeClass("open");
	    $(this).children("ul").slideUp("fast");
	  } else {
	    $(this).addClass("open");
	    $(this).children("ul").slideDown("fast");
	  }
	});
	</script>
	<script>
	    $(document).ready(function () {
	
	        $('#noti_Counter')
	            .css({ opacity: 0 })
	            .text('4')              
	            .css({ top: '-10px' })
	            .animate({ top: '-2px', opacity: 1 }, 500);
	
	        $('#noti_Button').click(function () {
	
	            $('#notifications').fadeToggle('fast', 'linear', function () {
	            });
	
	            $('#noti_Counter').fadeOut('slow');                
	
	            return false;
	        });
	
	        $(document).click(function () {
	            $('#notifications').hide();
	
	        });
	
	        $('#notifications').click(function () {
	            return false;       
	        });
	    });
	</script>
	<script>
	    $(document).ready(function () {
	
	        $('#msg_Counter')
	            .css({ opacity: 0 })
	            .text('200')              
	            .css({ top: '-10px' })
	            .animate({ top: '-2px', opacity: 1 }, 500);
	
	        $('#msg_Button').click(function () {
	
	            $('#messages').fadeToggle('fast', 'linear', function () {
	
	            });
	
	            $('#msg_Counter').fadeOut('slow');            
	
	            return false;
	        });
	
	        $(document).click(function () {
	            $('#messages').hide();
	        });
	
	        $('#massages').click(function () {
	            return false;    
	        });
	    });
	</script>
	<script>
	function openNav() {
	    /*$("#newone").css({"width":"300px","position":"relative","z-index":"1000"});*/
	    $("#newone").toggleClass("open");
	    if ($('#newone').hasClass('open')){
	        $('i').tooltip("disable");  
	    } else {
	        $('i').tooltip("enable");
	      }
	    //$(".main_container_dashboard").find(".open").find('i').tooltip("disable");
	
	}
	
	function closeNav() {
	    document.getElementById("mySidenav").style.width = "0";
	}
	</script>
	<script>
	$(document).ready(function(){
	    $('[data-toggle="tooltip"]').tooltip();   
	});
	</script>
	<script>
	function myFunction(x) {
	    x.classList.toggle("change");
	}
	</script>
	<script type="text/javascript">
			$(document).ready(function()
			{
				$('.date').bootstrapMaterialDatePicker
				({
					time: false,
					clearButton: true,
					format: 'MM/DD/YYYY'
				});
	
				//$.material.init()
			});
	</script>
	
	<!-- script to get notified in case of client video call requests or chats -->
	<script th:inline="javascript">
	    /*<![CDATA[*/
        console.log("###here in the script");
	    var username = /*[[${userName}]]*/;
	    if(username) {
	        var socket = new SockJS('/ws');
	        stompClient = Stomp.over(socket);
	
	        stompClient.connect({}, onConnected, onError);
	    }
	
	
	
	    function onConnected() {
	        // Subscribe to the Public Topic
	        //    stompClient.subscribe('/topic/public', onMessageReceived);
	        /* stompClient.subscribe('/user/'+username+'/queue/notification', onMessageReceived); */
	        stompClient.subscribe('/user/queue/notification/videoCallRequest', onMessageReceived);
	        stompClient.subscribe('/user/queue/notification', onMessageReceived);
	        // Tell your username to the server
	        stompClient.send("/app/chat.addUser",
	            {},
	            JSON.stringify({sender: username, type: 'JOIN'})
	        )
	    }
	
	
	    function onError(error) {
	        connectingElement.textContent = 'Could not connect to WebSocket server. Please refresh this page to try again!';
	        connectingElement.style.color = 'red';
	    }
	
	
	    function sendMessage(event) {
	        var messageContent = messageInput.value.trim();
	
	        if(messageContent && stompClient) {
	            var chatMessage = {
	                sender: username,
	                content: messageInput.value,
	                type: 'CHAT',
	                projectID : projectID
	            };
	            stompClient.send("/app/chat.private."+ collaborator, {}, JSON.stringify(chatMessage));
	            messageInput.value = '';
	        }
	        event.preventDefault();
	    }
	
	
	    function onMessageReceived(payload) {
	    	var counter = (Number)($('#msg_Counter')['0'].innerText);
	    	counter = counter+1;
	    	console.log('counter ', counter);
	    	$('#msg_Counter')['0'].innerText = counter;
/* 	        var message = JSON.parse(payload.body);
	
	        var messageElement = document.createElement('li');
	
	        if(message.type === 'JOIN') {
	            messageElement.classList.add('event-message');
	            message.content = message.sender + ' joined!';
	        } else if (message.type === 'LEAVE') {
	            messageElement.classList.add('event-message');
	            message.content = message.sender + ' left!';
	        } else {
	            messageElement.classList.add('chat-message');
	
	            var avatarElement = document.createElement('i');
	            var avatarText = document.createTextNode(message.sender[0]);
	            avatarElement.appendChild(avatarText);
	            avatarElement.style['background-color'] = getAvatarColor(message.sender);
	
	            messageElement.appendChild(avatarElement);
	
	            var usernameElement = document.createElement('span');
	            var usernameText = document.createTextNode(message.sender);
	            usernameElement.appendChild(usernameText);
	            messageElement.appendChild(usernameElement);
	        }
	
	        var textElement = document.createElement('p');
	        var messageText = document.createTextNode(message.content);
	        textElement.appendChild(messageText);
	
	        messageElement.appendChild(textElement);
	
	        messageArea.appendChild(messageElement);
	        messageArea.scrollTop = messageArea.scrollHeight; */
	    }
	    /*]]>*/
	</script>		
</header>	