<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Edmin</title>
	<link type="text/css" href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link type="text/css" href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />
	<link type="text/css" href="css/style.css" rel="stylesheet"/>
	<link type="text/css" href="images/icons/css/font-awesome.css" rel="stylesheet"/>
	<link type="text/css" href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600' rel='stylesheet' />
</head>
<body>

	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-inverse-collapse">
					<i class="icon-reorder shaded"></i>
				</a>

			  	<a class="brand" href="index.html">
			  		Edmin
			  	</a>

				<div class="nav-collapse collapse navbar-inverse-collapse">
					<ul class="nav nav-icons">
						<li class="active"><a href="#">
							<i class="icon-envelope"></i>
						</a></li>
						<li><a href="#">
							<i class="icon-eye-open"></i>
						</a></li>
						<li><a href="#">
							<i class="icon-bar-chart"></i>
						</a></li>
					</ul>

					<form class="navbar-search pull-left input-append" action="#">
						<input type="text" class="span3"/>
						<button class="btn" type="button">
							<i class="icon-search"></i>
						</button>
					</form>
				
					<ul class="nav pull-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#">Item No. 1</a></li>
								
								<li><a href="#">Don't Click</a></li>
								<li class="divider"></li>
								<li class="nav-header">Example Header</li>
								<li><a href="#">A Separated link</a></li>
															</ul>
						</li>
						
						<li><a href="#">
							Support
						</a></li>
						<li class="nav-user dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<img src="/eadmin/images/user.png" class="nav-avatar" />
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#">Your Profile</a></li>
								<li><a href="#">Edit Profile</a></li>
								<li><a href="#">Account Settings</a></li>
								<li class="divider"></li>
								 <li><a href="/logout">Logout</a></li>
							</ul>
						</li>
					</ul>
				</div><!-- /.nav-collapse -->
			</div>
		</div><!-- /navbar-inner -->
	</div><!-- /navbar -->



	<div class="wrapper">
		<div class="container">
			<div class="row">
				<div class="span3">
					<div class="sidebar">

						<ul class="widget widget-menu unstyled">
							<li class="active">
								<a href="/admin">
									<i class="menu-icon icon-dashboard"></i>
									Dashboard
								</a>
							</li>
							
						</ul><!--/.widget-nav-->

						<ul class="widget widget-menu unstyled">
							<li>
								<a href="#">
									<i class="menu-icon icon-signout"></i>
									Logout
								</a>
							</li>
						</ul>

					</div><!--/.sidebar-->
				</div><!--/.span3-->


				<div class="span9">
					<div class="content">
					
						<div class="module">
							<div class="module-head">
							</div>
							<div class="module-head">
                                    <h3> User List</h3>
                                </div>
							<div class="module-body">
								<div class="module-body table">
									<table cellpadding="0" cellspacing="0" border="0"
										class="datatable-1 table table-bordered table-striped	 display"
										width="100%">
										<thead>
											<tr>
												<th>User Name</th>
												<th>First Name</th>
												<th>Last Name</th>
												<th>Enable</th>
												<th>Role</th>
												<th>Operation</th>
												
											</tr>
										</thead>
										<tbody>
											<tr class="odd gradeX" th:each="userAccountMaster : ${userAccountList}">
												<td th:text="${userAccountMaster.id}" hidden="true" name="id"></td>
												<td th:text="${userAccountMaster.username}" ></td>
												<td th:text="${userAccountMaster.firstname}"></td>
												<td th:text="${userAccountMaster.lastname}"></td>
												<td class="center" th:text="${userAccountMaster.enabled}"></td>
												<td th:each="userRole : ${userAccountMaster.roles}"><ul><p th:text="${userRole.id}" /></ul></td>
												<td class="center">
														<a th:href="@{'/eadmin/editFromUserAccount/'+ ${userAccountMaster.id}}"> <i class="menu-icon icon-edit"></i> Edit </a>
														<a th:href="@{'/eadmin/deleteFromUserAccount/?id='+ ${userAccountMaster.id}}"> <i class="menu-icon icon-remove"></i> Delete </a>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>

						<div class="module">
							<div class="module-head">
								<h3>User Addition Form</h3>
								<div class="control-group">
									<p class="message" th:if="${message}" th:text="${message}"></p>
								</div>
								<div class="control-group">
									<p class="error" th:if="${error}" th:text="${error}"></p>
								</div>
							</div>
							<div class="module-body">
								<br />
								<form class="form-horizontal row-fluid"
									action="/eadmin/addInUserAccount" method="POST" th:object="${userInformation}">
									<div class="control-group">
										
										<label class="control-label" for="basicinput">User
											Name</label>
										<div class="controls">
											<input type="text" id="username" name="username" th:field="*{username}" placeholder="Type your UserName" class="span8" /> 
										</div>
									</div>

									<div class="control-group">
										<label class="control-label" for="basicinput">Password</label>
										<div class="controls">
											<input type="password" id="password" name="password" th:field="*{password}"
												placeholder="Type your password" class="span8" />
											<p class="text-error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</p>
										</div>
									</div>

									<div class="control-group">
										<label class="control-label" for="basicinput">Title</label>
										<div class="controls">
											<input type="text" id="title" name="title" th:field="*{title}"
												placeholder="Your Title Please" class="span8" />
										</div>
									</div>
									
									<div class="control-group">
										<label class="control-label" for="basicinput">First
											Name</label>
										<div class="controls">
											<input type="text" id="firstname" name="firstname" th:field="*{firstname}"
												placeholder="Type First Name" class="span8" />
										</div>
									</div>

									<div class="control-group">
										<label class="control-label" for="basicinput">Last
											Name</label>
										<div class="controls">
											<input type="text" id="lastname" name="lastname" th:field="*{lastname}"
												placeholder="Type Last Name" class="span8" />
										</div>
									</div>
									
									<div class="control-group">
										<label class="control-label" for="basicinput">Email</label>
										<div class="controls">
											<input type="text" id="email" name="email" th:field="*{email}"
												placeholder="Type your email here" class="span8" />
										</div>
									</div>
									
									<div class="control-group">
										<label class="control-label" for="basicinput">Mobile Number</label>
										<div class="controls">
											<input type="text" id="mobile" name="mobile" th:field="*{mobile}"
												placeholder="Mobile Number" class="span8" />
										</div>
									</div>
									
									
									
									<div class="control-group">
											<label class="control-label">Account Controls</label>
											<div class="controls">
												<label class="checkbox inline">
													<input type="checkbox" id="enabled" name="enabled" th:field="*{enabled}"/> Enabled
												</label>
												<label class="checkbox inline">
													<input type="checkbox" id="accountNonExpired" name="accountNonExpired" th:field="*{accountNonExpired}"/>Non Expired
												</label>
												<label class="checkbox inline">
													<input type="checkbox" id="accountNonLocked" name="accountNonLocked" th:field="*{accountNonLocked}"/>Non Locked
												</label>
												<label class="checkbox inline">
													<input type="checkbox" id="credentialsNonExpired" name="credentialsNonExpired" th:field="*{credentialsNonExpired}"/>Non Locked
												</label>
											</div>
										</div>

									<div class="control-group">
										<label class="control-label" for="basicinput">Role</label>
										<div class="controls">
											<select tabindex="1" data-placeholder="Select User Role here.." class="span8" name="roles" id="roles" th:field="*{roles}">
											<option value="">Select User ROle</option>
												<option th:each="dropDownItem : ${usersRoleList}"
													th:value="${dropDownItem.id}" th:text="${dropDownItem.id}" />
											</select>
											<p class="text-error" th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}">Role Error</p>
										</div>
									</div>

									<div class="control-group">
										<div class="controls">
											<button type="submit" class="btn">Submit</button>
										</div>
									</div>
								</form>

							</div>
						</div>
					</div><!--/.content-->
				</div><!--/.span9-->
			</div>
		</div><!--/.container-->
	</div><!--/.wrapper-->

	<div class="footer">
		<div class="container">
			 

			<b class="copyright">&copy; 2014 2017 Clegal - clegal.com</b> All rights reserved.
		</div>
	</div>

	<script src="scripts/jquery-1.9.1.min.js" type="text/javascript"></script>
	<script src="scripts/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>
	<script src="bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="scripts/flot/jquery.flot.js" type="text/javascript"></script>
</body>
</html>