<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- <title>Edmin</title> -->
</head>
<body>

<div th:insert="/bu/buHeader :: buHeader"></div>
	<div class="wrapper">
		<div class="container">
			<div class="row">
				<div class="span3">
					<div class="sidebar">
						<ul class="widget widget-menu unstyled">
							<li class="menu-header">Functional</li>
							<li><a href="/lawyerDashboard"><i
									class="menu-icon icon-dashboard"></i>Dashboard </a></li>
							<li><a href="activity.html"><i
									class="menu-icon icon-bullhorn"></i>News Feed </a></li>
							<li><a href="message.html"><i
									class="menu-icon icon-inbox"></i>Inbox <b
									class="label green pull-right"> 11</b> </a></li>
							<li><a href="task.html"><i class="menu-icon icon-tasks"></i>Tasks
									<b class="label orange pull-right"> 19</b> </a></li>
						</ul>
						<!--/.widget-nav-->

						<ul class="widget widget-menu unstyled">
							<li class="menu-header">Project Management</li>
							<li><a class="active" href="/manageProjectLandingPage"><i
									class="menu-icon icon-bold"></i> Create/Update Project </a></li>
<!-- 							<li><a href="/manageTask"><i class="menu-icon icon-bold"></i>
									Create/Update Task </a></li> -->
							<li><a href="/eadmin/viewProject"><i
									class="menu-icon icon-book"></i>View Projects </a></li>
									
							<li><a href="/eadmin/chat"><i
									class="menu-icon icon-envelope"></i>Messages </a></li>
						</ul>
						<!--/.widget-nav-->
						<ul class="widget widget-menu unstyled">
							<li><a href="/logout"><i class="menu-icon icon-signout"></i>Logout
							</a></li>
						</ul>
					</div>
					<!--/.sidebar-->
				</div>
				<!--/.span3-->


				<div class="span9">
					<div class="content">
						<div class="module">
							<div class="module-body">
								
								<div class="alert alert-error" th:if="${error}">
								<button type="button" class="close" data-dismiss="alert">X</button>
								<p class="error" th:if="${error}" th:text="${error}"></p>
								</div>
								
								<div class="alert alert-success" th:if="${message}">
								<button type="button" class="close" data-dismiss="alert">X</button>
									<p class="message" th:if="${message}" th:text="${message}">	</p>
								</div>
								
								<div class="module-body table">
									<table cellpadding="0" cellspacing="0" border="0"
										class="datatable-1 table table-bordered table-striped	 display"
										width="100%">
										<thead>
											<tr>
												<th>Project Name</th>
												<th>Duration(In Days)</th>
												<th>Lawyer ID</th>
												<th>Created On</th>
												<th>Operations</th>
												
											</tr>
										</thead>
										<tbody>
											<tr class="odd gradeX" th:each="projectMaster : ${projectMasterList}">
												<td th:text="${projectMaster.id}" name="id" hidden="true"></td>
												<td th:text="${projectMaster.projectName}" ></td>
												<td class="center" th:text="${projectMaster.projectDuration}"></td>
												<td th:text="${projectMaster.buMemberID}"></td>
												<td class="center" th:text="${projectMaster.createdDate}"></td>
												<td class="center">
														<a th:href="@{'/eadmin/manageProject/'+ ${projectMaster.id}}"> <i class="menu-icon icon-edit"></i> Edit </a>
														<a th:href="@{'/eadmin/deleteProject/'+ ${projectMaster.id}}"> <i class="menu-icon icon-remove"></i> Delete </a>
														<a th:href="@{'/eadmin/circlepackingexpand/'+ ${projectMaster.id}}"> <i class="menu-icon icon-book"></i> View </a>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--/.span9-->
			</div>
		</div>
		<!--/.container-->
	</div>
	<!--/.wrapper-->

	<div class="footer">
		<div class="container">
			<b class="copyright">&copy; 2017 Clegal - clegal.com</b> All rights
			reserved.
		</div>
	</div>
</body>
</html>