#contact-form .form-field, #search-form .form-field {
  outline: inherit;
  border: none;
  border-radius: 2px;
  width: 100%;
  margin-bottom: 25px;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 14px;
  background-color: #F6F6F6;
  color: #444444;
  font-weight: 300;
}

#contact-form .form-field:focus, #search-form .form-field:focus {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#contact-form .form-field.big, #search-form .form-field.big {
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  padding-right: 70px;
  line-height: 40px;
}

@media screen and (max-width: 767px) {
  #contact-form .form-field.big, #search-form .form-field.big {
    font-size: 35px;
    padding-right: 35px;
  }
}

#contact-form label, #search-form label {
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  font-weight: 300;
  margin-bottom: 12px;
}

#contact-form label sup, #search-form label sup {
  color: #3367D6;
  top: -0.1em;
}

#contact-form textarea.form-field, #search-form textarea.form-field {
  padding: 12px 9px;
}

#contact-form ::-webkit-input-placeholder, #search-form ::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  color: #757575;
  font-size: 14px;
}

#contact-form :-moz-placeholder, #search-form :-moz-placeholder {
  font-family: "Roboto", sans-serif;
  color: #757575;
  font-size: 14px;
}

#contact-form ::-moz-placeholder, #search-form ::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  color: #757575;
  font-size: 14px;
}

#contact-form :-ms-input-placeholder, #search-form :-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  color: #757575;
  font-size: 14px;
}

#contact-form #submit-contact, #search-form #submit-contact {
  padding: 0;
  text-align: left;
  font-size: 12px;
  line-height: 22px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  display: inline-block;
  overflow: hidden;
  outline: none;
  border: none;
  border-radius: 0;
  font-weight: bold;
  color: white;
  position: relative;
  letter-spacing: 1px;
  margin: 0;
  background-color: transparent;
  transition: all .4s ease;
}

#contact-form #submit-contact:hover, #search-form #submit-contact:hover {
  color: #444444;
  transition: all .4s ease;
}

#contact-form #submit-contact.btn-alt, #search-form #submit-contact.btn-alt {
  height: 36px;
  line-height: 36px;
  text-transform: none;
  font-weight: 400;
  background-color: transparent;
  border: 1px solid #3367D6;
  color: #3367D6;
  transition: all .4s ease;
  text-transform: uppercase;
  border-radius: 2px;
  padding-right: 30px;
  padding-left: 30px;
  text-align: center;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  display: inline-block;
  overflow: hidden;
  outline: none;
}

#contact-form #submit-contact.btn-alt:hover, #search-form #submit-contact.btn-alt:hover {
  background-color: #3367D6;
  color: white;
  transition: all .4s ease;
}

#contact-form #submit-contact.btn-alt.shadow, #search-form #submit-contact.btn-alt.shadow {
  box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.2);
}

#contact-form #submit-contact.btn-alt.white, #search-form #submit-contact.btn-alt.white {
  border: 1px solid white;
}

#contact-form #submit-contact.btn-alt.white:hover, #search-form #submit-contact.btn-alt.white:hover {
  background-color: white;
  color: #3367D6 !important;
  transition: all .4s ease;
}

#contact-form #submit-contact.btn-alt.active, #search-form #submit-contact.btn-alt.active {
  background-color: #3367D6;
  color: white;
  transition: all .4s ease;
}

#contact-form #submit-contact.btn-alt.active:hover, #search-form #submit-contact.btn-alt.active:hover {
  background-color: transparent;
  color: #3367D6 !important;
  transition: all .4s ease;
}

#contact-form .form-button, #search-form .form-button {
  position: absolute;
  width: auto;
  right: 0;
  top: -2px;
}

#contact-form .form-button.big, #search-form .form-button.big {
  top: 7px;
  right: 25px;
}

#contact-form .form-button.big i, #search-form .form-button.big i {
  font-size: 60px;
}

@media screen and (max-width: 767px) {
  #contact-form .form-button.big i, #search-form .form-button.big i {
    font-size: 35px;
  }
}

#contact-form #msg, #search-form #msg {
  color: #f54337;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
}

#contact-form #msg.error, #contact-form #msg.success, #search-form #msg.error, #search-form #msg.success {
  padding-top: 36px;
}

#contact-form.color ::-webkit-input-placeholder, #search-form.color ::-webkit-input-placeholder {
  color: #3367D6;
}

#contact-form.color :-moz-placeholder, #search-form.color :-moz-placeholder {
  color: #3367D6;
}

#contact-form.color ::-moz-placeholder, #search-form.color ::-moz-placeholder {
  color: #3367D6;
}

#contact-form.color :-ms-input-placeholder, #search-form.color :-ms-input-placeholder {
  color: #3367D6;
}

#contact-form.black ::-webkit-input-placeholder, #search-form.black ::-webkit-input-placeholder {
  color: #444444;
  font-weight: 400;
}

#contact-form.black :-moz-placeholder, #search-form.black :-moz-placeholder {
  color: #444444;
  font-weight: 400;
}

#contact-form.black ::-moz-placeholder, #search-form.black ::-moz-placeholder {
  color: #444444;
  font-weight: 400;
}

#contact-form.black :-ms-input-placeholder, #search-form.black :-ms-input-placeholder {
  color: #444444;
  font-weight: 400;
}

#contact-form.big ::-webkit-input-placeholder, #search-form.big ::-webkit-input-placeholder {
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

@media screen and (max-width: 767px) {
  #contact-form.big ::-webkit-input-placeholder, #search-form.big ::-webkit-input-placeholder {
    font-size: 35px;
  }
}

#contact-form.big :-moz-placeholder, #search-form.big :-moz-placeholder {
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

@media screen and (max-width: 767px) {
  #contact-form.big :-moz-placeholder, #search-form.big :-moz-placeholder {
    font-size: 35px;
  }
}

#contact-form.big ::-moz-placeholder, #search-form.big ::-moz-placeholder {
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

@media screen and (max-width: 767px) {
  #contact-form.big ::-moz-placeholder, #search-form.big ::-moz-placeholder {
    font-size: 35px;
  }
}

#contact-form.big :-ms-input-placeholder, #search-form.big :-ms-input-placeholder {
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

@media screen and (max-width: 767px) {
  #contact-form.big :-ms-input-placeholder, #search-form.big :-ms-input-placeholder {
    font-size: 35px;
  }
}

span.contact-info {
  font-family: "Roboto", sans-serif;
  color: #444444;
  font-size: 16px;
  line-height: 26px;
  margin-right: 18px;
  font-weight: 400;
}

span.contact-info a em {
  color: #3367D6;
  transition: color .4s ease;
}

span.contact-info a:hover em {
  color: #444444;
  transition: color .4s ease;
}

span.contact-info em {
  color: #757575;
  font-weight: 300;
}

#search-form {
  position: relative;
}

#search-form.big {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 90%;
  width: calc(100% - 100px);
  height: 125px;
  margin: auto;
}

@media screen and (max-width: 991px) {
  .contact {
    padding: 0 45px;
  }
}

#contact-newsletter .text {
  width: 50%;
  position: relative;
  margin: 0 auto;
}

@media screen and (max-width: 991px) {
  #contact-newsletter .text {
    width: auto;
    max-width: 550px;
  }
}

@media screen and (max-width: 480px) {
  #contact-newsletter .text {
    width: 100%;
  }
}

#contact-newsletter .text p {
  margin-top: 18px;
}

#contact-newsletter .form-field {
  outline: inherit;
  border: none;
  border-bottom: 1px solid white;
  width: 80%;
  padding: 18px 50px 18px 30px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  height: 40px;
  border-radius: 40px;
}

@media screen and (max-width: 991px) {
  #contact-newsletter .form-field {
    padding-right: 20%;
  }
}

@media screen and (max-width: 480px) {
  #contact-newsletter .form-field {
    padding-right: 33%;
  }
}

@media screen and (max-width: 410px) {
  #contact-newsletter .form-field {
    padding: 18px 30px;
    width: 100%;
  }
}

#contact-newsletter .form-field:focus {
  border-bottom: 1px solid white;
}

#contact-newsletter #submit-newsletter {
  padding: 0;
  text-align: left;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 2px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  display: inline-block;
  overflow: hidden;
  outline: none;
  border: none;
  border-radius: 0;
  font-weight: bold;
  color: white;
  position: relative;
  margin: 0;
  background-color: transparent;
  transition: all .4s ease;
  position: absolute;
  right: 50px;
  top: 0;
}

@media screen and (max-width: 410px) {
  #contact-newsletter #submit-newsletter {
    position: relative;
    right: 0;
    width: 100%;
    margin-top: 18px;
  }
}

#contact-newsletter #submit-newsletter:hover {
  color: #444444;
  transition: all .4s ease;
}

#contact-newsletter #submit-newsletter.btn-alt {
  height: 40px;
  line-height: 40px;
  text-transform: none;
  font-weight: 600;
  text-rendering: geometricPrecision;
  background-color: transparent;
  border: 1px solid #3367D6;
  color: #3367D6;
  transition: all .4s ease;
  border-radius: 0px 40px 40px 0px;
  padding-right: 30px;
  padding-left: 30px;
  text-align: center;
  font-size: 12px;
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif;
  display: inline-block;
  overflow: hidden;
  outline: none;
}

@media screen and (max-width: 480px) {
  #contact-newsletter #submit-newsletter.btn-alt {
    border-radius: 40px;
  }
}

#contact-newsletter #submit-newsletter.btn-alt:hover {
  background-color: #3367D6;
  color: white;
  transition: all .4s ease;
}

#contact-newsletter #submit-newsletter.btn-alt.white {
  border: 1px solid white;
}

#contact-newsletter #submit-newsletter.btn-alt.white:hover {
  background-color: white;
  color: #3367D6 !important;
  transition: all .4s ease;
}

#contact-newsletter #submit-newsletter.btn-alt.color {
  border: 1px solid #3367D6;
  color: #3367D6;
}

#contact-newsletter #submit-newsletter.btn-alt.color.active {
  background-color: #3367D6;
  color: white !important;
}

#contact-newsletter #submit-newsletter.btn-alt.color.active:hover {
  background-color: white;
  color: #3367D6 !important;
  border: 1px solid transparent;
  border-left: 1px solid #3367D6;
}

@media screen and (max-width: 410px) {
  #contact-newsletter #submit-newsletter.btn-alt.color.active:hover {
    background-color: transparent;
    border: 1px solid #3367D6;
  }
}

.box-form {
  padding: 36px;
  background: #FFFFFF;
  box-shadow: 0 2px 17px 0 rgba(0, 0, 0, 0.3);
  border-radius: 2px;
}

@media screen and (max-width: 480px) {
  .box-form {
    padding: 25px;
  }
}
