<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <!-- <link type="text/css"rel="stylesheet" th:href="@{/eadmin/css/chat.css}" /> -->
    <!--Bootstrap -->
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}" />
    <!-- Optional theme -->
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap/bootstrap-theme.min.css}" />
    <!-- Custom css -->
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}" />
    <!-- Manually modified css -->
    <link type="text/css" rel="stylesheet" th:href="@{/css/inspector-stylesheet.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/chat-style.css}" />    
<!--     <link type="text/css"rel="stylesheet" th:href="@{/old-chat.css}" /> -->
    <!-- Font Awesome -->
    <link type="text/css" rel="stylesheet" th:href="@{/css/font-awesome.min.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/ionicons.min.css}" />
    <!-- Flexslider -->
    <link type="text/css" rel="stylesheet" th:href="@{/css/flexslider.css}" />
    <!-- Owl -->
    <link type="text/css" rel="stylesheet" th:href="@{/css/owl.carousel.css}" />
    <!-- Magnific Popup -->
    <link type="text/css" rel="stylesheet" th:href="@{/css/magnific-popup.css}" />
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <script th:href="@{/js/jquery.flexslider-min.js}"></script>
    <script th:href="@{/js/owl.carousel.min.js}"></script>
    <script th:href="@{/js/isotope.min.js}"></script>
    <script th:href="@{/js/jquery.magnific-popup.min.js}"></script>
    <script th:href="@{/js/jquery.scrollTo.min.js}"></script>
    <script th:href="@{/js/smooth.scroll.min.js}"></script>
    <script th:href="@{/js/jquery.appear.js}"></script>
    <script th:href="@{/js/jquery.countTo.js}"></script>
    <script th:href="@{/js/jquery.scrolly.js}"></script>
    <script th:href="@{/js/plugins-scroll.js}"></script>
    <script th:href="@{/js/imagesloaded.min.js}"></script>
    <script th:href="@{/js/pace.min.js}"></script>
    <script th:href="@{/js/main.js}"></script>
    <script src="/js/index.js"></script>
    <script th:href="@{/js/jquery.autocomplete.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
	<!-- kurento specific files -->
	<link rel="shortcut icon" href="/img/kurento.png" type="image/png" />
	<link rel="stylesheet"
		href="/css/ekko-lightbox.min.css">
	<link rel="stylesheet" href="/css/demo-console/index.css">
	<link rel="stylesheet" href="/css/kurento.css">
	<script src="/js/ekko-lightbox.min.js"></script>
	<script src="/js/draggabilly.pkgd.min.js"></script>
	<script src="/js/adapter.js"></script>
	<script src="/css/demo-console/index.js"></script>
	<script src="/js/kurento-utils.js"></script>
	<script src="/js/index.js"></script>
</head>

<body>
<div class="main_container_dashboard">
    <div class="col-md-1 sidemenu" id="newone">
        <div class="col-md-12 paddtop2 font25">
            <div class="bar_div" onclick="myFunction(this); openNav();">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
            <!-- <i class="glyphicon glyphicon-align-justify" style="cursor: pointer;" onclick="openNav()"></i> -->
            <!-- <div id="mySidenav" class="sidenav">
                  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                      <a href="#"><div class="col-md-12 left20"><i class="fa fa-th-large alrad_blue" aria-hidden="true"></i>
                          <div class="alrad_blue_text">Your Tasks</div>
                      </div></a>
                    <a href="#"><div class="col-md-12 paddtop2_side left20"><i class="glyphicon glyphicon-trash alrad_blue"></i>
                        <div class="alrad_blue_text">Deleted Tasks</div>
                    </div></a>
                    <a href="#"><div class="col-md-12 paddtop2_side left20"><i class="fa fa-file-text-o alrad_blue"></i>
                        <div class="alrad_blue_text">Invoice</div>
                    </div></a>
                    <a href="#"><div class="col-md-12 paddtop2_side left20"><i class="fa fa-commenting-o alrad_blue"></i>
                        <div class="alrad_blue_text">Chat</div>
                    </div></a>
                    <a href="#"><div class="col-md-12 paddtop2_side left20"><i class="fa fa-calendar alrad_blue"></i>
                        <div class="alrad_blue_text">Calander</div>
                    </div></a>
                    <a href="#"><div class="col-md-12 paddtop2_side left20"><i class="fa fa-cog alrad_blue"></i>
                        <div class="alrad_blue_text">Create new project</div>
                    </div></a>
                    <a href="#"><div class="col-md-12 paddtop2_side left20"><i class="fa fa-credit-card alrad_blue" ></i>
                        <div class="alrad_blue_text">Billing</div>
                    </div></a>
                    <a href="#"><div class="col-md-12 paddtop2_side left20"><i class="fa fa-sign-out alrad_blue"></i>
                        <div class="alrad_blue_text">LogOut</div>
                    </div></a>
                    <a href="#"><div class="col-md-12 left20 last_blue"><i class="fa fa-plus alrad_blue_last"></i>
                        <div class="alrad_blue_last_text">Post a Task</div>
                    </div></a>
            </div> -->
        </div>
        <a href="#"><div class="col-md-12 paddtop2"><i class="fa fa-th-large hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Dashboard"><span>Dashboard</span></i>
        </div></a>
        <a href="#"><div class="col-md-12 paddtop2"><i class="glyphicon glyphicon-trash hover_blue" data-toggle="tooltip" data-placement="right" title="Deleted Task"><span>DeletedTask</span></i>
        </div></a>
        <a href="#"><div class="col-md-12 paddtop2"><i class="fa fa-file-text-o hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Invoice"><span>Invoice</span></i>
        </div></a>
        <a href="#"><div class="col-md-12 paddtop2"><i class="fa fa-commenting-o hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Chat"><span>Chat</span></i>
        </div></a>
        <a href="#" onclick="openTimerFunction()"><div class="col-md-12 paddtop2"><i class="fa fa-clock-o  hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Timer"><span>Timer</span></i>
        </div></a>
        <a href="#"><div class="col-md-12 paddtop2"><i class="fa fa-calendar hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Calander"><span>Calander</span></i>
        </div></a>
        <a href="#"><div class="col-md-12 paddtop2"><i class="fa fa-cog hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Settings"><span>Settings</span></i>
        </div></a>
        <a href="#"><div class="col-md-12 paddtop2"><i class="fa fa-credit-card  hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Billing"><span>Billing</span></i>
        </div></a>
        <a href="#"><div class="col-md-12 paddtop2"><i class="fa fa-sign-out  hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="LogOut"><span>LogOut</span></i>
        </div></a>
        <a href="#"><div class="col-md-12 plus_last_div paddtop2"><i class="fa fa-plus plus_last hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Create The New Project"><span class="plus_last_span">Create The New Project</span></i>
        </div></a>
    </div>
    <div class="col-md-11 col-md-offset-1">

        <div class="col-md-12 upper_header">
            <div class="col-md-3 small_res1">
                <a href="index.html"><img src="/img/logo.png" class="small_res2" width="100%" alt="logo"></img></a>
            </div>
            <div class="col-md-5">
                <input type="search" class="col-md-12 search_box" name="search" placeholder="Search..">
            </div>
            <div class="col-md-1">
                <ul class="noti">

                    <li id="msg_Container">
                        <div id="msg_Counter"></div>   <!--SHOW NOTIFICATIONS COUNT.-->

                        <!--A CIRCLE LIKE BUTTON TO DISPLAY NOTIFICATION DROPDOWN.-->
                        <div id="msg_Button" class="fa fa-commenting-o hover_blue_big"  title="Messages"></div>

                        <!--THE NOTIFICAIONS DROPDOWN BOX.-->
                        <div id="messages">
                            <h3>Messages</h3>
                            <div style="height:250px;">
                                <div class="noti_box">Hello, This is demo text.</div>
                                <div class="noti_box">Hello, you have new message please check it out.</div>
                            </div>
                            <div class="seeAll"><a href="#">See All</a></div>
                        </div>
                    </li>

                </ul>
            </div>
            <div class="col-md-1">
                <ul class="noti">

                    <li id="noti_Container">
                        <div id="noti_Counter"></div>   <!--SHOW NOTIFICATIONS COUNT.-->

                        <!--A CIRCLE LIKE BUTTON TO DISPLAY NOTIFICATION DROPDOWN.-->
                        <div id="noti_Button" class="fa fa-bell hover_blue_big"  title="Notifications"></div>

                        <!--THE NOTIFICAIONS DROPDOWN BOX.-->
                        <div id="notifications">
                            <h3>Notifications</h3>
                            <div style="height:250px;">
                                <div class="noti_box">Hello, This is demo text.</div>
                                <div class="noti_box">Hello, you have new notification please check it out.</div>
                                <div class="noti_box">You have new notification.</div>
                                <div class="noti_box">You have new request. Click and check update.</div>
                            </div>
                            <div class="seeAll"><a href="#">See All</a></div>
                        </div>
                    </li>

                </ul>
            </div>
            <div class="col-md-2">
                <div id="dropdown" class="ddmenu">
                    Ankuj Arora<i class="down"></i>
                    <ul>
                        <li><a href="#">My Profile</a></li>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Log Out</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="dashboard_block container main-box">

            <noscript>
                <h2>Sorry! Your browser doesn't support Javascript</h2>
            </noscript>

            <div class="row">
                <div class="col-xs-4 user-box">
                    <div id="frame">
                        <div id="sidepanel" class="side-panel">
                        <!-- The option to search a contact and start chatting is disabled for the moment -->
<!--                             <div id="profile">
                                <div class="wrap">
                                    <img id="profile-img" src="https://i.pinimg.com/originals/7c/c7/a6/7cc7a630624d20f7797cb4c8e93c09c1.png" class="online" alt=""/>
                                    <p>Person Name</p>
                                </div>

                                <div id="username-page" >
                                    <div class="username-page-container">
                                        <h6 class="title">Type your username</h6>
                                        <form id="usernameForm" name="usernameForm">
                                            <div class="form-group">
                                                <input type="text" id="name" placeholder="Username" autocomplete="off" class="form-control" />
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="accent username-submit">Start Chatting</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div id="search">
                                <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
                                <input type="text" placeholder="Search contacts..."/>
                            </div> -->
                            <div id="contacts">
                                <ul class="contact-list" th:each="chat, stat : ${chatHistory}">
                                    <!-- <li class="contact" th:onclick="|addChatHistory('${chat.unreadMessages}')|"> -->
                                    <li class="contact" th:onclick="|loadSpecificChat('${chat.buID}', '${chat.euID}', '${chat.id}')|">                                    
                                        <div class="wrap" th:with="collaborator=${chat.buID}">
                                            <span class="contact-status online"></span>
                                            <img src="https://i.pinimg.com/originals/7c/c7/a6/7cc7a630624d20f7797cb4c8e93c09c1.png" alt=""/>
                                            <div class="meta">
                                                <p class="name" th:text="${chat.buID}">Person Name</p>
                                                <p class="name" th:unless="${#lists.size(chat.unreadMessages)}==0" th:text="${#lists.size(chat.unreadMessages)}">Number of messages</p>
                                                <div th:unless="${#lists.size(chat.unreadMessages)}==0">
                                                	<p class="preview" th:text="${chat.unreadMessages[0].content}">Part of chat ....</p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>                                    
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-xs-8 content">
                    <div class="contact-profile">
                        <img src="https://i.pinimg.com/originals/7c/c7/a6/7cc7a630624d20f7797cb4c8e93c09c1.png" alt=""/>
                        <p id="personName">Person Name</p>
                        <a id="link">Video Call</a>                        
                        <div class="icon-box">
                            <i class="fa fa-video-camera" aria-hidden="true"  data-toggle="modal" data-target="#myModal"></i>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Video Call</h4>
                                    </div>
<!--                                     <div class="modal-body">
                                         <iframe src="/kurentoVideoCall">
                                        </iframe>
                                   </div>
 -->                                </div>
                            </div>
                        </div>
                    </div>


                    <!--class="hidden"-->
                    <div id="chat-page" class="messages">
                        <div class="chat-container">
				            <div class="connecting">
				                Connecting...
				            </div>                            
                            <ul id="messageArea">

<!--                                 <li class="sent">
                                    <img src="https://i.pinimg.com/originals/7c/c7/a6/7cc7a630624d20f7797cb4c8e93c09c1.png" alt=""/>
                                    <p>How the hell am I supposed to get a jury to believe you when I am not even sure that I
                                        do?!</p>
                                </li>
                                <li class="replies">
                                    <img src="https://www.hotellaginestra.it/wp-content/uploads/2016/06/person-girl-flat.png" alt=""/>
                                    <p>When you're backed against the wall, break the god damn thing down.</p>
                                </li>
                                <li class="replies">
                                    <img src="https://www.hotellaginestra.it/wp-content/uploads/2016/06/person-girl-flat.png" alt=""/>
                                    <p>Excuses don't win championships.</p>
                                </li>
                                <li class="sent">
                                    <img src="https://i.pinimg.com/originals/7c/c7/a6/7cc7a630624d20f7797cb4c8e93c09c1.png" alt=""/>
                                    <p>Oh yeah, did Michael Jordan tell you that?</p>
                                </li>
                                <li class="replies">
                                    <img src="https://www.hotellaginestra.it/wp-content/uploads/2016/06/person-girl-flat.png" alt=""/>
                                    <p>No, I told him that.</p>
                                </li>
                                <li class="replies">
                                    <img src="https://www.hotellaginestra.it/wp-content/uploads/2016/06/person-girl-flat.png" alt=""/>
                                    <p>What are your choices when someone puts a gun to your head?</p>
                                </li>
                                <li class="sent">
                                    <img src="https://i.pinimg.com/originals/7c/c7/a6/7cc7a630624d20f7797cb4c8e93c09c1.png" alt=""/>
                                    <p>What are you talking about? You do what they say or they shoot you.</p>
                                </li>
                                <li class="replies">
                                    <img src="https://www.hotellaginestra.it/wp-content/uploads/2016/06/person-girl-flat.png" alt=""/>
                                    <p>Wrong. You take the gun, or you pull out a bigger one. Or, you call their bluff. Or, you
                                        do any one of a hundred and forty six other things.</p>
                                </li> -->

                            </ul>
                            <form id="messageForm" name="messageForm" nameForm="messageForm">
                                <div class="form-group message-input">
                                    <div class="input-group clearfix wrap">
                                        <input type="text" id="message" placeholder="Type a message..." autocomplete="off" class="form-control"/>
                                        <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
                                        <button type="submit" class="primary"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>

        </div>


    </div>
</div>

<!--  Footer  -->
<footer id="footer" th:fragment="copy">
    <div class="container">
        <div class="row no-margin">
            <div class="col-md-3 text">
                <div class="logo">
                    <img src="/img/logo_white_judlaw.png" class="normal" alt="logo" style="width: 100%; margin-top: 10%;" />
                    <img src="/img/logo_white_judlaw.png" class="retina" alt="logo" style="width: 50%;" />
                </div>
                <p>Your legal marketplace </p>
                <div style="width: 111%;">
                    <ul class="social">
                        <li>Find us on</li>
                        <li><a href="/"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                        <li><a href="/"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 text small">
                <h4 class="heading white margin-bottom-small weight-300">Head Office</h4>
                <p>Centerpriser SAS <br/>
                    29 Chemin du Vieux Chêne, 38240 Meylan<br/>
                    Mon. - Fri., 9 a.m. - 6.00 p.m.</p>
            </div>
            <div class="col-md-2 text small">
                <h4 class="heading white margin-bottom-small weight-300">Important link</h4>
                <ul class="info">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about.html">About Us</a></li>
                    <li><a href="/services.html">Services</a></li>
                    <!--                             <li><a href="/">FAQ</a></li> -->
                    <li><a href="/contact.html">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-4 text">
                <h4 class="heading white margin-bottom-small weight-300">News Subscribtion</h4>
                <p>Subscribe to our newsletter to get all our news in your inbox.</p>
                <div id="newsletter-form">
                    <form class="search-form">
                        <div class="form-input">
                            <input type="text" placeholder="Your email ID"/>
                            <span class="form-button">
                                <button type="button">Sign Up</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>
<div id="copy">
    <div class="container">
        <div class="row no-margin">
            <div class="col-md-6 text">
                <p>©2017 <a href="/#">PuredesignThemes</a>. All rights reserved. </p>
            </div>
            <div class="col-md-6 text text-right">
                <ul>
                    <li><a href="/#">Privacy Policy</a></li>
                    <li><a href="/#">Cookie Policy</a></li>
                    <li><a href="/#">Term and Condition</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--  END Footer. Class fixed for fixed footer  -->

<script type="text/javascript" th:src="@{/eadmin/scripts/sockjs.min.js}"></script>
<script type="text/javascript" th:src="@{/eadmin/scripts/stomp.min.js}"></script>
<!-- <script type="text/javascript" th:src="@{/eadmin/scripts/mainChat.js}"></script> -->

<!-- <script type="text/javascript">
    var li = document.getElementsByClassName("contact");

    for(var i = 0;i<li.length;i++){
        li[i].addEventListener("click", myScript);
    }

    function myScript(){
      addChatHistory();
    }
</script> -->

<script>
    function openTimerFunction() {
        window.open('timer.html', '_blank', 'width=400,height=540, left=250, top=250');
    }
</script>

<script type="text/javascript">
    $("#dropdown").on("click", function(e){
        e.preventDefault();

        if($(this).hasClass("open")) {
            $(this).removeClass("open");
            $(this).children("ul").slideUp("fast");
        } else {
            $(this).addClass("open");
            $(this).children("ul").slideDown("fast");
        }
    });
</script>
<script>
    $(document).ready(function () {
        $('#noti_Counter')
            .css({ opacity: 0 })
            .text('4')
            .css({ top: '-10px' })
            .animate({ top: '-2px', opacity: 1 }, 500);

        $('#noti_Button').click(function () {

            $('#notifications').fadeToggle('fast', 'linear', function () {
            });

            $('#noti_Counter').fadeOut('slow');

            return false;
        });

        $(document).click(function () {
            $('#notifications').hide();

        });

        $('#notifications').click(function () {
            return false;
        });
    });
</script>
<script>
    $(document).ready(function () {

        $('#msg_Counter')
            .css({ opacity: 0 })
            .text('2')
            .css({ top: '-10px' })
            .animate({ top: '-2px', opacity: 1 }, 500);

        $('#msg_Button').click(function () {

            $('#messages').fadeToggle('fast', 'linear', function () {

            });

            $('#msg_Counter').fadeOut('slow');

            return false;
        });

        $(document).click(function () {
            $('#messages').hide();
        });

        $('#massages').click(function () {
            return false;
        });
    });
</script>
<script>
    function openNav() {
        /*$("#newone").css({"width":"300px","position":"relative","z-index":"1000"});*/
        $("#newone").toggleClass("open");
        if ($('#newone').hasClass('open')){
            $('i').tooltip("disable");
        } else {
            $('i').tooltip("enable");
        }
        //$(".main_container_dashboard").find(".open").find('i').tooltip("disable");

    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
</script>
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<script>
    function myFunction(x) {
        x.classList.toggle("change");
    }
</script>

<!--chat scripts-->
<script th:inline="javascript">
	/*<![CDATA[*/
	           	var loggedInUser = /*[[${username}]]*/;
	           	//var x = setTimeout(register(loggedInUser), 5000);
			   	buID = /*[[${chatHistory[0].buID}]]*/;
			   	console.log('buID', buID);
			   	euID = /*[[${chatHistory[0].euID}]]*/;
			   	console.log('euID', euID);
			   	var collaborator = null;
			   	var stompClient = null;
			    var documentID = /*[[${chatHistory[0].id}]]*/;
			    if(loggedInUser==buID){
			    	collaborator = euID;
			    }
			    else{
			    	collaborator = buID;
			    	registerClient(loggedInUser);
			    }
			    console.log('documentID', documentID);
			   	loadSpecificChat(buID, euID, documentID);               
			    var usernamePage = document.querySelector('#username-page');
			    var chatPage = document.querySelector('#chat-page');
			    var usernameForm = document.querySelector('#usernameForm');
			    var messageForm = document.querySelector('#messageForm');
			    var messageInput = document.querySelector('#message');
			    var messageArea = document.querySelector('#messageArea');
			    var connectingElement = document.querySelector('.connecting');
			    var colors = [
			        '#2196F3', '#32c787', '#00BCD4', '#ff5652',
			        '#ffc107', '#ff85af', '#FF9800', '#39bbb0'
			    ];
			    /* username = document.querySelector('#name').value.trim(); */
			    username = /*[[${chatHistory[0].buID}]]*/;
			    chatHistory = /*[[${chatHistory[0]}]]*/;
			    for(var i = 0; i < chatHistory.length; i++){
			    	document.getElementById("personName").innerText = collaborator;
			        addChatHistory(chatHistory[i]);
			    }
				/* display the unread messages of the first exchange in the chat window */			    

				
				function loadSpecificChat(buID, euID, id){
					documentID = id;
					if(stompClient!=null){
						stompClient.disconnect();						
					}
				//send AJAX request to mark the messages as read
			    	$.ajax({
						type : "POST",
						contentType : "application/json; charset=utf-8",
						url : "/markMessagesAsRead",
		       			data : JSON.stringify(id),
						dataType : 'json',
						success : function(result) {
							console.log("buID***"+buID);
							console.log("euID***"+euID);
	       			    	initiateConnection(buID, euID);
		       			    for(var i = 0; i < result.chatArray.length; i++){
		       			        addChatHistory(result.chatArray[i]);
		       			    }
						},
						error : function(e) {
							console.log("ERROR: ", e);
						}
					});
				//delete the previous loaded chat
				$('.replies').remove();
				$('.sent').remove();
				/* reassign the collaboarator variable */
			    if(loggedInUser==buID){
			    	collaborator = euID;
			    }
			    else{
			    	collaborator = buID;
			    }
			    document.getElementById("personName").innerText = collaborator;
				document.getElementById("link").setAttribute("href","/videoCall/ankuj");				
/* 	           	// DO POST
	           	$.ajax({
	       			type : "POST",
	       			contentType : "application/json; charset=utf-8",
	       			url : "/loadSpecificChat",
	       			data : JSON.stringify(id),
	       			dataType : 'json',
	       			success : function(result) {
	       			    for(var i = 0; i < result.unreadMessages.length; i++){

	       			    	initiateConnection(buID, euID);
	       			        addChatHistory(result.unreadMessages[i]);
	       			    }
	       			},
	       			error : function(e) {
	       				console.log("ERROR: ", e);
	       			}
	       		});	 */	
			 }
				
				
			    function markMessagesAsRead(id){
			    	
			    	// DO POST
			    	$.ajax({
						type : "POST",
						contentType : "application/json; charset=utf-8",
						url : "/markMessagesAsRead",
		       			data : JSON.stringify(id),
						dataType : 'json',
						success : function(result) {
							alert('the message has been sent!');
							console.log("result", result);
						},
						error : function(e) {
							console.log("ERROR: ", e);
						}
					});
			    }				

    function initiateConnection(username,collaborator){
        if(username) {
/*             usernamePage.classList.add('hidden');
            chatPage.classList.remove('hidden');
 */
            var socket = new SockJS('/ws');
            stompClient = Stomp.over(socket);

            stompClient.connect({}, onConnected, onError);
        }
    }


    /* var stompClient = null; */
    //var username = null;

    function addChatHistory(message){
    	if (message.sender==collaborator){
    		//if the message has been sent by the collaborator
        	var newChatElement = '<li class="sent">' + '<img src="https://i.pinimg.com/originals/7c/c7/a6/7cc7a630624d20f7797cb4c8e93c09c1.png"/>'
            + '<p>'+message.sender +'</p>' + '<p>'+message.content +'</p>' +'</li>'
    	}
    	//if the message has been sent by the logged in user
    	else if(message.sender==loggedInUser){
        	var newChatElement = '<li class="replies">' + '<img src="https://www.hotellaginestra.it/wp-content/uploads/2016/06/person-girl-flat.png"/>'
            + '<p>'+message.sender +'</p>' + '<p>'+message.content +'</p>' +'</li>'
    	}
   		$("#messageArea").append(newChatElement);
    }
    /*]]>*/
    
    function onConnected() {
        // Subscribe to the Public Topic
        //    stompClient.subscribe('/topic/public', onMessageReceived);
        /* stompClient.subscribe('/user/'+username+'/queue/notification', onMessageReceived); */
        stompClient.subscribe('/user/queue/notification', onMessageReceived);

        // Tell your username to the server
        stompClient.send("/app/chat.addUser."+username,
            {},
            JSON.stringify({sender: username, type: 'JOIN'})
        )

        connectingElement.classList.add('hidden');
    }


    function onError(error) {
        connectingElement.textContent = 'Could not connect to WebSocket server. Please refresh this page to try again!';
        connectingElement.style.color = 'red';
    }


    function sendMessage(event) {
        var messageContent = messageInput.value.trim();
		try{
	        if(messageContent && stompClient) {
	            var chatMessage = {
	                sender: loggedInUser,
	                content: messageInput.value,
	                type: 'CHAT',
	                documentID : documentID,
	                timestamp : new Date(),
	                receiver : collaborator
	            };
	            stompClient.send("/app/chat.private."+ collaborator, {}, JSON.stringify(chatMessage));
	            messageInput.value = '';
	        }			
		}
		catch(err){
			console.log('error is ', err);
		}		
        event.preventDefault();
    }


    function onMessageReceived(payload) {
        var message = JSON.parse(payload.body);

        var messageElement = document.createElement('li');

        if(message.type === 'JOIN') {
            messageElement.classList.add('event-message');
            //suppress the joining messages
            //message.content = message.sender + ' joined!';
        } else if (message.type === 'LEAVE') {
            messageElement.classList.add('event-message');
            //suppress the leaving messages
            //message.content = message.sender + ' left!';
        } else {
			addChatHistory(message);
			messageArea.scrollTop = messageArea.scrollHeight;
			return;
        }

/*         var textElement = document.createElement('p');
        var messageText = document.createTextNode(message.content);
        textElement.appendChild(messageText);

        messageElement.appendChild(textElement);

        messageArea.appendChild(messageElement);
        messageArea.scrollTop = messageArea.scrollHeight; */
    }


    function getAvatarColor(messageSender) {
        var hash = 0;
        for (var i = 0; i < messageSender.length; i++) {
            hash = 31 * hash + messageSender.charCodeAt(i);
        }

        var index = Math.abs(hash % colors.length);
        return colors[index];
    }

    /* usernameForm.addEventListener('submit', connect, true) */
    messageForm.addEventListener('submit', sendMessage, true)
    
    /* function to send a POST request to enable the video call functionality */
/*     function kurentoVideoCall(){
    	console.log('collaboarotr ', collaborator);
    	$.post("/kurentoVideoCall");
    } */

    /*]]>*/
</script>

</body>
</html>