<header id="header" th:fragment="copy">
	<div class="top-nav">
		<!--  Header Logo  -->
		<div id="logo">
			<a class="navbar-brand" href="/index.html">
				<img src="img/logo.png" class="normal" alt="logo"></img>
                <img src="img/logo.png" class="retina" alt="logo"></img>
				<!-- <img src="img/logo@2x.png" class="retina" alt="logo"></img> -->
			</a>
		</div>
		<nav class="navbar navbar-default">
			<!--  Classic menu, responsive menu classic  -->
			<div id="menu-classic">
				<div class="menu-holder">
					<ul>
						<li>
                            <a href="#about">About</a>
                        </li>
                        <li>
                            <a href="#advantages">Advantages</a>
                        </li>
                        <li class="submenu">
                            <a href="#trust">Why trust us?</a>
                        </li>
                        <li>
                            <a href="#customers">Our Customers</a>
                        </li>
					</ul>
				</div>
			</div>
				<!--  END Classic menu, responsive menu classic  -->
				<!--  Button for Responsive Menu Classic  -->
				<div id="menu-responsive-classic">
					<div class="menu-button">
						<span class="bar bar-1"></span>
						<span class="bar bar-2"></span>
						<span class="bar bar-3"></span>
					</div>
				</div>
				<!--  END Button for Responsive Menu Classic  -->

		</nav>
        <!-- <input type="search" class="search_box_menu hidden-xs" name="search" placeholder="Search.."> -->
        <button class="index_search_menu">
            <i class="fa fa-search"></i>
        </button>
        <div id="IndexsearchBoxOpen" style="display: none">
            <form action="/search" method="GET">
                <input type="search" id="autocomplete-inputLocationH" placeholder="City Name" class="autocomplete col-xs-12" name="franceCity" maxlength="25">
                <input type="search" id="autocomplete-inputDomainNameH" placeholder="Area of Practice" class="autocomplete col-xs-12" name="franceDomain" maxlength="60">
                <button type="" class="col-xs-12">SEARCH</button>
            </form>
        </div>
        <!-- display name of logged in user -->
<!-- 		<div class="col-md-2" sec:authorize="isAuthenticated()">
		  <span sec:authentication="name">bob</span>
		</div>   -->      
		<div class="language">
			<ul class="right-menu">
				<li class="mail" style="margin-right:0px;"><i class="fa fa-user" aria-hidden="true"></i><a href="/login" th:text="#{signin}">Sign In </a></li> /
                <li class="mail"><i class="fa fa-user" aria-hidden="true" style="color:#00ff2b"></i><a href="/login">Sign Up</a></li>
					<li class="lang">
						<span class="current">
							<a href="/?lang=en">En</a>
						</span>
						<ul>
							<li>
								<a href="/?lang=fr">Fr</a>
							</li>
						</ul>
					</li>
			</ul>
		</div>
</div>
<!-- Include CSS files -->
<!--Bootstrap -->
<link rel="stylesheet" href="css/bootstrap/bootstrap.min.css"/>

<!-- Optional theme -->
<link rel="stylesheet" href="css/bootstrap/bootstrap-theme.min.css"/>

<!-- Custom css -->
<link rel="stylesheet" href="css/style.css"/>

<!-- Manually modified css -->
<link rel="stylesheet" href="css/inspector-stylesheet.css"/>

<!-- Font Awesome -->
<link rel="stylesheet" href="css/font-awesome.min.css"/>

<link rel="stylesheet" href="css/ionicons.min.css"/>

<!-- Flexslider -->
<link rel="stylesheet" href="css/flexslider.css"/>

<!-- Owl -->
<link rel="stylesheet" href="css/owl.carousel.css"/>

<!-- Magnific Popup -->
<link rel="stylesheet" href="css/magnific-popup.css"/>

<script src="js/jquery.min.js"></script>
<!-- All js library -->
<script src="js/bootstrap/bootstrap.min.js"></script>
<script src="js/jquery.flexslider-min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/isotope.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/jquery.scrollTo.min.js"></script>
<script src="js/smooth.scroll.min.js"></script>
<script src="js/jquery.appear.js"></script>
<script src="js/jquery.countTo.js"></script>
<script src="js/jquery.scrolly.js"></script>
<script src="js/plugins-scroll.js"></script>
<script src="js/imagesloaded.min.js"></script>
<script src="js/pace.min.js"></script>
<script src="js/main.js"></script>
<script src="js/jquery.autocomplete.js"></script>
<script src="js/alllib.js" type="text/javascript"></script>
</header>