<header id="header" th:fragment="copy">
	<div class="top-nav">
		<!--  Header Logo  -->
		<div id="logo">
			<a class="navbar-brand" href="/index.html">
				<img src="img/logo.png" class="normal" alt="logo"></img>
				<img src="img/logo@2x.png" class="retina" alt="logo"></img>
			</a>
		</div>
		<!--  END Header Logo  -->
		<div class="secondary-menu">
			<form class="search-form" action="/search" method="GET">
				<div class="form-input">
					<input type="text" id="autocomplete-input"
								placeholder="City Name" class="autocomplete" name="franceCity"/></input>
					<input type="text" id="autocomplete-inputDomainName"
								placeholder="Domain Name" class="autocomplete" name="franceDomain"/></input>
					<!-- replacing the select domain option by an autocomplete much like the autocomplete above -->			
					<!--<select name="domainSelect" id="domainSelect">
					<option value="0">Select domain</option>
					<option th:each="domain : ${dataDominList}" th:value="${domain}"
									th:text="${domain}"></option>
				</select> -->
				<span class="form-button">
					<button class="btn-alt small active margin-null" type="submit">Search</button>
				</span>
			</div>
		</form>
	</div>
</div>
<nav class="navbar navbar-default">
	<!--  Classic menu, responsive menu classic  -->
	<div id="menu-classic">
		<div class="menu-holder">
			<ul>
				<li class="submenu">
					<a href="/index.html" class="active-item">Home</a>
				</li>
				<li>
					<a href="/about.html">About</a>
				</li>
				<li>
					<a href="/services.html">Services</a>
				</li>
				<li class="submenu">
					<a href="/blog-sidebar.html">Blog</a>
				</li>
				<li>
					<a href="/contact.html">Contact</a>
				</li>
			</ul>
		</div>
	</div>
	<!--  END Classic menu, responsive menu classic  -->
	<!--  Button for Responsive Menu Classic  -->
	<div id="menu-responsive-classic">
		<div class="menu-button">
			<span class="bar bar-1"></span>
			<span class="bar bar-2"></span>
			<span class="bar bar-3"></span>
		</div>
	</div>
	<!--  END Button for Responsive Menu Classic  -->
	<div class="secondary-menu-mobile">
		<ul>
			<li class="mail">
				<i class="fa fa-envelope" aria-hidden="true"></i>
				<a href="/maito:info@domain.com">info@domain.com</a>
			</li>
			<li class="phone">
				<i class="fa fa-phone" aria-hidden="true"></i>+39 123456789
			
			</li>
			<li class="lang">
				<span class="current">
					<a href="/#">En</a>
				</span>
				<ul>
					<li>
						<a href="/#">It</a>
					</li>
				</ul>
			</li>
			<!-- Search Icon -->
			<li class="search">
				<i class="fa fa-search" aria-hidden="true"></i>
			</li>
		</ul>
	</div>
</nav>
<script src="js/jquery.min.js"></script>
<!-- All js library -->
<script src="js/bootstrap/bootstrap.min.js"></script>
<script src="js/jquery.flexslider-min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/isotope.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/jquery.scrollTo.min.js"></script>
<script src="js/smooth.scroll.min.js"></script>
<script src="js/jquery.appear.js"></script>
<script src="js/jquery.countTo.js"></script>
<script src="js/jquery.scrolly.js"></script>
<script src="js/plugins-scroll.js"></script>
<script src="js/imagesloaded.min.js"></script>
<script src="js/pace.min.js"></script>
<script src="js/main.js"></script>
<script src="js/jquery.autocomplete.js"></script>
</header>