<html>
<head>
<title>CLegalServices</title>
<style>
table, th, td {
	border: 1px solid black;
	border-spacing: 0px;
}

th, td {
	padding: 10px;
}
</style>
</head>
<body>
	<form action="/listProject" method="POST">
		<h3 align="right">
			<input type="submit" value="create Project" />
		</h3>
	</form>
	<table>
		<thead>
			<h2>List of avaliable User in DB</h2>
			<tr>
				<th>FName</th>
				<th>Lname</th>
				<th>Email</th>
				<th>Mobile</th>
				<th>Highest Qualification</th>
				<th>Consultation charges</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="userMaster : ${userMasterList}">
				<td th:text="${userMaster.fname}"></td>
				<td th:text="${userMaster.lname}"></td>
				<td th:text="${userMaster.email}"></td>
				<td th:text="${userMaster.contactNumber}"></td>
				<td th:text="${userMaster.qualification}"></td>
				<td th:text="${userMaster.consultationcharges}"></td>
			</tr>
		</tbody>
	</table>
	<br />
	<h2>Add into User Master</h2>

	<form action="/addInUserMaster" method="POST">
		<table>
			<tbody>
				<tr>

					<td>FName</td>
					<td><input type="text" id="fname" name="fname" /></td>
				</tr>
				<tr>
					<td>LName</td>
					<td><input type="text" id="lname" name="lname" /></td>
				</tr>
				<tr>
					<td>Email</td>
					<td><input type="text" id="email" name="email" /></td>
				</tr>
				<tr>
					<td>Contact No</td>
					<td><input type="text" id="contactNumber" name="contactNumber" /></td>
				</tr>
				<tr>
					<td>Highest Qualification</td>
					<td><input type="text" id="qualification" name="qualification" /></td>
				</tr>
				<tr>
					<td>Consultation charges</td>
					<td><input type="text" id="consultationcharges"
						name="consultationcharges" /></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" /></td>
				</tr>

			</tbody>
		</table>
	</form>




	<h2>Search from UserMaster</h2>


	<form action="/searchFromUserMaster" method="POST">
		<table>
			<tbody>
				<tr>
					<td><input type="text" name="search" id="search"
						th:value="${search}" /></td>
					<td><input type="submit" value="Search" /></td>
				</tr>
			</tbody>
		</table>
	</form>

	<h2>Delete From user Master</h2>


	<form action="/deleteFromUserMaster" method="POST">
		<table>
			<tbody>
				<tr>
					<td>FName: <input type="text" name="fname" id="fname"
						th:value="${fname}" /></td>
					<td>Email: <input type="text" name="email" id="email"
						th:value="${email}" />
					</td>
					<td><input type="submit" value="Delete User" /></td>
				</tr>
			</tbody>
		</table>
	</form>

</body>
</html>