<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org">
<head>
	<title>Demo</title>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--Bootstrap -->
<link rel="stylesheet" href="css/bootstrap/bootstrap.min.css"/>

<!-- Optional theme -->
<link rel="stylesheet" href="css/bootstrap/bootstrap-theme.min.css"/>

<!-- Custom css -->
<link rel="stylesheet" href="css/style.css"/>

<!-- Manually modified css -->
<link rel="stylesheet" href="css/inspector-stylesheet.css"/>

<!-- Font Awesome -->
<link rel="stylesheet" href="css/font-awesome.min.css"/>

<link rel="stylesheet" href="css/ionicons.min.css"/>

<!-- Flexslider -->
<link rel="stylesheet" href="css/flexslider.css"/>

<!-- Owl -->
<link rel="stylesheet" href="css/owl.carousel.css"/>

<!-- Magnific Popup -->
<link rel="stylesheet" href="css/magnific-popup.css"/>

<script src="js/jquery.min.js"></script>
<!-- All js library -->
<script src="js/bootstrap/bootstrap.min.js"></script>
<script src="js/jquery.flexslider-min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/isotope.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/jquery.scrollTo.min.js"></script>
<script src="js/smooth.scroll.min.js"></script>
<script src="js/jquery.appear.js"></script>
<script src="js/jquery.countTo.js"></script>
<script src="js/jquery.scrolly.js"></script>
<script src="js/plugins-scroll.js"></script>
<script src="js/imagesloaded.min.js"></script>
<script src="js/pace.min.js"></script>
<script src="js/main.js"></script>
<script src="js/jquery.autocomplete.js"></script>
<script src="js/alllib.js" type="text/javascript"></script>
</head>
<body>
<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa fa-arrow-up"></i></button>
		<!-- <div th:insert="headerAutocomplete :: copy"></div> -->
		<header id="header" th:fragment="copy">
			<div class="top-nav">
				<!--  Header Logo  -->
				<div id="logo">
					<a class="navbar-brand" href="/index.html">
						<img src="img/logo.png" class="normal" alt="logo"></img>
		                <img src="img/logo.png" class="retina" alt="logo"></img>
						<!-- <img src="img/logo@2x.png" class="retina" alt="logo"></img> -->
					</a>
				</div>
				<nav class="navbar navbar-default">
					<!--  Classic menu, responsive menu classic  -->
					<div id="menu-classic">
						<div class="menu-holder">
							<ul>
								<li>
		                            <a href="#about">About</a>
		                        </li>
		                        <li>
		                            <a href="#advantages">Advantages</a>
		                        </li>
		                        <li class="submenu">
		                            <a href="#trust">Why trust us?</a>
		                        </li>
		                        <li>
		                            <a href="#customers">Our Customers</a>
		                        </li>
		                        <li th:if="${traCookie}">
		                            <a href="/unregisteredUserDashboard">My Projects</a>
		                        </li>
							</ul>
						</div>
					</div>
						<!--  END Classic menu, responsive menu classic  -->
						<!--  Button for Responsive Menu Classic  -->
						<div id="menu-responsive-classic">
							<div class="menu-button">
								<span class="bar bar-1"></span>
								<span class="bar bar-2"></span>
								<span class="bar bar-3"></span>
							</div>
						</div>
						<!--  END Button for Responsive Menu Classic  -->
		
				</nav>
		        <!-- <input type="search" class="search_box_menu hidden-xs" name="search" placeholder="Search.."> -->
		        <button class="index_search_menu">
		            <i class="fa fa-search"></i>
		        </button>
		        <div id="IndexsearchBoxOpen" style="display: none">
		            <form action="/search" method="GET">
		                <input type="search" id="autocomplete-inputLocationH" placeholder="City Name" class="autocomplete col-xs-12" name="franceCity" maxlength="25">
		                <input type="search" id="autocomplete-inputDomainNameH" placeholder="Area of Practice" class="autocomplete col-xs-12" name="franceDomain" maxlength="60">
		                <button type="" class="col-xs-12">SEARCH</button>
		            </form>
		        </div>
		        <!-- display name of logged in user -->
		<!-- 		<div class="col-md-2" sec:authorize="isAuthenticated()">
				  <span sec:authentication="name">bob</span>
				</div>   -->      
				<div class="language">
					<ul class="right-menu">
						<li class="mail" style="margin-right:0px;"><i class="fa fa-user" aria-hidden="true"></i><a href="/login" th:text="#{signin}">Lawyer? </a></li>
<!-- 		                <li class="mail"><i class="fa fa-user" aria-hidden="true" style="color:#00ff2b"></i><a href="/login">Sign Up</a></li> -->
							<li class="lang">
								<span class="current">
									<a href="/?lang=en">En</a>
								</span>
								<ul>
									<li>
										<a href="/?lang=fr">Fr</a>
									</li>
								</ul>
							</li>
					</ul>
				</div>
		</div>
		</header>		
        <!--  Main Wrap  -->
        <div id="main-wrap">
            <!--  Page Content  -->
            <div id="page-content" class="header-static">
            
            
                <!--  Slider  -->
                <div id="flexslider" class="fullpage-wrap small">
                    <ul class="slides"> 
                        <li class="slides_bg">
<!--                             <div class="text center">
                                <h1 class="heading center white margin-bottom-small">The power of <br/>Artificial Intelligence</h1><p><span id="typed" class="big white" data-typed-first="a creative company" data-typed-second="an innovative company"></span></p>
                                <p class="heading white center margin-bottom">transforming legal practices to something never before: simple, online and affordable.</p>
                            </div> -->
                            <!-- <div class="gradient dark"></div> -->


                            <div class="secondary-menu upBgForm">
					<form class="search-form" action="/search" method="GET">
						<div class="form-input">
							<input type="text" id="autocomplete-inputLocation"
										placeholder="City Name" class="autocomplete textboxTop1 col-xs-12" name="franceCity" maxlength="25"/></input>
							<input type="text" id="autocomplete-inputDomainName" 
										placeholder="Area of Practice" class="autocomplete textboxTop2 col-xs-12" name="franceDomain" maxlength="60"/></input>
<!-- 							<select name="domainSelect" id="domainSelect">
							<option value="0">Select domain</option>
							<option th:each="domain : ${dataDominList}" th:value="${domain}"
											th:text="${domain}"></option>
							</select> -->
                            <br>
						<span class="form-button">
							<button class="btn-alt small active margin-null btnTop" type="submit">SEARCH</button>
						</span>
					</div>
				</form>
			 </div>



                        </li>
                    </ul>
<!--                     <div id="godown">
                        <a href="/#home-wrap" class="btn-down">
                            <i class="material-icons">keyboard_arrow_down</i>
                        </a>
                    </div> -->
                </div>
                <!--  END Slider  -->
                <h2 class="small wow fadeInLeft text-center textUrgent"><a href="#">Need urgent help? Contact our legal team now!</a></h2>
                <!-- temporary search box location, eventually to be taken out -->
                
                
                <div id="home-wrap" class="content-section fullpage-wrap">
                    <!-- CTA -->
<!--                     <div class="secondary-background">
                        <div class="container">
                            Section Image
                            <div class="row no-margin">
                                <div class="col-md-9 padding-leftright-null">
                                    <div class="text text-md-center">
                                        <h2 class="white small">We provide the best legal help for any need. Search now!</h2>
                                    </div>
                                </div>
                                <div class="col-md-3 padding-leftright-null">
                                    <div class="text text-right padding-md-top-null text-md-center">
                                        <a href="/#" class="btn-alt active small white margin-null">Find a Lawyer</a>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div> -->
                    <!-- END CTA -->
                    <div class="container">
                    
                        <!-- Section Image -->
<!--                        <div class="row no-margin padding-lg">
                            <div class="col-md-4 padding-leftright-null">
                                <div data-responsive="parent-height" data-responsive-id="about-corporate" class="text padding-md-top-null">
                                    <h2 class="margin-bottom-null left">The perfect solution for every business.</h2>
                                    <div class="padding-onlytop-sm">
                                        <p class="margin-bottom">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                                        </p>
                                        <a href="/#" class="btn-pro">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8 padding-leftright-null">
                                <div data-responsive="child-height" data-responsive-id="about-corporate" class="section-image height-auto-sm">
                                   <picture class="section right bottom">
                                       <img src="img/corporate-notebook.png" class="img-responsive" alt=""/>
                                   </picture>
                               </div>
                            </div>
                        </div>-->
                        <!-- END Section Image -->
                        
                            <!-- Page Content -->
<!--                             <div class="col-md-7 padding-leftright-null flex-column-push-md">
                                About
                                <div class="row no-margin padding-onlytop-lg padding-onlybottom-md padding-md-top">
                                    <div class="col-md-12 padding-leftright-null">
                                        <div class="text padding-topbottom-null">
                                            <h2 class="margin-bottom-null left">About C-Legal.</h2>
                                            <div class="padding-onlytop-sm">
                                                <p class="margin-bottom-null">C-Legal is a legal advisory service dedicated to the automation and re-engineering of legal practices worldwide. Offering a wide range of lawyers through its platform, C-Legal is ready to cater to issues which may range from day-to-day individual needs to large-scale corporate litigations. With the help of its platform, C-Legal serves as a one-stop shop and unified legal marketplace to find laywers and solve issues of any scale and genre.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                END About
                                Services
                                <div class="row no-margin padding-md padding-md-bottom-null">
                                    <div class="col-md-6 padding-leftright-null">

                                        <div class="text padding-topbottom-null padding-md-bottom">
                                            <i class="material-icons color service">card_travel</i>
                                            <h3 class="margin-bottom-extrasmall">Experience</h3>
                                            <p class="margin-bottom-null">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                                        </div>

                                         <div class="text padding-topbottom-null padding-md-bottom">
                                            <i class="material-icons color service">lightbulb_outline</i>
                                            <h3 class="margin-bottom-extrasmall">Vision</h3>
                                            <p class="margin-bottom-null">With a global network of lawyers concentrated on the C-Legal platform, C-Legal envisions to become the single marketplace for catering to legal needs of any scale and genre worldwide.</p>
                                        </div> 
                                    </div>
                                    <div class="col-md-6 padding-leftright-null">
                                        <div class="text padding-topbottom-null">
                                            <i class="material-icons color service">trending_up</i>
                                            <h3 class="margin-bottom-extrasmall">Goals</h3>
                                            <p class="margin-bottom-null">With the help of sophisticated Machine Learning techniques, we aim to accelerate the pace of legal practices, providing quality and affordable service in a reduced time frame.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="row no-margin padding-md">
                                    <div class="col-md-6 padding-leftright-null">
                                        <div class="text padding-topbottom-null padding-md-bottom">
                                            <i class="material-icons color service">lightbulb_outline</i>
                                            <h3 class="margin-bottom-extrasmall">Vision</h3>
                                            <p class="margin-bottom-null">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 padding-leftright-null">
                                        <div class="text padding-topbottom-null">
                                            <i class="material-icons service color">headset_mic</i>
                                            <h3 class="margin-bottom-extrasmall">Professional Support</h3>
                                            <p class="margin-bottom-null">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                                        </div>
                                    </div>
                                </div>

                                END Services
                            </div> -->
                            <!-- END Page Content -->
                            <!-- Sidebar -->
<!--                             <div class="col-md-5 padding-leftright-null flex-column-pull-md">
                                <div class="row no-margin">
                                    <div class="col-md-12 padding-leftright-null">
                                        <aside class="page-sidebar text padding-md-bottom-null">
                                            <div class="widget-wrapper">
                                                <ul class="widget-box">
                                                    <li><a href="/" class="active-item">Corporate Law</a></li>
                                                    <li><a href="/">Labor and Security Law</a></li>
                                                    <li><a href="/">Intellectual Property Law</a></li>
                                                    <li><a href="/">Tax Law</a></li>
                                                    <li><a href="/">Commercial Law</a></li>
                                                    <li><a href="/">Audit</a></li>
                                                </ul>
                                            </div>
                                        </aside>
                                    </div>
                                </div>
                            </div> -->
<!-- 
                            <div class="widget-wrapper hidden-md">
                                <h5>Our Brochures</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet suscipit ipsam itaque, totam incidunt.</p>
                                <a href="/" class="btn-alt small active margin-bottom-small margin-left-null"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>Our Presentation PDF</a>
                                <a href="/" class="btn-alt small active margin-null"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>Finantial Report PDF</a>
                            </div>                            
 -->
                    </div>
                    <!-- END Sidebar -->                        
                    <!-- Services -->
                      <div class="light-background"> 
                    <!-- Services -->
                    
                     <!-- Services Section -->
                    <div class="white-background" id="about">
                        <div class="container">
                            <div class="row no-margin padding-lg">
                                <div class="col-md-4 padding-leftright-null wow fadeInDown">
                                    <div class="text padding-topbottom-null padding-md-bottom text-center">
                                    	<img src="icons/lawyer.png" width="50%">
                                        <!-- <i class="material-icons service color">ic_people_outline</i> -->
                                        <h3 class="margin-bottom-extrasmall">Find your lawyer</h3>
                                        <!-- <p class="margin-bottom-null">Choose a lawyer best suited to your needs, and contact them by phone or e-mail.</p> -->
                                        <p class="margin-bottom-null">Choose a lawyer best suited to your needs.</p>                                        
                                    </div>
                                </div>
                                <div class="col-md-4 padding-leftright-null wow fadeInDown">
                                    <div class="text padding-topbottom-null padding-md-bottom text-center">
                                    	<img src="icons/trackYourOrder.png" width="50%">
                                        <!-- <i class="material-icons color service">ic_track_changes</i> -->
                                        <h3 class="margin-bottom-extrasmall">Track your request</h3>
                                        <p class="margin-bottom-null">Track the status of your problem on our online legal management platform.</p>
                                    </div>
                                </div>
                                <div class="col-md-4 padding-leftright-null wow fadeInDown">
                                    <div class="text padding-topbottom-null text-center">
                                    	<img src="icons/checkandfinish.png" width="50%">
                                        <!-- <i class="material-icons color service">ic_done_all</i> -->
                                        <h3 class="margin-bottom-extrasmall">Click and finish</h3>
                                        <p class="margin-bottom-null">Once you are satisfied with the solution of your case, simply close the project and that's it!.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END Services Section -->
                    
                    
                    <!-- Services -->
                    <div class="light-background"> 
                        <div class="container">
                            <div class="row no-margin padding-lg">
                                <div class="col-md-6 padding-leftright-null wow fadeInLeft">
                                    <div data-responsive="child-height" data-responsive-id="services-corporate" class="section-image height-auto-md margin-md-bottom">
                                        <picture class="section right">
                                            <img src="img/corporate-tablet.png" class="img-responsive" alt="">
                                        </picture>
                                    </div>
                                </div>
                                <div class="col-md-6 padding-leftright-null" id="advantages">
                                    <div data-responsive="parent-heght" data-responsive-id="services-corporate" class="text padding-topbottom-null">
                                        <h2 class="margin-bottom-null left  wow fadeInRight">Introducing Lawgic - your cloud-based personal space with your lawyer</h2>
                                        <!-- Box Services -->
                                        <div class="row box-services padding-onlytop-md">
                                            <div class="col-md-6 padding-leftright-null wow fadeInDown">
                                                <div class="box-service text-center">
                                                	<img src="icons/followUp.png" width="100%">
                                                    <!-- <i class="material-icons color service">ic_trending_up</i> -->
                                                    <h3 class="margin-bottom-extrasmall">Follow Up<br> 24/24</h3>
                                                    <p class="margin-bottom-null">Track the progress of your legal problem in real time.</p>
                                                </div>
                                            </div>
                                            <div class="col-md-6 padding-leftright-null wow fadeInDown">
                                                <div class="box-service text-center">
                                                	<img src="icons/chatExchange.png" width="100%">
                                                    <!-- <i class="material-icons color service">ic_swap_horiz</i> -->
                                                    <h3 class="margin-bottom-extrasmall">Exchange</h3>
                                                    <p class="margin-bottom-null">Chat with your lawyer in real time and exchange files in full confidentiality.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END Box Services -->
<!--                                         <div class="row no-margin">
                                            <div class="text padding-left-null padding-bottom-null">
                                                <a href="#" class="btn-pro">Read More</a>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END Services -->
                    
                    
                    
                    <!-- BEGIN End-to-end philosophy -->
<!--                     <div class="color-background"> 
                        <div class="container">
                            <div class="row no-margin padding-onlytop-lg">
                                <div class="col-md-6 padding-leftright-null">
                                    <div class="text padding-top-null">
                                        <h3 class="big white">Connecting the dots.. from problem to solution</h3>
                                    </div>
                                </div>
                                <div class="col-md-6 padding-leftright-null">
                                    <div class="text padding-top-null">
                                        <p class="white margin-bottom-small">
                                            Introducing Lawgic - our in-house cloud-based project management system that allows you to track the progress of your legal request, share documents, and chat with your lawyer: all in real time. All under the blanket of CryptoSecurity. 
                                        </p>
                                        <a href="/#" class="btn-pro white">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row no-margin padding-onlybottom-lg">
                                <div class="col-md-12 padding-leftright-null">
                                    <div class="text padding-topbottom-null">
                                        <picture>
                                            <img src="img/statistics.png" alt="" class="img-responsive"/>
                                        </picture>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- END end-to-end philosophy -->
                    
                    <!-- why work with us BEGIN -->
                    <div class="white-background" id="trust"> 
                        <div class="container">
                            <div class="row no-margin padding-lg">
                            <h2 class="margin-bottom-null left text-center-mobile wow fadeInLeft">Why trust us?</h2>
                                <div class="col-md-6 padding-leftright-null">
                                    <div data-responsive="parent-height" data-responsive-id="services-corporate" class="padding-topbottom-null paddright15">
                                        <!-- <h2 class="margin-bottom-null left">Tackle your legal hurdles faster with our legal management platform</h2> -->
                                        <!-- Box Services -->
                                        <div class="row box-services padding-onlytop-md">
                                            <div class="col-md-6 padding-leftright-null">
                                                <div class="box-service text-center wow fadeInDown">
                                                	<img src="icons/quality.png" width="100%">
                                                    <!-- <i class="material-icons color service">ic_verified_user</i> -->
                                                    <h3 class="margin-bottom-extrasmall">Quality</h3>
                                                    <p class="margin-bottom-null">We feature the best lawyers, at your service around the clock.</p>
                                                </div>
                                            </div>
                                            <div class="col-md-6 padding-leftright-null">
                                                <div class="box-service text-center wow fadeInDown">
                                                	<img src="icons/reliable.png" width="100%">
                                                    <!-- <i class="material-icons color service">ic_sentiment_very_satisfied</i> -->
                                                    <h3 class="margin-bottom-extrasmall">Reliable</h3>
                                                    <p class="margin-bottom-null">Thanks to our rigorous follow up service, we ensure that your problem gets solved.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 padding-leftright-null">
                                    <div data-responsive="parent-height" data-responsive-id="services-corporate" class="padding-topbottom-null paddleft15">
                                        <!-- <h2 class="margin-bottom-null left">Tackle your legal hurdles faster with our legal management platform</h2> -->
                                        <!-- Box Services -->
                                        <div class="row box-services padding-onlytop-md">
                                            <div class="col-md-6 padding-leftright-null">
                                                <div class="box-service text-center wow fadeInDown">
                                                	<img src="icons/secure.png" width="100%">
                                                    <!-- <i class="material-icons color service">ic_security</i> -->
                                                    <h3 class="margin-bottom-extrasmall">Secure</h3>
                                                    <p class="margin-bottom-null">The highest levels of crypto-security ensure that your exchanges with your lawyer on our platform respect confidentiality to the fullest degree.</p>
                                                </div>
                                            </div>
                                            <div class="col-md-6 padding-leftright-null">
                                                <div class="box-service text-center wow fadeInDown">
                                                	<img src="icons/comprehensive.png" width="100%">
                                                    <!-- <i class="material-icons color service">ic_sync</i> -->
                                                    <h3 class="margin-bottom-extrasmall" style="overflow-wrap: break-word;">Comprehensive</h3>
                                                    <!-- <p class="margin-bottom-null">By accompanying you right from the search of your lawyer to solving your legal problem, we ensure that we are by your side every step of the way.</p> -->
                                                    <p class="margin-bottom-null">By accompanying you right from the search of your lawyer to solving your legal problem, we ensure that we are by your side from start to finish.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="light-background" id="customers">
                      <div class="container">
                        <div class="row no-margin padding-lg">
                            <div class="col-md-12 padding-leftright-null">
                                <div class="col-md-4 text padding-topbottom-null">
                                    <h3 class="margin-md-bottom wow fadeInLeft">See what our customers<br/>say about us.</h3>
                                </div>
                                <div class="col-md-8 padding-leftright-null">
                                    <!-- Testimonials -->
                                    <section class="testimonials-carousel-single wow fadeInRight">
                                        <div class="item padding-leftright-null">
                                            <div class="text padding-bottom-null">
                                                <div class="person">
                                                    <div class="description">
                                                        <em>Anna Brown</em>
                                                        <span class="margin-null"> CEO at Index.com</span>
                                                    </div>
                                                </div>
                                                <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur voluptatum fugiat molestias, veritatis perspiciatis laborum modi beatae placeat explicabo at laudantium aliquam, nam vero ut!</blockquote>
                                            </div>
                                        </div>
                                        <div class="item padding-leftright-null">
                                            <div class="text padding-bottom-null">
                                                <div class="person">
                                                    <div class="description">
                                                        <em>John Doe</em>
                                                        <span class="margin-null">CMO at Company.com</span>
                                                    </div>
                                                </div>
                                                <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur voluptatum fugiat molestias, veritatis perspiciatis laborum modi beatae placeat explicabo at laudantium aliquam, nam vero ut!</blockquote>
                                            </div>
                                        </div>
                                        <div class="item padding-leftright-null">
                                            <div class="text padding-bottom-null">
                                                <div class="person">
                                                    <div class="description">
                                                        <em>Susan Tril</em>
                                                        <span class="margin-null">Designer at Pink.com</span>
                                                    </div>
                                                </div>
                                                <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur voluptatum fugiat molestias, veritatis perspiciatis laborum modi beatae placeat explicabo at laudantium aliquam, nam vero ut!</blockquote>
                                            </div>
                                        </div>
                                    </section>
                                    <!-- END Testimonials -->
                                </div>
                            </div>
                        </div>
                       </div>
                    </div>
                    <!-- END Section Partners -->
                </div>
            </div>
            <!--  END Page Content -->
        </div>
        <!--  Main Wrap  -->
        </div>

        <!--  Footer  -->
		<!-- <div th:insert="footer :: copy"></div> -->
<!--  Footer  -->
        <footer id="footer" th:fragment="copy">
            <div class="container">
                <div class="row no-margin">
                    <div class="col-md-3 text">
                        <div class="logo">
                            <img src="img/logo-white.png" class="normal" alt="logo" />
                            <img src="img/logo-white.png" class="retina" alt="logo" />
                            <!-- <img src="img/logo_white@2x.png" class="retina" alt="logo" /> -->
                        </div>
                        <p>Your legal marketplace </p>
                        <div>
                            <ul class="social">
                                <li>Find us on</li>
                                <li><a href="/"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                <li><a href="/"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 text small">
                        <h4 class="heading white margin-bottom-small weight-300">Head Office</h4>
                        <p>Centerpriser SAS <br/>
                            29 Chemin du Vieux Chêne, 38240 Meylan<br/>
                            Mon. - Fri., 9 a.m. - 6.00 p.m.</p>
                    </div>
                    <div class="col-md-2 text small">
                        <h4 class="heading white margin-bottom-small weight-300">Important link</h4>
                        <ul class="info">
                            <li><a href="/">Home</a></li>
                            <li><a href="/about.html">About Us</a></li>
                            <li><a href="/services.html">Services</a></li>
<!--                             <li><a href="/">FAQ</a></li> -->
                            <li><a href="/contact.html">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 text">
                        <h4 class="heading white margin-bottom-small weight-300">News Subscribtion</h4>
                        <p>Subscribe to our newsletter to get all our news in your inbox.</p>
                        <div id="newsletter-form">
                            <form class="search-form">
                                <div class="form-input">
                                    <input type="text" placeholder="Your email ID"/>
                                    <span class="form-button">
                                        <button type="button">Sign Up</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div id="copy">
            <div class="container">
                <div class="row no-margin">
                    <div class="col-md-6 text">
                        <p>©2017 <a href="/#">Centerpriser</a>. All rights reserved. </p>
                    </div>
                    <div class="col-md-6 text text-right">
                        <ul>
                            <li><a href="/privacyPolicy">Privacy Policy</a></li>
                            <li><a href="/cookiePolicy">Cookie Policy</a></li>
                            <li><a href="/termsConditions">Term and Condition</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--  END Footer. Class fixed for fixed footer  -->
<script>
 document.onreadystatechange = function () {
  var state = document.readyState
  if (state == 'interactive') {
       document.getElementById('mainPage').style.visibility="hidden";
  } else if (state == 'complete') {
      setTimeout(function(){
         document.getElementById('interactive');
         document.getElementById('load').style.visibility="hidden";
         document.getElementById('mainPage').style.visibility="visible";
      },1000);
  }
}
</script>
</body>
</html>