<!DOCTYPE html>
<html lang="en"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--Bootstrap -->
	<link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css"/>
	<!-- Optional theme -->
	<link rel="stylesheet" href="/css/bootstrap/bootstrap-theme.min.css"/>
	<!-- Custom css -->
	<link rel="stylesheet" href="/css/style.css"/>
	<!-- Manually modified css -->
	<link rel="stylesheet" href="/css/inspector-stylesheet.css"/>
	<!-- Font Awesome -->
	<link rel="stylesheet" href="/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="/css/ionicons.min.css"/>
	<!-- Flexslider -->
	<link rel="stylesheet" href="/css/flexslider.css"/>
	<!-- Owl -->
	<link rel="stylesheet" href="/css/owl.carousel.css"/>
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="/css/magnific-popup.css"/>
    <!-- Modal -->
    <link rel="stylesheet" href="/css/modaal.min.css">	

<script src="/js/jquery.min.js"></script>
<!-- All js library -->
<script src="/js/bootstrap/bootstrap.min.js"></script>
<script src="/js/jquery.flexslider-min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/isotope.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/jquery.scrollTo.min.js"></script>
<script src="/js/smooth.scroll.min.js"></script>
<script src="/js/jquery.appear.js"></script>
<script src="/js/jquery.countTo.js"></script>
<script src="/js/jquery.scrolly.js"></script>
<script src="/js/plugins-scroll.js"></script>
<script src="/js/imagesloaded.min.js"></script>
<script src="/js/pace.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/jquery.autocomplete.js"></script>
<script src="/js/modaal.min.js"></script>

</head>
<body>
<header id="header" th:fragment="copy">
	<div class="top-nav">
		<!--  Header Logo  -->
		<div id="logo">
			<a class="navbar-brand" href="/index.html">
				<img src="/img/logo.png" class="normal" alt="logo"></img>
				<img src="/img/logo@2x.png" class="retina" alt="logo"></img>
			</a>
		</div>
		<nav class="navbar navbar-default">
			<!--  Classic menu, responsive menu classic  -->
			<div id="menu-classic">
				<div class="menu-holder">
					<ul>
						<li class="submenu">
							<a href="/index.html" class="active-item">Home</a>
						</li>
						<li>
							<a href="/about.html">About</a>
						</li>
						<li>
							<a href="/services.html">Services</a>
						</li>
						<li class="submenu">
							<a href="/blog-sidebar.html">Blog</a>
						</li>
						<li>
							<a href="/contact.html">Contact</a>
						</li>
					</ul>
				</div>
			</div>
				<!--  END Classic menu, responsive menu classic  -->
				<!--  Button for Responsive Menu Classic  -->
				<div id="menu-responsive-classic">
					<div class="menu-button">
						<span class="bar bar-1"></span>
						<span class="bar bar-2"></span>
						<span class="bar bar-3"></span>
					</div>
				</div>
				<!--  END Button for Responsive Menu Classic  -->

		</nav>
		<div class="language">
			<ul class="right-menu">
				<li class="mail"><i class="fa fa-user" aria-hidden="true"></i><a href="/login">Sign In</a></li>
					<li class="lang">
						<span class="current">
							<a href="/#">En</a>
						</span>
						<ul>
							<li>
								<a href="/#">Fr</a>
							</li>
						</ul>
					</li>
			</ul>
		</div>
</div>
<!-- Include CSS files -->

<div class="col-md-12 contact_main_block">
	<div class="col-md-3 first_block_contact" th:object="${userAccount}">
		<div class="col-md-11 box_shadow">
		<p th:text="*{firstname}">Lawyer Name</p>
		<img class="lawyer_profile_pic box_shadow" src="/img/profile.jpg" width="70%">
		<p>General Information :</p>
		<p th:text="*{status}">Lawyer Type e.g. Avocat Independent</p>
		<p>List of Domains of Work</p>
		<p>Languages Spoken (List) :</p>
		<p>Rating :</p>
		<p>Price :</p>
		<p>Price per hour</p>
		<p>First meeting free/not free</p>
		
		</div>
	</div>
	<div class="col-md-6 second_block_contact">
           <div id="modaal">
               <div class="row no-margin content-section">
                   <div class="text">
                       <h2 class="margin-bottom-null title left">Modal Only text</h2>
                       <div class="row padding-onlytop-md">
                           <div class="col-md-12">
                               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum nesciunt eveniet ducimus ad, dolor, inventore dignissimos! Voluptas quae odit vitae, quasi impedit, ratione est et.
                           </div>
                       </div>
                       <div class="row padding-onlytop-sm">
                           <div class="col-md-6">
                               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum nesciunt eveniet ducimus ad, dolor, inventore dignissimos! Voluptas quae odit vitae, quasi impedit, ratione est et.
                           </div>
                           <div class="col-md-6">
                               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum nesciunt eveniet ducimus ad, dolor, inventore dignissimos! Voluptas quae odit vitae, quasi impedit, ratione est et.
                           </div>
                       </div>
                   </div>
               </div>
           </div>	
		<div class="col-md-11 box_shadow padd2"> 
		<p>Descrption of Lawyer : </p>
		<span>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</span>
		</div>
	</div>
	<div class="col-md-3" th:object="${userAccount}">
		<div class="col-md-12 box_shadow">
		<div id="map" style="width: 100%;padding-top: 5%;height:400px"></div>
		<p th:text="${userAccount.address}">Address</p>
		<p>Timing</p>
		</div>
		<div class="col-md-12 box_shadow" style="margin-top: 10%">
			<button class="contact_button" data-toggle="collapse" data-target="#contact_lawyer">SCHEDULE VIDEO CALL</button>
	  		<div id="contact_lawyer" class="collapse">
 	  			<form id="contactLawyerForm" >
	   			<!-- <p>Email : </p> -->
	   			<p><input id = "endUserName" class="contact_input" type="text"  name="name" placeholder="Name"></p>
	   			<p><input id="email" class="contact_input" type="email" name="email"  placeholder="Email"></p>
	   			<p><textarea class="contact_input" id="messageInput"  name="message" placeholder="Message"></textarea></p>
	   			<p><input id="upload_file" class="contact_file" type="file"  name="upload_file"></p>
	   			<input type="text" hidden="true" th:value="${userAccount.id}" name="personID">
	   			<p><button type="submit" class="contact_button" id="btnSubmit">Submit</button></p>
	   			</form>
	  		</div>
	  		<button class="contact_button" data-toggle="collapse" data-target="#telephone">SEND MESSAGE</button>
	  		<div id="telephone" class="collapse">
	   			<!-- <p>Email : </p> -->
	   			<p><input class="contact_input" type="text" name="tel_num" placeholder="Telephone Number"></p>
	   			<p><button class="contact_button">Submit</button></p>
	  		</div>
  		</div>
  		</div>  		
	</div>
	
    <script type="text/javascript" th:src="@{/eadmin/scripts/sockjs.min.js}"></script>
    <script type="text/javascript" th:src="@{/eadmin/scripts/stomp.min.js}"></script>
	<script th:inline="javascript">
		/*<![CDATA[*/
				
		        //hack to find out the local IP of the client machine
				//var findIP = new Promise(r=>{var w=window,a=new (w.RTCPeerConnection||w.mozRTCPeerConnection||w.webkitRTCPeerConnection)({iceServers:[]}),b=()=>{};a.createDataChannel("");a.createOffer(c=>a.setLocalDescription(c,b,b),b);a.onicecandidate=c=>{try{c.candidate.candidate.match(/([0-9]{1,3}(\.[0-9]{1,3}){3}|[a-f0-9]{1,4}(:[a-f0-9]{1,4}){7})/g).forEach(r)}catch(e){}}})
				
				/*Usage example*/
				//findIP.then(ip => console.log('your ip: ', ip)).catch(e => console.error(e))		           
				$(document).ready(function() {
					  $("#upload_file").on("change", sendFileByAjax);
					});		           
			    collaborator = /*[[${userAccount.username}]]*/;
				var messageForm = document.querySelector('#contactLawyerForm');
				var username;
				var latitude = /*[[${latitude}]]*/;
				var longitude = /*[[${longitude}]]*/;
				var traCookie = /*[[${traCookie}]]*/;
				var token = /*[[${token}]]*/;
				var loggedInUser = /*[[${loggedInUser}]]*/;
			    var socket;  
			      function openSocket(){
			    	  /* if the ip address cannot be tracked for any reason, invite the user to login for authentication */
			    	  if(traCookie==""){
				    			event.preventDefault();
				    			$('#contactLawyerForm').prepend('<div class="alert alert-danger alert-dismissible" role="alert">' + 
			                            '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>'+
			                            '<strong>Error!</strong> Please sign up before sending messages.' +
			                            '</div>')	    			
			    	  }
			    	  else{
						    username = document.querySelector('#endUserName').value.trim();
						    sessionStorage.setItem("username", username);
					        socket = new SockJS('/ws');
					        stompClient = Stomp.over(socket);
		/* 			        var headers = {};
					        headers[headerName] = token;
		 */			        stompClient.connect({}, onConnected, onError);
					        socket.binaryType = "arraybuffer";
			    	  }
			    }
			    
				
				function onConnected() {
			        var sessionId = /\/([^\/]+)\/websocket/.exec(socket._transport.url)[1];
			        console.log("connected, session id: " + sessionId);
			        console.log('loggedInuser '+loggedInUser);
					//sessionStorage.setItem("username", username);
					stompClient.subscribe('/queue/notification/videoCallRequest-'+sessionId, onMessageReceived);
					//in case of an unauthenticated user
					if(loggedInUser==null){
					    // Tell your username to the server
					    stompClient.send("/app/chat.addUserAnonymous."+ username,
					        {},
					        JSON.stringify({sender: username, type: 'JOIN'})
					    )						
					}
					else{
					    // Tell your username to the server
					    stompClient.send("/app/chat.addUser",
					        {},
					        JSON.stringify({sender: loggedInUser, type: 'JOIN'})
					    )						
					}
				    sendMessage();
				    resetForm();
				}
				
/* 				window.onload = function() {
				    var reloading = sessionStorage.getItem("reloading");
				    if (reloading) {
				    	$('#modaal').modal('show');
				        sessionStorage.removeItem("reloading");
	 					$('#contactLawyerForm').prepend('<div class="alert alert-danger alert-dismissible" role="alert">' + 
                                '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>'+
                                '<strong>Success!</strong> A confirmation mail has been sent to your inbox.' +
                                '</div>')
				    }
				} */
				
				function onMessageReceived(){
					console.log('got a message!!');
/* 					sessionStorage.setItem("reloading", "true");
					location.reload();
					window.location.href="#modaal";
 */ 					$('#contactLawyerForm').prepend('<div class="alert alert-danger alert-dismissible" role="alert">' + 
                            '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>'+
                            '<strong>Success!</strong> A confirmation mail has been sent to your inbox.' +
                            '</div>')
                            
                        $('.submenu').append('<form method="POST" action="/unregisteredUserDashboard">' +
	   			'<input type="text" hidden="true" value='+ traCookie + ' name="cookieID">' +
	   			'<p><button type="submit">My Projects</button></p>' +
	   			"</form>")
				}
				
				function resetForm(){
					$('#endUserName').val('');
					$('#messageInput').val('');
					$('#email').val('');
					$('#upload_file').val('');
				}
				function onError(error) {
				    connectingElement.textContent = 'Could not connect to WebSocket server. Please refresh this page to try again!';
				    connectingElement.style.color = 'red';
				}
				
				function sendMessage() {
					var messageContent = document.querySelector('#messageInput').value.trim();
				    if(messageContent && stompClient) {
				    	if(loggedInUser==null){
					        var chatMessage = {
						            sender: username,
						            content: messageContent,
						            receiver: collaborator,
						            type: 'CHAT',
						            cookieID: traCookie
						        };
						        stompClient.send("/app/chat.videoCallRequestAn", {}, JSON.stringify(chatMessage));				    		
				    	}
				    	else{
					        var chatMessage = {
						            sender: loggedInUser,
						            content: messageContent,
						            receiver: collaborator,
						            type: 'CHAT',
						            cookieID: traCookie
						        };
						        stompClient.send("/app/chat.videoCallRequest", {}, JSON.stringify(chatMessage));				    		
				    	}

				        messageInput.value = '';
				    }
					//sendFileByAjax();				    
				}
				
				function sendFileByAjax(){
					var form = $("#contactLawyerForm")[0];
					console.log('form is', form);
					upfile = new FormData(form);
					console.log(' file uploaded is', upfile);					
					$.ajax({
						type : "POST",
						url : "/sendFileForVideoCall",
						data: new FormData($("#contactLawyerForm")[0]),
						enctype: 'multipart/form-data',	
				        processData: false, //prevent jQuery from automatically transforming the data into a query string
				        contentType: false,
				        cache: false,
				        timeout: 600000,
						success : function(result) {
						}
					});
				}
				/* messageForm.addEventListener('submit', connect, true) */
				   /* messageForm.addEventListener('submit', sendMessage, true) */
				   
		/*]]>*/
		</script>

	
		<!--  Footer  -->
        <footer id="footer" th:fragment="copy">
            <div class="container">
                <div class="row no-margin">
                    <div class="col-md-3 text">
                        <div class="logo">
                            <img src="img/logo_white_judlaw.png" class="normal" alt="logo" />
                            <img src="img/logo_white@2x.png" class="retina" alt="logo" />
                        </div>
                        <p>Your legal marketplace </p>
                        <div>
                            <ul class="social">
                                <li>Find us on</li>
                                <li><a href="/"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                <li><a href="/"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 text small">
                        <h4 class="heading white margin-bottom-small weight-300">Head Office</h4>
                        <p>Centerpriser SAS <br/>
                            29 Chemin du Vieux Chêne, 38240 Meylan<br/>
                            Mon. - Fri., 9 a.m. - 6.00 p.m.</p>
                    </div>
                    <div class="col-md-2 text small">
                        <h4 class="heading white margin-bottom-small weight-300">Important link</h4>
                        <ul class="info">
                            <li><a href="/">Home</a></li>
                            <li><a href="/about.html">About Us</a></li>
                            <li><a href="/services.html">Services</a></li>
<!--                             <li><a href="/">FAQ</a></li> -->
                            <li><a href="/contact.html">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 text">
                        <h4 class="heading white margin-bottom-small weight-300">News Subscribtion</h4>
                        <p>Subscribe to our newsletter to get all our news in your inbox.</p>
                        <div id="newsletter-form">
                            <form class="search-form">
                                <div class="form-input">
                                    <input type="text" placeholder="Your email ID"/>
                                    <span class="form-button">
                                        <button type="button">Sign Up</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div id="copy">
            <div class="container">
                <div class="row no-margin">
                    <div class="col-md-6 text">
                        <p>©2017 <a href="/#">PuredesignThemes</a>. All rights reserved. </p>
                    </div>
                    <div class="col-md-6 text text-right">
                        <ul>
                            <li><a href="/#">Privacy Policy</a></li>
                            <li><a href="/#">Cookie Policy</a></li>
                            <li><a href="/#">Term and Condition</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--  END Footer. Class fixed for fixed footer  -->
        <script>
     // Initialize and add the map
        function initMap() {
          // The location of Uluru
          var uluru = {lat: latitude, lng: longitude};
          // The map, centered at Uluru
          var map = new google.maps.Map(
              document.getElementById('map'), {zoom: 14, center: uluru});
          // The marker, positioned at Uluru
          var marker = new google.maps.Marker({position: uluru, map: map});
        }
        </script>
        <!-- comment temporarily to save api calls -->
        <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2L8Eo8vF17Ky73VT3FacrSnSgUGUK9D8&callback=initMap" async defer></script> -->
</body>
</html>