<!DOCTYPE html>
<html lang="en"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--Bootstrap -->
	<link rel="stylesheet" href="css/bootstrap/bootstrap.min.css"/>
	<!-- Optional theme -->
	<link rel="stylesheet" href="css/bootstrap/bootstrap-theme.min.css"/>
	<!-- Custom css -->
	<link rel="stylesheet" href="css/style.css"/>
	<!-- Manually modified css -->
	<link rel="stylesheet" href="css/inspector-stylesheet.css"/>
	<!-- Font Awesome -->
	<link rel="stylesheet" href="css/font-awesome.min.css"/>
	<link rel="stylesheet" href="css/ionicons.min.css"/>
	<!-- Flexslider -->
	<link rel="stylesheet" href="css/flexslider.css"/>
	<!-- Owl -->
	<link rel="stylesheet" href="css/owl.carousel.css"/>
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="css/magnific-popup.css"/>

<script src="js/jquery.min.js"></script>
<!-- All js library -->
<script src="js/bootstrap/bootstrap.min.js"></script>
<script src="js/jquery.flexslider-min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/isotope.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/jquery.scrollTo.min.js"></script>
<script src="js/smooth.scroll.min.js"></script>
<script src="js/jquery.appear.js"></script>
<script src="js/jquery.countTo.js"></script>
<script src="js/jquery.scrolly.js"></script>
<script src="js/plugins-scroll.js"></script>
<script src="js/imagesloaded.min.js"></script>
<script src="js/pace.min.js"></script>
<script src="js/main.js"></script>
<script src="js/jquery.autocomplete.js"></script>
<script src="js/jquery.stickytableheaders.min.js" > </script>
<script src="js/alllib.js" type="text/javascript"></script>
</head>
<body>
<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa fa-arrow-up"></i></button>
<header id="header" th:fragment="copy">
	<div class="top-nav">
		<!--  Header Logo  -->
		<div id="logo">
			<a class="navbar-brand" href="/index.html">
				<img src="img/logo.png" class="normal" alt="logo"></img>
				<img src="img/logo.png" class="retina" alt="logo"></img>
			</a>
		</div>
		<!--  END Header Logo  -->
		<!-- 		<div class="secondary-menu">
					<form class="search-form" action="/search" method="GET">
						<div class="form-input">
							<input type="text" id="autocomplete-input"
										placeholder="City Name" class="autocomplete" name="franceCity"/></input>
							<input type="text" id="autocomplete-inputDomainName"
										placeholder="Domain Name" class="autocomplete" name="franceDomain"/></input>
							replacing the select domain option by an autocomplete much like the autocomplete above			
							<select name="domainSelect" id="domainSelect">
							<option value="0">Select domain</option>
							<option th:each="domain : ${dataDominList}" th:value="${domain}"
											th:text="${domain}"></option>
						</select>
						<span class="form-button">
							<button class="btn-alt small active margin-null" type="submit">Search</button>
						</span>
					</div>
				</form>
			</div> -->
		<nav class="navbar navbar-default">
			<!--  Classic menu, responsive menu classic  -->
			<div id="menu-classic">
				<div class="menu-holder">
					<ul>
						<li class="submenu">
							<a href="/index.html" class="active-item">Home</a>
						</li>
						<li>
							<a href="/about.html">About</a>
						</li>
						<li>
							<a href="/services.html">Services</a>
						</li>
						<li class="submenu">
							<a href="/blog-sidebar.html">Blog</a>
						</li>
						<li>
							<a href="/contact.html">Contact</a>
						</li>
					</ul>
				</div>
			</div>
				<!--  END Classic menu, responsive menu classic  -->
				<!--  Button for Responsive Menu Classic  -->
				<div id="menu-responsive-classic">
					<div class="menu-button">
						<span class="bar bar-1"></span>
						<span class="bar bar-2"></span>
						<span class="bar bar-3"></span>
					</div>
				</div>
				<!--  END Button for Responsive Menu Classic  -->

		</nav>
		<input type="search" class="search_box_menu hidden-xs" name="search" placeholder="Search..">
		<button class="mobile_search_menu">
			<i class="fa fa-search"></i>
		</button>
		<div id="searchBoxOpen" style="display: none">
			<form action="">
   				<input type="search" class="col-xs-12" name="search" placeholder="Search..">
   				<button type="" class="col-xs-12">SEARCH</button>
   			</form>
  		</div>
		<div class="language">
			<ul class="right-menu">
				<li class="mail" style="margin-right:0px;"><i class="fa fa-user" aria-hidden="true"></i><a href="/login">Sign In</a></li> /
                <li class="mail"><i class="fa fa-user" aria-hidden="true" style="color:#00ff2b"></i><a href="/login">Sign Up</a></li>
					<li class="lang">
						<span class="current">
							<a href="/#">En</a>
						</span>
						<ul>
							<li>
								<a href="/#">Fr</a>
							</li>
						</ul>
					</li>
			</ul>
		</div>
</div>
</header>
<!-- Include CSS files -->
<div class="col-md-12" style="background-color:white;">
<div class="col-md-8 listing_main_block">
	<div class="col-md-12 listing_block wow flipInY" th:each="person : ${persons}">
		<div class="col-md-12 padd0">
			<div class="col-md-9 padd0">
				<div class="col-md-12 padd0 lawyerName">
					<p th:text="${person.firstname}"><a class="laywerNamea" href="#">Lawyer Name</a></p>
					<!-- for loop for stars -->
				</div>
			</div>
			<div class="col-md-3 padd0 text-right">
				<!-- replace anchor tag with form to ensure that the lawyer ID gets sent as a POST and not GET -->
				<!-- <a th:href="'/readMore/'+${person.id}" href="contact.html" class="listing_button_block">READ MORE</a> -->
				<form method="POST" action="/readMore">
					<input type="text" hidden="true" name="personID" th:value="${person.id}">
					<button class="btn-alt small active margin-null" type="submit">Read More</button>
				</form>
			</div>
		</div>
		<div class="col-md-12 padd0 lawyerStatus">
			<p th:text="${person.status}">Lawyer Status</p>
		</div>
		<div class="col-md-12 padd0 lawyerAddress">
			<p th:text="${person.address}">Lawyer Address</p>
		</div>
		<div class="col-md-12 padd0 star_block">
			<ul class="list-inline rating-list"> 
  					<li><i class="fa fa-star blue"></i></li>
  					<li><i class="fa fa-star blue"></i></li>
  					<li><i class="fa fa-star blue"></i></li>
  					<li><i class="fa fa-star blue"></i></li>
  					<li><i class="fa fa-star gray"></i></li>
			</ul>
		</div>
	
		<div class="col-md-4 padd0">
			<img src="img/profile.jpg" class="lawyerProfile" width="50%">
		</div>
		<div class="col-md-4 padd0">
			<p class="listing_p_block">First Meeting Free/Paid</p>
			<p class="listing_p_block">Aide Juristrictionelle</p>
			<p class="listing_p_block">Hourly Fee</p>
			
		</div>
		<div class="col-md-4 padd0">
			<p class="listing_p_block">Domain 1</p>
			<p class="listing_p_block">Domain 2</p>
			<p class="listing_p_block">Domain 3</p>
		</div>
		<div class="col-sm-12 read_more_mobile"><a href="contact.html" class="listing_button_mobile">Read More</a></div>
	</div>
	<div class="row">
	<div th:if="${persons.totalPages != 1}" class="form-group col-md-11 pagination-centered">
		<ul class="pagination">
			<li th:class="${persons.number == 0} ? disabled">
				<a class="pageLink" th:href="@{/search(pageSize=${selectedPageSize}, page=1, franceCity=${franceCity})}">&laquo;</a>
			</li>
			<li th:class="${persons.number == 0} ? disabled">
				<a class="pageLink" th:href="@{/search(pageSize=${selectedPageSize}, page=${persons.number}, franceCity=${franceCity})}">&larr;</a>
			</li>
			<li th:class="${persons.number == (page - 1)} ? 'active pointer-disabled'"
			th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
				<a class="pageLink" th:href="@{/search(pageSize=${selectedPageSize}, page=${page}, franceCity=${franceCity})}" th:text="${page}"></a>
			</li>
			<li th:class="${persons.number + 1 == persons.totalPages} ? disabled">
				<a class="pageLink" th:href="@{/search(pageSize=${selectedPageSize}, page=${persons.number + 2}, franceCity=${franceCity})}">&rarr;</a>
			</li>
			<li th:class="${persons.number + 1 == persons.totalPages} ? disabled">
				<a class="pageLink" th:href="@{/search(pageSize=${selectedPageSize}, page=${persons.totalPages}, franceCity=${franceCity})}">&raquo;</a>
			</li>
		</ul>
	</div>
</div>
</div>

<div id="" class="col-md-4 listing_main_block" >
	<div class="block2_add" style="position: fixed;">
		
		<div class="col-md-12">
			<a href="#"><img src="img/lawyer.png" class="img_add"></a>
		</div>
		<div class="col-md-12 add_text">
			<p>Need Urgent Legal Help?</p>
			<p><a href="#">Contact</a> our legal team now!</p>
		</div>
	</div>
</div>

<div class="clearfix"></div>
<!--  Footer  -->
        <footer id="footer" th:fragment="copy">
            <div class="container">
                <div class="row no-margin">
                    <div class="col-md-3 text">
                        <div class="logo">
                            <img src="img/logo_white_judlaw.png" class="normal" alt="logo" />
                            <img src="img/logo_white@2x.png" class="retina" alt="logo" />
                        </div>
                        <p>Your legal marketplace </p>
                        <div>
                            <ul class="social">
                                <li>Find us on</li>
                                <li><a href="/"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                <li><a href="/"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 text small">
                        <h4 class="heading white margin-bottom-small weight-300">Head Office</h4>
                        <p>Centerpriser SAS <br/>
                            29 Chemin du Vieux Chêne, 38240 Meylan<br/>
                            Mon. - Fri., 9 a.m. - 6.00 p.m.</p>
                    </div>
                    <div class="col-md-2 text small">
                        <h4 class="heading white margin-bottom-small weight-300">Important link</h4>
                        <ul class="info">
                            <li><a href="/">Home</a></li>
                            <li><a href="/about.html">About Us</a></li>
                            <li><a href="/services.html">Services</a></li>
<!--                             <li><a href="/">FAQ</a></li> -->
                            <li><a href="/contact.html">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 text">
                        <h4 class="heading white margin-bottom-small weight-300">News Subscribtion</h4>
                        <p>Subscribe to our newsletter to get all our news in your inbox.</p>
                        <div id="newsletter-form">
                            <form class="search-form">
                                <div class="form-input">
                                    <input type="text" placeholder="Your email ID"/>
                                    <span class="form-button">
                                        <button type="button">Sign Up</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div id="copy">
            <div class="container">
                <div class="row no-margin">
                    <div class="col-md-6 text">
                        <p>©2017 <a href="/#">PuredesignThemes</a>. All rights reserved. </p>
                    </div>
                    <div class="col-md-6 text text-right">
                        <ul>
                            <li><a href="/#">Privacy Policy</a></li>
                            <li><a href="/#">Cookie Policy</a></li>
                            <li><a href="/#">Term and Condition</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--  END Footer. Class fixed for fixed footer  -->
<script>
$('.btn_click').click(function(){
	$('.listing_block').removeClass('animated flipInY');
	var that = $('.listing_block');
    setTimeout(function(){that.addClass('animated flipInY');},500);
});	
</script>
</body>
</html>