<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Bussible HTML Template</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" />

        <!-- Optional theme -->
        <link rel="stylesheet" href="/css/bootstrap/bootstrap-theme.min.css" />

        <!-- Custom css -->
        <link rel="stylesheet" href="/css/style.css"/>

        <!-- Custom css with local modifications by CLegal team -->
        <link rel="stylesheet" href="/css/inspector-stylesheet.css"/>

        <!-- Font Awesome -->
        <link rel="stylesheet" href="/css/font-awesome.min.css"/>
        
        <link rel="stylesheet" href="/css/ionicons.min.css"/>
        
        <!-- Flexslider -->
        <link rel="stylesheet" href="/css/flexslider.css"/>
        
        <!-- Owl -->
        <link rel="stylesheet" href="/css/owl.carousel.css"/>
        
        <!-- Magnific Popup -->
        <link rel="stylesheet" href="/css/magnific-popup.css"/>

        <!-- Modal -->
        <link rel="stylesheet" href="/css/modaal.min.css">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <!--  loader  -->
        <div id="myloader">
            <div class="loader">
                <div class="grid">
                    <div class="cube cube1"></div>
                    <div class="cube cube2"></div>
                    <div class="cube cube3"></div>
                    <div class="cube cube4"></div>
                    <div class="cube cube5"></div>
                    <div class="cube cube6"></div>
                    <div class="cube cube7"></div>
                    <div class="cube cube8"></div>
                    <div class="cube cube9"></div>
                </div>
            </div>
        </div>
	<div th:insert="headerAutocomplete :: copy"></div>

		
		                        <!--  Table  -->
                                <div class="row padding-sm">
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <th>Address</th>
                                                        <th>Name</th>
                                                        <th>Status</th>
                                                        <th>Contact</th>
                                                    </tr>
													<tr th:each="person, iterStat : ${persons}">
														<td th:with="firstname=${person.name}, status=${person.status}" th:text="${person.address}"></td>
														<td th:text="${person.name}"></td>
														<td th:text="${person.status}"></td>
														<td>
				                                        <a href="#modaal" class="inline btn-alt small active margin-null" th:with="recordNo=${iterStat.count}, status=${person.status}" th:onclick="|showContent('${person.name}', '${person.status}', '${person.education}', '${person.paymentMode}', '${person.spokenLanguage}', '${person.address}', '${person.contactNumber}', '${person.lawyerDescription}', '${person.toqueNumber}', '${person.siteName}')|">Read More</a>
		                                              <script th:inline="javascript">
														/*<![CDATA[*/
																    function showContent(name, status, education, paymentMode, spokenLanguage, address, contactNumber, lawyerDescription, toqueNumber, siteName){
																	document.getElementById("1").innerHTML=address;
																	}
														/*]]>*/
														</script>
														<div class="modal fade" id="modaal" role="dialog">
				                                        <!-- <div id="modaal"> -->
				                                            <div class="row no-margin content-section">
				                                                <div class="text">
				                                                    <h2 class="margin-bottom-null title left"></h2>
				                                                    <div class="row padding-onlytop-md">
				                                                        <div class="col-md-12" id="1">
				                                                        </div>
				                                                    </div>
				                                                    <div class="row padding-onlytop-sm">
<!-- 				                                                        <div class="col-md-6">
				                                                        </div>
				                                                        <div class="col-md-6">
				                                                        </div> -->
							                                <!--  Contact Form  -->
							                                <div class="col-md-5 padding-leftright-null">
							                                    <div class="text padding-md-top-null">
							                                        <div class="box-form">
							                                            <form id="contact-form" action="/mail/send" method="POST" th:object="${mailObject}">
							                                                <div class="row no-margin">
							                                                    <div class="col-md-12 padding-leftright-null">
								                                                        <label for="name">Name<sup>*</sup></label>
								                                                        <!-- <input type="text" class="form-control" id="recipient-name"/> -->
								                                                        <input class="form-field" name="name" id="name" type="text" placeholder="Your Name" th:field="*{subject}"/>
							                                                    </div>
							                                                    <div class="col-md-12 padding-leftright-null">
								                                                        <label for="mail">Email<sup>*</sup></label>
								                                                        <input class="form-field" name="mail" id="mail" type="text" placeholder="Your Email" th:field="*{to}"/>
								                                                        <!-- <input type="text" class="form-control" id="recipient-email"> -->
							                                                    </div>
							                                                </div>
							                                                <div class="row no-margin">
							                                                    <div class="col-md-12 padding-leftright-null">
							                                                        <label for="messageForm">Message<sup>*</sup></label>
							                                                        <!-- <textarea class="form-control" id="message-text"></textarea> -->
							                                                        <textarea class="form-field" name="messageForm" id="messageForm" rows="6" placeholder="Your Message" th:field="*{text}"></textarea>
							                                                        <div class="submit-area padding-onlytop-sm">
																							<!-- <button type="submit" class="btn btn-primary">Send message</button> -->
								                                                            <input type="submit" id="submit-contact1" class="btn-alt active shadow" value="Send Message"/>
								                                                            <!-- <button class="form-button" type="submit">Send Message</button> -->
								                                                            <div id="msg" class="message"></div>
							                                                        </div>
							                                                        <div class="control-group"></div>
							                                                    </div>
							                                                </div>
							                                            </form>
							                                        </div>
							                                    </div>
							                                </div>
							                                <!--  END Contact Form  -->
                      				                       </div>
				                                                </div>
				                                            </div>
				                                        </div>
				                                        </td>
													</tr>                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!--  END Table  -->
                                
                                
		<div class="row">
			<div th:if="${persons.totalPages != 1}" class="form-group col-md-11 pagination-centered">
				<ul class="pagination">
					<li th:class="${persons.number == 0} ? disabled">
						<a class="pageLink" th:href="@{/search(pageSize=${selectedPageSize}, page=1, franceCity=${franceCity})}">&laquo;</a>
					</li>
					<li th:class="${persons.number == 0} ? disabled">
						<a class="pageLink" th:href="@{/search(pageSize=${selectedPageSize}, page=${persons.number}, franceCity=${franceCity})}">&larr;</a>
					</li>
					<li th:class="${persons.number == (page - 1)} ? 'active pointer-disabled'"
						th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
						<a class="pageLink" th:href="@{/search(pageSize=${selectedPageSize}, page=${page}, franceCity=${franceCity})}" th:text="${page}"></a>
					</li>
					<li th:class="${persons.number + 1 == persons.totalPages} ? disabled">
						<a class="pageLink" th:href="@{/search(pageSize=${selectedPageSize}, page=${persons.number + 2}, franceCity=${franceCity})}">&rarr;</a>
					</li>
					<li th:class="${persons.number + 1 == persons.totalPages} ? disabled">
						<a class="pageLink" th:href="@{/search(pageSize=${selectedPageSize}, page=${persons.totalPages}, franceCity=${franceCity})}">&raquo;</a>
					</li>
				</ul>
			</div>
		</div>
        <!--  Footer  -->
        <footer>
            <div class="container">
                <div class="row no-margin">
                    <div class="col-md-3 text">
                        <div class="logo">
                            <img src="img/logo_white.png" class="normal" alt="logo" />
                            <img src="img/logo_white@2x.png" class="retina" alt="logo" />
                        </div>
                        <p>The one-stop marketplace for all your legal consulting needs: served fast and affordable. </p>
                        <div>
                            <ul class="social">
                                <li>Find us on</li>
                                <li><a href="/"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                <li><a href="/"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 text small">
                        <h4 class="heading white margin-bottom-small weight-300">Head Office</h4>
                        <p>C-Legal Services <br/>
                            Grenoble, France<br/>
                            Mon. - Fri., 9 a.m. - 6.00 p.m.</p>
                    </div>
                    <div class="col-md-2 text small">
                        <h4 class="heading white margin-bottom-small weight-300">Important link</h4>
                        <ul class="info">
                            <li><a href="/">Home</a></li>
                            <li><a href="/about.html">About Us</a></li>
                            <li><a href="/services.html">Services</a></li>
<!--                             <li><a href="/">FAQ</a></li> -->
                            <li><a href="/contact.html">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 text">
                        <h4 class="heading white margin-bottom-small weight-300">News Subscribtion</h4>
                        <p>Subscribe to our newsletter to get all our news in your inbox.</p>
                        <div id="newsletter-form">
                            <form class="search-form">
                                <div class="form-input">
                                    <input type="text" placeholder="Your email ID"/>
                                    <span class="form-button">
                                        <button type="button">Sign Up</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div id="copy">
            <div class="container">
                <div class="row no-margin">
                    <div class="col-md-6 text">
                        <p>©2017 <a href="/#">PuredesignThemes</a>. All rights reserved. </p>
                    </div>
                    <div class="col-md-6 text text-right">
                        <ul>
                            <li><a href="/#">Privacy Policy</a></li>
                            <li><a href="/#">Cookie Policy</a></li>
                            <li><a href="/#">Term and Condition</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--  END Footer. Class fixed for fixed footer  -->
        

		
		
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="js/jquery.min.js"></script>
        <!-- All js library -->
        <script src="js/bootstrap/bootstrap.min.js"></script>
        <script src="js/jquery.flexslider-min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/isotope.min.js"></script>
        <script src="js/jquery.magnific-popup.min.js"></script>
        <script src="js/jquery.scrollTo.min.js"></script>
        <script src="js/smooth.scroll.min.js"></script>
        <script src="js/jquery.appear.js"></script>
        <script src="js/jquery.countTo.js"></script>
        <script src="js/jquery.scrolly.js"></script>
        <script src="js/plugins-scroll.js"></script>
        <script src="js/imagesloaded.min.js"></script>
        <script src="js/pace.min.js"></script>
        <script src="js/main.js"></script>
        <script src="js/modaal.min.js"></script>
 </body>
</html>