<!DOCTYPE html>
<html lang="en"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<title>Bussible HTML Template</title>
		<!-- Bootstrap -->
		<link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" />
		<!-- Optional theme -->
		<link rel="stylesheet" href="/css/bootstrap/bootstrap-theme.min.css" />
		<!-- Custom css -->
		<link rel="stylesheet" href="/css/style.css"/>
		<!-- Custom css with local modifications by CLegal team -->
		<link rel="stylesheet" href="/css/inspector-stylesheet.css"/>
		<!-- Font Awesome -->
		<link rel="stylesheet" href="/css/font-awesome.min.css"/>
		<link rel="stylesheet" href="/css/ionicons.min.css"/>
		<!-- Flexslider -->
		<link rel="stylesheet" href="/css/flexslider.css"/>
		<!-- Owl -->
		<link rel="stylesheet" href="/css/owl.carousel.css"/>
		<!-- Magnific Popup -->
		<link rel="stylesheet" href="/css/magnific-popup.css"/>
		<!-- Modal -->
		<link rel="stylesheet" href="/css/modaal.min.css">
			<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
			<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
			<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
			<![endif]-->
		</head>
		<body>
			<div th:insert="headerAutocomplete :: copy"></div>
			<!--  Table  -->
			<div class="row padding-sm">
				<div class="col-md-12" th:each="person : ${persons}">
		            <div class="well search-result">
		            	<div class="row">
		            		<a href="#">
		                		<div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
			                    	<img class="img-responsive" src="img/logo.png" alt="">
		                		</div>
		                		<div class="col-xs-6 col-sm-9 col-md-9 col-lg-10 title">
			                    	<p th:text="${person.name}"></p>
			                    	<p th:text="${person.address}"></p>
			                    	<p th:text="${person.status}"></p>
			                    	<p th:text="${person.languages}"></p>
			                    	<p th:text="${person.siteName}"></p>
			                    	
			                    		<a th:href="'#'+${person.id}" class="inline btn-alt small active margin-null" data-toggle="modal">Read More </a>
										<a href="#contactMe" class="inline btn-alt small active margin-null" data-toggle="modal" > Contact </a>
										
										
										<!-- Read More Popup -->
										<div class="modal fade" th:id="${person.id}" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
											<div class="modal-dialog modal-dialog-centered" role="document">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title" id="modalCenterTitle">
															<strong>Read More:</strong> Details.
														</h5>
														<button type="button" class="close" data-dismiss="modal" aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
													</div>
													<div class="modal-body">
													
																<div class="row">
																  <label for="recipient-name" class="col-md-6" >Name:</label>
															      <div class="col-md-6"><span th:text="${person.name}"></span> </div>
															    </div>
																<div class="row">
																  <label for="Status" class="col-md-6" >Status: </label>
																	<div class="col-md-6">
																		<h4 th:text="${person.status}"></h4>
																	</div>
																</div>
																<div class="row">
																  <label class="col-md-6"> Education:</label>
																	<div class="col-md-6">
																		<h4 th:text="${person.education}"></h4>
																	</div>
																</div>
																<div class="row">
																  <label class="col-md-6"> Spoken Language:</label>
																	<div class="col-md-6">
																		<h4 th:text="${person.languages}"></h4>
																	</div>
																</div>
																<div class="row">
																  <label  class="col-md-6"> LawyerDescription:</label>
																	<div class="col-md-6">
																		<h4 th:text="${person.lawyerDescription}"></h4>
																	</div>
																</div>
																<div class="row">
																  <label class="col-md-6"> Site Name:</label>
																	<div class="col-md-6">
																		<h4 th:text="${person.siteName}"></h4>
																	</div>
																</div>
																<div class="row">
																  <label class="col-md-6"> Address:</label>
																	<div class="col-md-6">
																		<h4 th:text="${person.address}"></h4>
																	</div>
																</div>
													</div>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
												</div>
											</div>
										</div>
										<!--  Read More End  -->	

			                    		<!-- Contact Modaal -->
										<div class="modal fade" id="contactMe" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
											  <div class="modal-dialog modal-dialog-centered" role="document">
											    <div class="modal-content">
											      <div class="modal-header">
											        <h5 class="modal-title" id="modalCenterTitle"><strong>Kindly Fill Your Details,</strong> So That Our Associate Can Contact you.</h5>
											        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
											          <span aria-hidden="true">&times;</span>
											        </button>
											      </div>
												  <form id="contact-form" action="/mail/send" method="POST" th:object="${mailObject}">
											      <div class="modal-body">
																	<div class="row no-margin">
																		<div class="col-md-12 padding-leftright-null">
																		<input class="form-field" name="formType" id="formType" type="hidden" value="contact"/>
																			<label for="name">Name												
																				<sup>*</sup>
																			</label>
																			<input class="form-field" name="name" id="name" type="text" placeholder="Your Name" th:field="*{subject}"/>
																		</div>
																		<div class="col-md-12 padding-leftright-null">
																			<label for="mail">Email
																				<sup>*</sup>
																			</label>
																			<input class="form-field" name="mail" id="mail" type="text" placeholder="Your Email" th:field="*{to}"/>
																		</div>
																		<div class="col-md-12 padding-leftright-null">
																			<label for="messageForm">Message
																																
																				<sup>*</sup>
																			</label>
																			<textarea class="form-field" name="messageForm" id="messageForm" rows="6" placeholder="Your Message" th:field="*{text}"></textarea>
																		</div>
																	</div>
											      </div>
											      <div class="modal-footer">
											        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
											        <button type="submit" class="btn btn-primary">Send Message</button>
											      </div>
												  </form>
											    </div>
											  </div>
											</div>
										<!-- Contact Modaal End -->
		                		</div>
		            		</a>
		            	</div>
		            </div>
				</div>
			</div>
			<!--  END Table  -->
			<div class="row">
				<div th:if="${persons.totalPages != 1}" class="form-group col-md-11 pagination-centered">
					<ul class="pagination">
						<li th:class="${persons.number == 0} ? disabled">
							<a class="pageLink" th:href="@{/search(pageSize=${selectedPageSize}, page=1, franceCity=${franceCity})}">&laquo;</a>
						</li>
						<li th:class="${persons.number == 0} ? disabled">
							<a class="pageLink" th:href="@{/search(pageSize=${selectedPageSize}, page=${persons.number}, franceCity=${franceCity})}">&larr;</a>
						</li>
						<li th:class="${persons.number == (page - 1)} ? 'active pointer-disabled'"
						th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
							<a class="pageLink" th:href="@{/search(pageSize=${selectedPageSize}, page=${page}, franceCity=${franceCity})}" th:text="${page}"></a>
						</li>
						<li th:class="${persons.number + 1 == persons.totalPages} ? disabled">
							<a class="pageLink" th:href="@{/search(pageSize=${selectedPageSize}, page=${persons.number + 2}, franceCity=${franceCity})}">&rarr;</a>
						</li>
						<li th:class="${persons.number + 1 == persons.totalPages} ? disabled">
							<a class="pageLink" th:href="@{/search(pageSize=${selectedPageSize}, page=${persons.totalPages}, franceCity=${franceCity})}">&raquo;</a>
						</li>
					</ul>
				</div>
			</div>
			<!--  Footer  -->
        <!--  Footer  -->
		<div th:insert="footer :: copy"></div>
		</body>
	</html>
